.ui-accordion { display:block; width:230px; background:rgba(50,50,60,0.89); color:#fff; font: 1.05em "Gill Sans",sans-serif; text-shadow:none; font-weight:120;}
.ui-accordion a{ display: block; text-decoration:none;}


.ui-accordion label span.accordionLabel {display:inline-block; font-weight:250;}
.ui-accordion label span.accordionSub {display:block; font-weight:200; margin-left:21px;}

a.ui-accordion-header { background: rgba(140,140,140,0.5); border-radius: 0 0 0 0; border: rgba(30,30,30,0.2) 1px solid; color:#fff;  padding:2px 5px;}
ul.ui-accordion-content {list-style-type:none; background: rgba(10,10,10,0.1); border-radius: 0 0 0 0; color:#fff; font-size:.85em; display:block; overflow:hidden;}
ul.ui-accordion-content li{border:rgba(30,30,30,0.2) 1px solid; background: rgba(228,108,10,0.1); border-width: 1px 0 1px 0; width:100%; padding: 2px 0px 2px 10px; }
a.ui-accordion-header span { margin-left:5px;}
a.ui-accordion-header span.ui-icon { }
a.ui-accordion-header span.ui-icon-triangle-1-e { margin: 2px 0 0 0; float:left; width:14px; height:12px; display:block; background:transparent url("../images/collapsed.png");}
a.ui-accordion-header span.ui-icon-triangle-1-s { margin: 2px 0 0 0;float:left; width:14px; height:12px; display:block; background:transparent url("../images/expanded.png"); } 