canvas {float:left;}

a.accordionToggler { float:left; display:inline-block; width:28px; height:36px;  /*box-shadow: 3px 0 4px 1px #bbb;*/ border-radius: 0 10px 10px 0; -moz-border-radius: 0 10px 10px 0; -webkit-border-radius: 0 10px 10px 0; text-decoration:none; background: none no-repeat scroll center rgba(45,50,55,0.65); color:#fff; position:relative; top:30px; letter-spacing:2px; font-family:"Gill Sans","Helvetica",sans-serif;}
a.atcollapse {background-image: url("../images/expandIn.png"); }
a.atexpand {background-image: url("../images/expandOut.png");}

.bank { display:inline-block; float:left; width: 210px; min-height:190px; padding-bottom:20px; /*box-shadow: 0 0 4px 1px #bbb;*/  font: 10px/12px "Gill Sans","helvetica",sans-serif; color: #fff; text-shadow:none;}
.bank h1,h2,h3,h4 {margin:0px; padding:0px; color:#fffbe7;}
.bank h2 {font:14px "gill sans", sans-serif; display:inline-block; float: left; color:#ffffff; font-size: 14px; font-weight:100; border:none; padding:9px 30px 9px 30px; 
background: -moz-linear-gradient(top,  rgba(255,255,255,0.7) 0%, rgba(11,95,160,0.7) 23%, rgba(0,88,156,0.7) 24%, rgba(0,81,144,0.7) 99%, rgba(0,81,144,0.7) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(23%,rgba(11,95,160,0.7)), color-stop(24%,rgba(0,88,156,0.7)), color-stop(99%,rgba(0,81,144,0.7)), color-stop(100%,rgba(0,81,144,0.7))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(11,95,160,0.7) 23%,rgba(0,88,156,0.7) 24%,rgba(0,81,144,0.7) 99%,rgba(0,81,144,0.7) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(11,95,160,0.7) 23%,rgba(0,88,156,0.7) 24%,rgba(0,81,144,0.7) 99%,rgba(0,81,144,0.7) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(11,95,160,0.7) 23%,rgba(0,88,156,0.7) 24%,rgba(0,81,144,0.7) 99%,rgba(0,81,144,0.7) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0.7) 0%,rgba(11,95,160,0.7) 23%,rgba(0,88,156,0.7) 24%,rgba(0,81,144,0.7) 99%,rgba(0,81,144,0.7) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#b3005190',GradientType=0 ); /* IE6-9 */

}

.bank .tabContainer {border-bottom: 2px #005190 solid; }
.bank h3 {display:inline-block; float: left; color:#ffffff; font-size: 12px; font-weight:100; border:none; text-decoration:none; width:204px;}
#callSelectorLink {display: inline-block; width:32px; height:32px; background: transparent url("../images/addLayers.png"); margin-left: 50px;float:right;}
.bank div,.bank ul {display:block;width:100%; margin:0 auto;}
.bank ul {max-height:90px;}
.bank h3 {background: rgba(120,120,120,.7); margin-top:2px; padding: 1px 3px; font-size:10px !important;}
.bank li.item {padding:0; display:block; width:198px; padding:8px 9px 8px 3px;
background: -moz-linear-gradient(top,  rgba(0,0,0,0.54) 0%, rgba(2,2,2,0.54) 1%, rgba(78,78,78,0.54) 50%, rgba(0,0,0,0.54) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.24)), color-stop(1%,rgba(2,2,2,0.24)), color-stop(50%,rgba(78,78,78,0.24)), color-stop(100%,rgba(0,0,0,0.24))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.24) 0%,rgba(2,2,2,0.24) 1%,rgba(78,78,78,0.24) 50%,rgba(0,0,0,0.24) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.24) 0%,rgba(2,2,2,0.24) 1%,rgba(78,78,78,0.24) 50%,rgba(0,0,0,0.24) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.24) 0%,rgba(2,2,2,0.24) 1%,rgba(78,78,78,0.24) 50%,rgba(0,0,0,0.24) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.24) 0%,rgba(2,2,2,0.24) 1%,rgba(78,78,78,0.24) 50%,rgba(0,0,0,0.24) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d000000', endColorstr='#3d000000',GradientType=0 ); /* IE6-9 */


}

.mCustomScrollBox > .mCSB_scrollTools {right: -6px;}


.bank li.item a {float:right; color:#fff; margin-right:5px; margin-top:3px;}
.bank li.item a.hdanchor {margin-top:0px;}
.bank li.item h4 {font-size:9px; font-weight:bold; padding:0 3px;}
.bank li.item p {padding:0 3px; color:#fffbe7; }
.bank li.item span.palette {display:block; overflow:hidden; margin-top:5px; margin-left:5px;}
.bank li.item ul.palette li {float:left;}
.bank ul.category {  /*background: rgba(255,255,255,.7); border-radius:5px; */}
.bank ul.category li h3 {display:block; clear:both; float:none;}
span.p-min {float:left;}
span.p-max {float:left;}
span.p-units {float:left;}


.ui-tabs-hide {display:none !important;}
