
div.olControlMousePosition {
	position: absolute;
	right: 12px; 
	bottom: 80px;
	z-index: 2000;
	padding: 1px 8px;

	display: block;
   	font-size: xx-small;
   	color: #EEEEEE;
   	background-color:rgba(38,38,38,0.4);
}


div.olControlScaleLineCustom {
	position: absolute;
	right: 12px;
	bottom: 100px;
	z-index: 2000;
	
	display: block;
   	font-size: xx-small;
   	color: #EEEEEE;
}

.olControlScaleLineCustomBottom {
   border: solid 2px black;
   border-bottom: none;
   margin-top:-2px;
   text-align: center;
   background-color:rgba(38,38,38,0.4);
}
.olControlScaleLineCustomTop {
   border: solid 2px black;
   border-top: none;
   text-align: center;
   background-color:rgba(38,38,38,0.4);
}


/*  CSS for full-screen map div and mobile device support  */
@media only screen and (max-width: 600px) {
    html, body {
        height  : 117%;
    }
}

.olControlAttribution {
    position      : absolute;
    font-size     : 10px;
    bottom        : 0 !important;
    right         : 0 !important;
    background    : rgba(0,0,0,0.1);
    font-family   : Arial;
    padding       : 2px 4px;
    border-radius : 5px 0 0 0;
}

div.olMap {
    background-color: #000000;
}


/*  Zoom panel controls */
div.olControlZoomPanelCustom {
	top: 91px;
    left: 14px;
	height: 108px;
	width: 36px;
	position: relative !important;
	float:right;
	margin:0 20px 0 0;
	cursor: pointer;
}

div.olControlZoomPanelCustom div {
    width: 24px;
    height: 24px;
    left: 0;
}

div.olControlZoomPanelCustom .olControlZoomInCustomItemInactive,
div.olControlZoomPanelCustom .olControlZoomOutCustomItemInactive {
    position: absolute;
}
div.olControlZoomPanelCustom .olControlZoomInCustomItemInactive {
    background: rgba(45,45,45,.75);
	top: 0;
    background-position: 0 0;
    border-radius: 5px 5px 0 0;
    /*box-shadow: 0 0 4px 1px #bbb;*/

}
div.olControlZoomPanelCustom .olControlZoomOutCustomItemInactive {
    background: rgba(45,45,45,.75);
    top: 72px;
    background-position: 0 -72px;	
    border-radius: 0 0 5px 5px ;
    top: 27px;
   	/*box-shadow: 0 0 4px 1px #bbb;*/

}
div.olControlZoomPanelCustom .olControlZoomOutCustomItemInactive:after ,
div.olControlZoomPanelCustom .olControlZoomInCustomItemInactive:after{
    font-weight: bold;
    content   : '+';
    font-size : 24px;
    padding:  5px;
    z-index: 2000;
    color     : #FFFFFF;
    line-height: 1em;
}
div.olControlZoomPanelCustom .olControlZoomOutCustomItemInactive:after{
    content: '–';
    line-height: 1em;
    padding: 5px;
}

div.olControlZoomPanelCustom .olControlZoomToMaxExtentItemInactive {
    top: 36px;
    background-position: 0 -36px;
    display: none;
}

/*  End Zoom Panel */




.olControlLayerSwitcher {
    position: absolute;
    top: 180px;
    right: 0px;
    width: 35em;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: smaller;
    color: white;
    background-color: transparent;
}

.olControlLayerSwitcher .layersDiv {
    padding-top: 5px;
    padding-left: 1px;
    padding-bottom: 5px;
    padding-right: 3px;
    background-color: darkblue;
    width: 100%;

}


.olControlLayerSwitcher .layersDiv .baseLbl,
.olControlLayerSwitcher .layersDiv .dataLbl {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;

}

.olControlLayerSwitcher .layersDiv .baseLayersDiv{
     padding-left: 10px;
        overflow: auto;
        height: 80px;
        opacity: 1 !important;
}

.olControlLayerSwitcher .layersDiv .dataLayersDiv {
    padding-left: 10px;
        overflow: auto;
        height: 250px;
        opacity: 1 !important;
}

.olControlLayerSwitcher .maximizeDiv,
.olControlLayerSwitcher .minimizeDiv {
    top: 5px;
    right: 0px;
}

.olLayerGridTile .olTileImage {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: all 0 none;
    transition: none;
}

.olImageLoadError {
    background-color: transparent !important;
}


#title, #tags, #shortdesc {
    display: none;
}
