
div.olControlPermalink {
	right: 10px;
	bottom: 10px;
}

div.olControlLayerSwitcher {
	right: 0px;
	top: 150px;
}

div.olControlScaleLineCustom {
	position: absolute;
	right: 12px;
	bottom: 160px;
	z-index: 2000;
	
	display: block;
   	font-size: xx-small;
   	color: #EEEEEE;
}

.olControlScaleLineCustomBottom {
   border: solid 2px black;
   border-bottom: none;
   margin-top:-2px;
   text-align: center;
   background-color:rgba(38,38,38,0.4);
}
.olControlScaleLineCustomTop {
   border: solid 2px black;
   border-top: none;
   text-align: center;
   background-color:rgba(38,38,38,0.4);
}


/*  CSS for full-screen map div and mobile device support  */
html, body {
    margin  : 0;
    padding : 0;
    height  : 100%;
    width   : 100%;
}
@media only screen and (max-width: 600px) {
    html, body {
        height  : 117%;
    }
}
#mapdiv {
    width    : 100%;
    position : relative;
    height   : 100%;
}
.olControlAttribution {
    position      : absolute;
    font-size     : 10px;
    bottom        : 0 !important;
    right         : 0 !important;
    background    : rgba(0,0,0,0.1);
    font-family   : Arial;
    padding       : 2px 4px;
    border-radius : 5px 0 0 0;
}

div.olMap {
    background-color: #FFFFFF;
}


/*  Zoom panel controls */
div.olControlZoomPanelCustom {
	top: 71px;
    left: 14px;
	height: 108px;
	width: 36px;
	position: relative !important;
	float:right;
	margin:0 20px 0 0;
	cursor: pointer;
}

div.olControlZoomPanelCustom div {
    width: 36px;
    height: 36px;
    left: 0;
}

div.olControlZoomPanelCustom .olControlZoomInCustomItemInactive,
div.olControlZoomPanelCustom .olControlZoomOutCustomItemInactive {
    position: absolute;
}
div.olControlZoomPanelCustom .olControlZoomInCustomItemInactive {
	background-color:rgba(38,38,38,0.7);
	top: 0;
    background-position: 0 0;
    border-radius: 5px 5px 0 0;
}
div.olControlZoomPanelCustom .olControlZoomOutCustomItemInactive {
	background-color:rgba(38,38,38,0.7);
    top: 72px;
    background-position: 0 -72px;	
    border-radius: 0 0 5px 5px ;
    top: 37px;
}
div.olControlZoomPanelCustom .olControlZoomOutCustomItemInactive:after ,
div.olControlZoomPanelCustom .olControlZoomInCustomItemInactive:after{
    font-weight: bold;
    content   : '+';
    font-size : 36px;
    padding:  7px;
    z-index: 2000;
    color     : #FFFFFF;
    line-height: 1em;
}
div.olControlZoomPanelCustom .olControlZoomOutCustomItemInactive:after{
    content: '–';
    line-height: 0.9em;
    padding: 0 8px;
}

div.olControlZoomPanelCustom .olControlZoomToMaxExtentItemInactive {
    top: 36px;
    background-position: 0 -36px;
    display: none;
}

/*  End Zoom Panel */


#title, #tags, #shortdesc {
    display: none;
}
