/*  CSS for mobile  */ 	
div.olControlZoomPanel {
height: 108px;
width: 36px;
position: relative !important;
float:right;
margin:0 20px 0 0;

}
div.olControlZoomPanel div {
    width: 36px;
    height: 36px;
/*    background-image: url(../js/ext/openlayers-2.11/examples/img/mobile-zoombar.png);*/
    left: 0;
}
div.olControlZoomPanel .olControlZoomInItemInactive {
    top: 0;
    background-position: 0 0;
}
div.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    top: 36px;
    background-position: 0 -36px;
}
div.olControlZoomPanel .olControlZoomOutItemInactive {
    top: 72px;
    background-position: 0 -72px;
}

div.olControlPermalink {
	right: 10px;
	bottom: 10px;
}

/*div.olControlLayerSwitcher {
	right: 18px;
	top: 10px;
}*/

div.olControlScaleLine {
	left: 10px;
	bottom: 10px;
}

/*  CSS for full-screen map div and mobile device support  */
html, body {
    margin  : 0;
    padding : 0;
    height  : 100%;
    width   : 100%;
}
@media only screen and (max-width: 600px) {
    html, body {
        height  : 117%;
    }
}
#mapdiv {
    width    : 100%;
    position : relative;
    height   : 100%;
}
.olControlAttribution {
    position      : absolute;
    font-size     : 10px;
    bottom        : 0 !important;
    right         : 0 !important;
    background    : rgba(0,0,0,0.1);
    font-family   : Arial;
    padding       : 2px 4px;
    border-radius : 5px 0 0 0;
}
div.olControlZoomPanel .olControlZoomInItemInactive,
div.olControlZoomPanel .olControlZoomOutItemInactive {
    /*background: rgba(0,0,0,0.4);*/
    background-color:rgba(38,38,38,0.7);
    position: absolute;
}
div.olControlZoomPanel .olControlZoomInItemInactive {
    border-radius: 5px 5px 0 0;
}
div.olControlZoomPanel .olControlZoomOutItemInactive {
    border-radius: 0 0 5px 5px ;
    top: 37px;
}
div.olControlZoomPanel .olControlZoomOutItemInactive:after ,
div.olControlZoomPanel .olControlZoomInItemInactive:after{
    font-weight: bold;
    content   : '+';
    font-size : 36px;
    padding:  7px;
    z-index: 2000;
    color     : #fff;
    line-height: 1em;
}
div.olControlZoomPanel .olControlZoomOutItemInactive:after{
    content: '–';
    line-height: 0.9em;
    padding: 0 8px;
}
div.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    display: none;
}
#title, #tags, #shortdesc {
    display: none;
}
