ul.menuPicker {
	margin: 0;
	padding: 0;
	color: white;
	list-style: none;
	display: block;
}

ul.menuPicker li {
	border: 1px solid black;
	width: 90px;
	background: #666;
	padding: .2em 1em;
}

ul.menuPicker li:hover {
	background: #9B1C26;
}

ul.menuPicker li.disabled {
	background: #999;
}