ul {
	margin: 0;
	padding: 0;
	background: #666;
	width: 150px;
}

ul li {
	color: #fff;
	list-style: none;
	border: 1px solid black;
	padding: .2em 1em;
	height: auto;
}

ul li:hover {
	background: #9B1C26;
}

ul li.disabled {
	background: #999;
}