/*
.colorBar {
    width: 100px;
    height: 30px;
    border: 2px solid #aaaaaa;
}
*/

#xpalette-selector .dd-selected-image {
    margin-top: 14px;
    margin-right: 10px;
    border: 1px solid black;
}

#xpalette-selector .dd-option-image {
    border: 1px solid black;
    margin-right: 10px;    
}

#xpalette-selector .dd-option-description {
    margin-left: 75px;
}
