#selector {display:none;}

.selector { display:block; width: 100%; height:510px; padding-bottom:20px; font: 10px/12px "Gill Sans","helvetica",sans-serif !important; color: #141b4c; border-radius: 10px; text-shadow:none; overflow:auto;}

.selector h1,h2,h3,h4 {margin:0px; padding:0px;}
.selector h2 {display:inline-block; float: left; color:#ffffff; font-size: 14px; font-weight:100; border:none; padding:6px 0;}
.selector h3 {display:inline-block; float: left; color:#333333; font-size: 12px; font-weight:100; border:none; text-decoration:none; }
.selector div,.selector ul {display:block; overflow:hidden; width:98%; margin:0 auto; padding:5px;}
.selector li.selectorItem {padding:0; display:block; background:#fff; width:200px; height:38px;border-radius:5px; padding:5px; margin-top:10px; float:left; margin-left:5px; overflow:hidden;}
.selector li.selectorItem input {float:right;}
.selector li.selectorItem h4 {font-size:9px !important; font-weight:bold !important; color: #141b4c !important;}
.selector ul.category { min-height:170px; background: rgba(255,255,255,.7); border-radius:5px; margin-top:10px; max-height:190px; overflow:auto;}
.selector ul.category li h3 {display:block !important; clear:both; float:none !important; color:#333333 !important; margin-left:5px;}
.selector a.flowbutton {text-decoration:none; display:inline-block; float: left; color:#ffffff !important; font-size: 14px; font-weight:100; border:none; padding:6px 0; margin-top:20px; margin-left:5px;}
.selector ul li div {padding:0 !important;}
.selector ul.toplevel {padding:0px;}
.selector ul.toplevel li {float:left; width:auto; margin: 20px 20px 0 0;}
.selector ul.toplevel img {border-radius:5px; border:#fff 2px solid; }
.selector ul.toplevel a p {width:100%; text-align:center; color:#ffffff; font-weight:400; font-size: 12px;}
#selector .bd {background: rgba(38, 43, 49, 0.65) !important; border-radius: 0 0 10px 10px; }
#selector .hd {background: rgba(38, 43, 49, 0.65) !important;border-radius: 10px 10px 0 0; }
#selector_c .yui-panel {border-radius:10px;}
#selector_c .underlay {border-radius:10px;}
