html,body, div, ul, li {display:block; margin:0; padding:0; }
body {min-width:600px;}
div {display:block;}

.yui-skin-sam .yui-panel {background: transparent; width:700px; 	font: 13px "Gill Sans", sans-serif; font-weight:100;}  
.yui-skin-sam .yui-panel-container .hd{ background:rgba(45,45,45,0.5); color:#ffffff; border:none; padding:0;}
.yui-skin-sam .yui-panel-container .bd{ background:rgba(45,45,45,0.75); color:#d5d5d5;}
.yui-skin-sam .yui-panel-container .bd h3{ color:#FFFFFF; font: 18px "Gill Sans", sans-serif; font-weight:400; text-decoration:none; }
.yui-skin-sam .yui-panel-container .bd h4{ color:#000000; font: 18px "Gill Sans", sans-serif; font-weight:400; text-decoration:none; }
.yui-skin-sam .yui-panel-container .bd a {color: #48a8ff; }

#switch {  overflow:hidden; z-index:1000; }
#switch div{display:block; }
#switch img {display:block !important; width:40px; height:40px; }
#switch ul li {margin:0px !important;}
#switch ul li div.hidden {display:none; }
#switch ul li:hover div.hidden {display:block; background: rgba(45,45,45,0.75); border-radius:0 0 5px 5px; position:relative; top:-1px;}
#switch ul li:hover div.hidden a img {border:transparent 1px solid;}
#switch ul li:hover div.hidden a:hover img {border: #fff 1px solid; }
#switchcurrent {border:transparent 1px solid;}
/*#switch ul li div.hidden a:hover img {border:#155678 2px solid; }*/

#permpanel h3 {color:#FFFFFF; font: 12px "Gill Sans", sans-serif; font-weight:100; text-decoration:none;}
#permpanel input[type='text']{width:280px;}

div.horizontalContainer {width:100%; display:block; float:left;  position:absolute;  overflow:hidden; bottom:0; z-index:200; padding: 5px 0 5px 0;}
/*#imgDownloadLink,#aboutus,#permalink {float:right; margin-top:5px; position:relative; z-index:1002;display:block; width:50px; }
#imgDownloadLink,#aboutus,#permalink img {width:50px; height:44.5px; border:none;}
#imgDownloadLink,#aboutus,#permalink a{text-decoration:none; border:none;}*/


#permalink_content {margin-top:10px;}

.hidden {display:none;} 

#products { z-index:200; display:block; float:left;  position:absolute; left:0; top:15%;}

#banner {
	display:block; z-index:291; float:left; position:relative; width:100%; height: 49px; background: transparent url("../images/toolbarbg.png");
}
#banner img.logo {padding:11px 5px;}
#banner ul {float:right;}
#banner ul li {display:block; float:right; margin:3px 3px;}

#hazard, #transition {z-index:1007; clear:both; float:left; display:block; position:relative; }

#transition {width:22%; height:100px; text-shadow:none; color: #262626; margin-top:55px;}
#hazard {top:-13px; }

#map {position:absolute !important; left:0; top:0;} 

#dlMap {position:absolute !important; left:0; top:0; background-color:#0000FF; opacity:0; width:100%; height:100%;z-index:-1; overflow:hidden;
}

#rubberband {position:absolute !important; left:0; top:0; width:100%;  height:100%;  z-index:-3; display:none; overflow:hidden; }
#imagedownload {z-index:1005; width:160px; min-height:100px; position:absolute; display:none; background: rgba(45,45,45,0.75);
				text-shadow:none; color:white; float:left; font-size:11px; text-align: left; top:44px; padding:5px; border-radius: 0 0 5px 5px;}
#imgFileSize {color:#D99694;}

#hazard ul {
	padding: 0;
	margin-left: 0; 
	font: 13px "Gill Sans", sans-serif;
	text-align: center;
	text-shadow:none;
}

#hazard ul li {
	margin: 0;
	float: left;
	border-width: 1.5pt;
	padding: 0 5px 0 5px;
}

#hazard ul li.disabled {
	color: rgb(156,156,156);
}

#hazard ul.collapsible li div {
	position: absolute;
	left: -999em;
}

#hazard ul.collapsible:hover li div {
	position: relative;
	left: 0;
}

#hazard ul li:hover {
	border-color: yellow;
}

#hazard_item0 {
	background-color: rgb(149,55,53);
	border-color: rgb(217,150,148);
}

#hazard_item0.disabled, #hazard_item0.disabled:hover {
	background-color: rgb(92,76,77);
	border-color: rgb(113,95,96);
}

#hazard_item1 {
	background-color: rgb(23,55,94);
	border-color: rgb(85,142,213);
}

#hazard_item1.disabled, #hazard_item1.disabled:hover {
	background-color: rgb(54,66,76);
	border-color: rgb(78,100,119);
}

#hazard_item2 {
	background-color: rgb(74,69,42);
	border-color: rgb(148,138,84);
}

#hazard_item2.disabled, #hazard_item2.disabled:hover {
	background-color: rgb(58,56,52);
	border-color: rgb(105,99,78);
}

#hazard_item3 {
	background-color: rgb(160,162,108);
	border-color: rgb(209,212,111);
}

#hazard_item3.disabled, #hazard_item3.disabled:hover {
	background-color: rgb(101,103,86);
	border-color: rgb(127,128,97);
}

#hazard_item4 {
	background-color: rgb(127,127,127);
	border-color: rgb(166,166,166);
}

#hazard_item4.disabled, #hazard_item4.disabled:hover {
	background-color: rgb(63,63,63);
	border-color: rgb(97,97,97);
}

#hazard_item5 {
	background-color: rgb(79,98,40);
	border-color: rgb(101,117,79);
}

#hazard_item5.disabled, #hazard_item5.disabled:hover {
	background-color: rgb(83,83,67);
	border-color: rgb(101,117,79);
}

#hazard_item6 {
	background-color: rgb(64,49,82);
	border-color: rgb(179,162,199);
}

#transition ul {
	font: 10px "Gill Sans", sans-serif;
	text-align: center;
}

#transition ul li, #transition ul li.disabled, #transition ul li.disabled:hover {
	background-color: rgb(76,89,92);
	border-color: rgb(112,135,136);
	border-width: .75pt;
}

#transition ul li.selected {
	background-color: rgb(152,72,7);
	border-color: rgb(250,192,144);
}

#transition ul li:hover {
	border-color: yellow;
}