/* splash screen */
/*#splash_c {background-color:rgba(180, 205, 205, 1); }
#conclusionPanel_c {background-color:rgba(38, 43, 49, 1); }*/

#splash_c div{background-color:rgba(193, 205, 205, 1); }
#conclusionPanel_c div{background-color:rgba(193, 205, 205, 1); }

.yui-skin-sam .yui-panel-container .bd .splash h3{ color:rgb(38, 43, 49); font: 18px "Gill Sans", sans-serif; font-weight:400; text-decoration:none; }

img.splash{ 
  display:block; 
  margin-left:auto; 
  margin-right:auto; }

table.splash td{ 
  padding:15px; }

p.splash{ 
  color:rgb(38, 43, 49);  }

p.splash span.highlight{ 
  font-weight:bold; }

button.takeTour{ 
  float:right;
  border:1px solid #d7dada; 
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 10px 10px 10px 10px;  
  text-align: center; 
  color: #000000; 
  background-color: #f4f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f5f5), color-stop(100%, #dfdddd));
  background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: linear-gradient(top, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
  width:110px; 
  height:40px; }


button.takeTour:hover {
  border:1px solid #bfc4c4; 
  background-color: #d9dddd;
  color: #000000; 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9dddd), color-stop(100%, #c6c3c3));
  background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: linear-gradient(top, #d9dddd, #c6c3c3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d9dddd, endColorstr=#c6c3c3);
}

				 
button.skipTour{ 
  float:left;
  border:1px solid #d7dada; 
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 10px 10px 10px 10px;  
  text-align: center; 
  color: #000000; 
  background-color: #f4f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f5f5), color-stop(100%, #dfdddd));
  background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: linear-gradient(top, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
  width:110px; 
  height:40px; }


button.skipTour:hover {
  border:1px solid #bfc4c4; 
  background-color: #d9dddd;
  color: #000000; 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9dddd), color-stop(100%, #c6c3c3));
  background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: linear-gradient(top, #d9dddd, #c6c3c3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d9dddd, endColorstr=#c6c3c3);
}


/* tour panels */
table.tour td{ 
  padding:2px; 
  vertical-align: top; }

p.tour{ 
  color:rgb(38, 43, 49);
  font-size:12px; }

p.tour span.highlight{ 
  font-weight:bold; }

p.tour span.tryIt{ 
  font-weight:bold; }

button.repeatTour{ 
  float:right;
  border:1px solid #d7dada; 
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 10px 10px 10px 10px;  
  text-align: center; 
  color: #000000; 
  background-color: #f4f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f5f5), color-stop(100%, #dfdddd));
  background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: linear-gradient(top, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
  width:110px; 
  height:40px; }
  
	   
button.repeatTour:hover {
  border:1px solid #bfc4c4; 
  background-color: #d9dddd;
  color: #000000; 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9dddd), color-stop(100%, #c6c3c3));
  background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: linear-gradient(top, #d9dddd, #c6c3c3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d9dddd, endColorstr=#c6c3c3);
}
				   
button.done{ 
  float:left;
  border:1px solid #d7dada; 
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 10px 10px 10px 10px;  
  text-align: center; 
  color: #000000; 
  background-color: #f4f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f5f5), color-stop(100%, #dfdddd));
  background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: linear-gradient(top, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
  width:110px; 
  height:40px; }

button.done:hover {
  border:1px solid #bfc4c4; 
  background-color: #d9dddd;
  color: #000000; 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9dddd), color-stop(100%, #c6c3c3));
  background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: linear-gradient(top, #d9dddd, #c6c3c3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d9dddd, endColorstr=#c6c3c3);
}
			   
img.tour{ 
  display:inline; 
  margin-left:auto; 
  margin-right:auto; }

ul.tour {
  margin-left: 1.5em; 
  color:rgb(38, 43, 49);  }
  
ul.tour li{ 
  margin-left: 1.5em; 
  display:list-item; }

/* CSS-only modal
 * Source: http://blog.avtex.com/2012/01/26/cross-browser-css-only-modal-box/
 */

.dumbBoxWrap {     /* The div that shows/hides. */
    display:none;  /* starts out hidden */
    z-index:40001; /* High z-index to ensure it appears above all content */
}

.dumbBoxOverlay { /* Shades out background when selector is active */
    position:fixed;
    width:100%;
    height:100%;
    background-color:black;
    opacity:.5; /* Sets opacity so it's partly transparent */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE transparency */
    filter:alpha(opacity=50); /* More IE transparency */
    z-index:40001;
}

.vertical-offset { /* Fixed position to provide the vertical offset */
    position:fixed;
    top:30%;
    width:100%;
    z-index:40002; /* ensures box appears above overlay */
}

.dumbBox { /* The actual box, centered in the fixed-position div */
    width:405px; /* Whatever width you want the box to be */
    position:relative;
    margin:0 auto;
    /*Everything below is just visual styling */
    background-color:white;
    padding:10px;
    border:1px solid black;
}
