/* Colors */
$wv-orange: #d54e21;
$wv-transparent-black: rgb(40 40 40 / 85%);
$wv-solid-black: #282828;
$wv-white-font: #eee;

/* Shadows */
$wv-map-text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
$wv-modal-shadow: 2px 2px 16px rgb(0 0 0 / 65%);
$wv-tooltip-shadow: 3px 3px 6px rgb(0 0 0 / 75%);

/* Fonts */
$wv-base-font: "Open Sans", sans-serif;
$wv-bold-font: "Open Sans Bold", sans-serif;
$wv-monospace-font: "Droid Sans Mono", monospace;
$wv-menu-font-size: 16px;

/* Misc */
$wv-menu-border-radius: 6px;
$wv-dark-menu-border: 1px solid #555;

/* Mixins */
@mixin wv-modal-dialog {
  border-radius: $wv-menu-border-radius;
  box-shadow: $wv-modal-shadow;
}

@mixin wv-modal-content {
  background: $wv-solid-black;
  color: $wv-white-font;
  font-size: $wv-menu-font-size;
  border: $wv-dark-menu-border;
}

@mixin wv-map-button {
  background: $wv-transparent-black;
  border: $wv-dark-menu-border;
  border-radius: $wv-menu-border-radius;
  display: inline-block;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    background-color: #eee;
    color: #1a1a1a;
  }

  &.disabled:hover {
    background-color: $wv-transparent-black;
    color: $wv-white-font;
  }
}
