{
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true,
    "jquery": true
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "jest"
  ],
  "extends": "airbnb",
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    // The following rules are cases where our base rules
    // differed from AirBnB Style guide. Keeping for now.
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "camelcase": [
      "error",
      {
        "allow": [
          "^UNSAFE_"
        ],
        "properties": "never"
      }
    ],
    "no-useless-call": "error",
    "no-extra-parens": "error",
    "space-before-function-paren": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "tasks/*.js",
          "tasks/**/*.js",
          "rpm/*.js",
          "**/*test.js",
          "**/*config.js",
          "**/*conf.js"
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "**/*.js"
      ],
      "rules": {
        /* BEGIN Airbnb overrides

          Rules below are overriding the Airbnb style guide rules in order to get code
          to pass without having to fix hundreds of existing errors by hand.

          For rules set to "off": consider setting to "warn" to identify non-compliance in new code
          For rules set to "warn": consider removing to throw errors on existing and future code
        */

        // Base rule overrides
        "default-case": "warn",
        "no-nested-ternary": "warn",
        "no-shadow": "warn",
        "prefer-const": "warn",
        "class-methods-use-this": "warn",
        "no-plusplus": "warn",
        "max-len": "off",

        "consistent-return": "off",
        "no-underscore-dangle": "off",
        "func-names": "off",
        "no-param-reassign": "warn",
        "no-use-before-define": "off",

        // Import rules overrides
        "import/prefer-default-export": "off",
        "import/no-cycle": "warn",

        // Accesibility rules overrides
        "jsx-a11y/no-noninteractive-tabindex": "off",
        "jsx-a11y/no-noninteractive-element-interactions": "off",
        "jsx-a11y/anchor-has-content": "off",
        "jsx-a11y/control-has-associated-label": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "jsx-a11y/label-has-associated-control": "off",
        "jsx-a11y/alt-text": "off",
        "jsx-a11y/mouse-events-have-key-events": "off",
        "jsx-a11y/tabindex-no-positive": "off",
        "jsx-a11y/no-static-element-interactions": "off",
        "jsx-a11y/click-events-have-key-events": "off",

        // React rules overrides
        "react/destructuring-assignment": "warn", // 464 errors
        "react/no-unused-state": "warn", // 38 errors
        "react/jsx-props-no-spreading": "warn",
        "react/jsx-filename-extension": "off",
        "react/sort-comp": "off",

        "react/no-unused-prop-types": "warn", // 66 errors
        "react/forbid-prop-types": "off", // 216 errors
        "react/require-default-props": "off" // 965 errors
      }
    }
  ]
}