{
  "extends": ["standard", "plugin:n/recommended"],
  "rules": {
    "new-cap": ["error", {}],
    "camelcase": ["error", {
      "ignoreDestructuring": true,
      "properties": "never"
    }],
    "n/no-path-concat": "warn",
    "n/no-deprecated-api": "warn",
    "no-async-promise-executor": "warn"
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "no-undef": "off",
        "n/no-unpublished-require": "off",
        "no-unused-expressions": "off",
        "prefer-regex-literals": "warn"
      }
    }
  ]
}
