/build
/web/build
/web/brand
/web/config
/web/stories
/dist
/doc/embed.md
/node_modules
/web/ext/node_modules/*
/tasks/link-check/results
python
.python/
.node-virtualenv/
.ropeproject/
*.pyc
.project
.settings
.pydevproject
.DS_Store
bitly.json
*~
*.swp
options
\#*
.vagrant
*.log
# Nightwatch stuff
e2e/reports
e2e/screens
*.jar
# Config
/config/*
!/config/default
config/default/release/gc
config/default/release/layer-metadata
# Jest
/coverage
/tasks/temp
