env:
  global:
    - MOZ_HEADLESS=1
cache:
  directories:
    - node_modules
    - .python
  npm: true
  pip: true

install: npm ci

script:
  - npm test
  - npm run build

matrix:
  fast_finish: true # don't wait for allowed failures to determine overall build status
  allow_failures:
    - os: windows
    - node_js: lts/*
    - name: 'Node.js 10.16.3 - Chrome E2E'

  include:
    - os: osx
      name: 'Node.js 10.16.3 - Chrome E2E'
      language: node_js
      node_js: '10.16.3'
      osx_image: xcode11.2
      addons:
        chrome: stable
      before_install:
         - "/Applications/Google\\ Chrome.app/Contents/MacOS/Google\\ Chrome --headless --disable-gpu --remote-debugging-port=9222 http://localhost &"
      script:
        - npm run build:ci
        - npm run start &
        - npm run e2e:headless:chrome

    - os: osx
      language: node_js
      node_js: lts/* # latest LTS Node.js release
      osx_image: xcode11.2

    - os: osx
      language: node_js
      node_js: '10.19.0'
      osx_image: xcode11.2

    - os: linux
      name: 'Node.js 10.16.3 - Firefox E2E'
      dist: xenial
      language: python
      node_js: '10.16.3'
      python: '3.7'
      sudo: required
      addons:
        firefox: latest
      before_install:
        - python --version
        - python3 --version
        - nvm install 10.16.3
      script:
        - npm run build:ci
        - npm run start &
        - npm run e2e:headless:firefox

    - os: linux
      dist: xenial
      language: python
      node_js: 'lts/*'
      python: '3.7'
      sudo: required
      before_install:
        - python --version
        - python3 --version
        - nvm install lts/*

    - os: linux
      dist: xenial
      language: python
      node_js: '10.19.0'
      python: '3.7'
      sudo: required
      before_install:
        - python --version
        - python3 --version
        - nvm install 10.19.0

    - os: windows
      language: node_js
      node_js: lts/* # latest LTS Node.js release
      before_install:
        - choco install python --version 3.7.5
        - export PATH="/c/Python37:/c/Python37/Scripts:$PATH"
        - python --version
        - python -m ensurepip
        - pip install virtualenv
        - python -m venv $HOME/venv
        - source $HOME/venv/Scripts/activate
      cache:
        directories:
          - $HOME/venv
          - c:/Python37
          - c:/Python37/Scripts

    - os: windows
      language: node_js
      node_js: '10.19.0'
      before_install:
        - choco install python --version 3.7.5
        - export PATH="/c/Python37:/c/Python37/Scripts:$PATH"
        - python --version
        - python -m ensurepip
        - pip install virtualenv
        - python -m venv $HOME/venv
        - source $HOME/venv/Scripts/activate
      cache:
        directories:
          - $HOME/venv
          - c:/Python37
          - c:/Python37/Scripts