env:
  global:
    - MOZ_HEADLESS=1
cache:
  directories:
    - node_modules
    - .python
  npm: true
  pip: true

install: npm install

script: npm test

matrix:
  allow_failures:
    - os: windows
  include:
    - os: osx
      name: 'Node.js lts/* - Chrome E2E'
      language: node_js
      node_js: lts/* # latest LTS Node.js release
      addons:
        chrome: stable
      before_install:
         - "/Applications/Google\\ Chrome.app/Contents/MacOS/Google\\ Chrome --headless --disable-gpu --remote-debugging-port=9222 http://localhost &"
      script:
        - npm run build
        - npm run start &
        - npm run e2e:headless:chrome

    - os: osx
      language: node_js
      node_js: '8.15.1'

    - os: linux
      name: 'Node.js lts/* - Firefox E2E'
      dist: xenial
      language: python
      node_js: 'lts/*'
      python: '3.7'
      sudo: required
      addons:
        firefox: latest
      before_install:
        - python --version
        - python3 --version
        - nvm install lts/*
      script:
        - npm run build
        - npm run start &
        - npm run e2e:headless:firefox

    - os: linux
      dist: xenial
      language: python
      node_js: '8.15.1'
      python: '3.7'
      sudo: required
      before_install:
        - python --version
        - python3 --version
        - nvm install 8.15.1

    - os: windows
      language: node_js
      node_js: lts/* # latest LTS Node.js release
      before_install:
        - choco install python3
        - export PATH="/c/Python37:/c/Python37/Scripts:$PATH"
        - python --version
        - python -m ensurepip
        - pip install virtualenv
        - python -m venv $HOME/venv
        - source $HOME/venv/Scripts/activate
      cache:
        directories:
          - $HOME/venv
          - c:/Python37
          - c:/Python37/Scripts

  - os: windows
      language: node_js
      node_js: '8.15.1'
      before_install:
        - choco install python3
        - export PATH="/c/Python37:/c/Python37/Scripts:$PATH"
        - python --version
        - python -m ensurepip
        - pip install virtualenv
        - python -m venv $HOME/venv
        - source $HOME/venv/Scripts/activate
      cache:
        directories:
          - $HOME/venv
          - c:/Python37
          - c:/Python37/Scripts