[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
six = "==1.11.0"
xmltodict = "==0.11.0"
urllib3 = {version = "==1.26.5", extras = ["secure"]}
requests = "==2.26.0"
jsonschema = "==3.2.0"
isodate2 = "==0.7.0"

[dev-packages]

[requires]
python_version = "3"
