p {
   text-indent: 0;
   margin-bottom: 1em;
}

.ContentPage .Firefox #Menu {
    width: 35ex;
}

.ContentPage .Firefox #Content {
    margin-left: 35ex;
}

/* Copied from the OpenLayers css file */

.MGroup {
    font-variant: normal;
    margin: 0.4em 0 0em 10px
}

.MTitle {
    font-variant: normal;
}

.CGroup .CTitle {
    font-variant: normal;
}

.SGroup .SEntry {
    font-variant: normal;
}
