body {
  margin: 0;
  background-color: #000;
  color: #fffbe7;
}

#page {
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 5px;
  max-width: 600px;
}

.wv-document ul {
  margin-left: auto;
}
