
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,500');

.timeline-axis-container {
  height: 65px;
  border-top: 1.5px solid white;
}

.timeline-axis-svg {
  display: flex;
  flex-direction: row;
  align-items: center;
    /* -webkit-clip-path: url('#timelineBoundary');
  clip-path: url('#timelineBoundary'); */
}

.date-tooltip {
  background: #212121;
  color: #fff;
  border: thin solid #666;
  font-size: 17px;
  font-family: 'Roboto Mono', monospace;
  border-radius: 5px;
  height: 25px;
  line-height: 25px;
  white-space: nowrap;
  user-select: none;
  padding-left: 8px;
}

.date-tooltip-day {
  position: relative;
  bottom: 2px;
  font-size: 14px;
  font-weight: 300;
}

.axis-grid-text {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto Mono', monospace;
  color: white;
  pointer-events: none;
  user-select: none;
}

.axis-grid-line {
  pointer-events: none;
}

/* DEVELOPMENT */

#zoom-btn-container-axis {
  margin-bottom: 5px;
}

.zoom-level-display-text {
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 12px;
  line-height: 1.2em;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-transform: uppercase;
  margin: 4px 0 4px 0;
  display: block;
}

.zoom-level-change {
  width: 75px;
}

.zoom-level-change-arrows {
  user-select: none;
  background: transparent;
  border: thin solid transparent;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 55px;
}

.interval-input {
  width: 80px;
  height: 24px;
  color: #7890cd;
  opacity: 1;
  font-size: 16px;
  background: transparent;
  border: 0;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.2em;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  text-align: center;
  border: thin solid #fff;
}

.interval-timescale-select-form-container {
  width: 100px;
  height: 40px;
  color: #7890cd;
  opacity: 1;
  font-size: 16px;
  background: transparent;
  border: 0;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.2em;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
}

.interval-timescale-select {
  padding: 0;
  background: transparent;
  color: #7890cd;
  height: 24px;
  font-size: 16px;
  width: 118px;
  border: thin solid #fff;
  text-align-last: center;
  padding-left: 15px;
}

.interval-timescale-select-option {
  background: rgb(40, 40, 40);
}

.custom-interval-text {
  color: #7890cd !important;
}

.wv-timeline-hide {
  display: block;
  top: 18px;
  right: -5px;
  color: white;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  user-select: none;
  height: 30px;
  width: 30px;
}

.wv-timeline-hide-double-chevron-left {
  position: absolute;
  background: url(../../../images/icon-sprite.svg) -206px -3px no-repeat;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 0;
  transform: rotate(90deg);
}

.wv-timeline-hide-double-chevron-right {
  position: absolute;
  background: url(../../../images/icon-sprite.svg) -206px -3px no-repeat;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 0;
  transform: rotate(270deg);
}

#timeline-hide:hover .wv-timeline-hide-double-chevron-left,
#timeline-hide:hover .wv-timeline-hide-double-chevron-right,
.wv-timeline-hide-double-chevron-left:hover,
.wv-timeline-hide-double-chevron-right:hover {
  background-position: -206px -63px;
}

.date-arrow-wrapper {
  width: 60px;
}

.wv-custom-interval-widget {
  height: 57px;
  width: 225px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: rgba(40, 40, 40, 0.85);
  position: absolute;
  top: -58px;
  left: 0;
  display: none;
  color: #fff;
  border-bottom: thin solid #444;
}

.wv-custom-interval-widget i.wv-close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.wv-custom-interval-widget i.wv-close:hover {
  color: #999;
  cursor: pointer;
}

.wv-custom-interval-widget-header,
.wv-custom-interval-widget-controls-container {
  display: inline-block;
  margin: 7px 0 0 10px;
}

.wv-custom-interval-widget-controls-container {
  display: flex;
  flex-direction: row;
}

#wv-timeline-range-selector {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
}

#wv-timeline-range-selector * {
  pointer-events: all;
}

.dragger-container {
  pointer-events: none;
  position: absolute;
  bottom: 0;
}

.dragger * {
  pointer-events: all;
}

.timeline-hover-line-container {
  pointer-events: none;
  position: absolute;
  bottom: 0;
}

/* Mobile date picker */
.mobile-date-picker-select-btn {
  position: absolute;
  left: 10px;
  bottom: 10px;
  background: rgba(40, 40, 40, 0.85);
  color: #fff;
  border: thin solid #333;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  padding: 3px;
  border-radius: 5px;
  line-height: 25px;
  white-space: nowrap;
  cursor: pointer;
}

.datepicker-header,
.datepicker-navbar-btn {
  font-weight: 700;
}

.datepicker.android-dark .datepicker-header {
  color: #fff !important;
  border-bottom: 2px solid #00457b !important;
}

.datepicker.android-dark .datepicker-wheel {
  border-top: 2px solid #00457b !important;
  border-bottom: 2px solid #00457b !important;
}

.datepicker.android-dark .datepicker-scroll li {
  color: #fff !important;
}

.datepicker.android-dark .datepicker-scroll li.disabled {
  color: rgb(88, 88, 88) !important;
}

.datepicker-navbar-btn:hover {
  background: #fff;
}