{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "extends": "airbnb",
  "rules": {
    // The following rules are cases where our base rules
    // differed from AirBnB Style guide. Keeping for now.
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "*.js",
          "**/*.js"
        ]
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "space-before-function-paren": [
      "error",
      "never"
    ],
    /* BEGIN Airbnb overrides
      Rules below are overriding the Airbnb style guide rules in order to get existing code
      to pass without having to fix hundreds of existing errors by hand.

      For rules set to "off": consider setting to "warn" to identify non-compliance in new code
      For rules set to "warn": consider removing to throw errors on existing and future code
    */
    "array-callback-return": "warn",
    "prefer-destructuring": "warn",
    "prefer-const": "warn",
    "no-nested-ternary": "warn",
    "no-shadow": "warn",
    "no-use-before-define": "warn",
    "prefer-rest-params": "warn",
    "no-plusplus": "warn",
    "no-param-reassign": "warn",
    "no-multi-assign": "warn",
    "no-unused-expressions": "off",
    "max-len": "off"
  }
}