
.wv-document {
    background-color: #222;
    color: #eee;
    font: 100 14px/20px "helvetica",sans-serif;
    /*font: "Open Sans",sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    */
}

.wv-document h1 {
    font-size: 1.5em;
    margin: .67em 0;
    font-weight: bold;
}

.wv-document h2 {
    font-size: 1.25em;
    margin: .75em 0;
    font-weight: bold;
}

.wv-document p {
    margin: 1.12em 0;
}

.wv-document hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #404040;
    margin: 1em 0;
    padding: 0;
}

.wv-document ul {
    margin-left: 1em;
}

.wv-document li {
    display: list-item;
}

.wv-document a {
    color: #eeeeee;
}

.wv-document a:visted {
    color: #eeeeee;
}

.wv-document a:hover:link {
    color: #8cf;
}

.wv-document .right {
    float: right;
    margin: 0em 1em 2em 1em;
}

.wv-document strong {
    font-weight: bold;
}

.wv-document .underline {
    text-decoration: underline;
}

.gibs-logo {
    background-image: url("../images/gibs.png");
    width: 64px;
    height: 64px;
    display: block;
}

.gibs-caption {
    margin-top: 3px;
    width: 64px;
    font-size: 0.75em;
    font-style: italic;
    text-align: center;
}

