body {
    margin: 0px;
    background-color: #000000;
    color: #FFFBE7;
}

#page {
    /*background-color: rgba(38, 43, 49, 0.65);*/
    margin: 10px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    max-width: 600px;
    /*font: 100 12.8px/16px "helvetica",sans-serif;*/
}


