#map {
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
}

.button {
    background-color: white;
    position: absolute;
    z-index: 10000;
    padding: 10px;    
    left: 20px;
}

#previous {
    top: 40px;
}

#next {
    top: 100px;
}

#date {
    top: 150px;
}
