.wv-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  cursor: pointer;
  padding: 0;
  border: none;
}
.wv-alert div {
  display: inline-block;
  padding: 11px;
  &.close-alert {
    padding: 11px 2px;
  }
}
.wv-alert div:hover {
  display: inline-block;
  background-color: #ddd;
  color: #333;
}
.wv-alert i {
  color: #d54e21;
  margin-right: 10px;
  font-size: 1.4em;
}
.wv-alert i.exit {
  color: #fff;
  margin-left: 10px;
  font-size: 1.4em;
}
.wv-alert div:hover .exit {
  color: #333;
}
