.wv-alert-container {
  position: absolute;
  top: 60px !important;
  right: 10px !important;
  left: auto !important;
}
.wv-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  cursor: pointer;
  padding: 0;
  border: none;
  z-index: 100;
  margin-bottom: 5px;
}
.wv-alert .close-alert {
  padding: 11px 2px;
}
.wv-alert div:hover {
  background-color: #ddd;
  color: #333;
}
.wv-alert svg.svg-inline--fa {
  color: #d54e21;
  margin-right: 10px;
  font-size: 1.4em;
}
.wv-alert svg.svg-inline--fa.exit {
  color: #fff;
  margin-left: 10px;
  font-size: 1.4em;
}
.wv-alert div:hover .exit {
  color: #333;
}
.wv-alert-icon {
  padding-left: 3px;
  margin-left: 5px;
}
.alert-content {
  padding-right: 3px;
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
}

/* IE11 align-items center fix */
.alert-content::after {
  content: '';
  min-height: inherit;
  font-size: 0;
}

/* ErrorBoundary */
.error-icon {
  margin-right: 10px;
  vertical-align: middle;
}
.error-header {
  margin-top: 5px;
}
.error-body {
  margin-top: 10px;
}
