/*canvas {float:left;}*/
.toggleButtonHolder{

}
/*
a.accordionToggler {display:block; width:10%; overflow:hidden; z-index:292;  height:2.1em; background: none no-repeat scroll left; }
a.arrow { float:right; border-radius: 0 10px 10px 0; -moz-border-radius: 0 10px 10px 0; -webkit-border-radius: 0 10px 10px 0; text-decoration:none;  color:#fff; position:relative; letter-spacing:2px; font-family:"Gill Sans","Helvetica",sans-serif;}
a.staticLayers {
  float:left;
  left:10px;
  position:absolute;
  top:65px;
  height:auto;
  background: no-repeat 80px 50% url("../images/hg.png") rgba(40,40,40,0.85);
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -o-box-sizing:border-box;
  width: 286px;
  margin: 0;
  border: 1px solid #333;
  border-top: 0;
  cursor:pointer;
  padding:7px 0;
}
a.staticLayers:hover {
    background-image:url("../images/hg-h.png");
    background-color:#fff;
    color:#1a1a1a;
}

a.atcollapse {
    background: 50% 50% no-repeat url("../images/hg.png");
    border-radius:0;
    border: 1px solid #333;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    border-right: 0;
    top: 7px;
}
a.atcollapse:hover{
    background-image:url("../images/hg-h.png");
    background-color:#ccc;
    cursor:pointer;
}
a.atexpand {background-image: url("../images/hg.png");}
*/
div.bank { display:inline-block; float:left;  width: 100%; height:100%;  /*box-shadow: 0 0 4px 1px #bbb;*/  font: 1em; color: #222; text-shadow:none;}
.bank h1,h2,h3,h4 {margin:0px; padding:0px; color:#000; font-weight:400;}
.bank h2 {font-size:1.4em; display:inline-block; float: left; color:#ffffff; border:none; padding:9px 30px 9px 30px;
background: -moz-linear-gradient(top,  rgba(255,255,255,0.7) 0%, rgba(11,95,160,0.7) 23%, rgba(0,88,156,0.7) 24%, rgba(0,81,144,0.7) 99%, rgba(0,81,144,0.7) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(23%,rgba(11,95,160,0.7)), color-stop(24%,rgba(0,88,156,0.7)), color-stop(99%,rgba(0,81,144,0.7)), color-stop(100%,rgba(0,81,144,0.7))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(11,95,160,0.7) 23%,rgba(0,88,156,0.7) 24%,rgba(0,81,144,0.7) 99%,rgba(0,81,144,0.7) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(11,95,160,0.7) 23%,rgba(0,88,156,0.7) 24%,rgba(0,81,144,0.7) 99%,rgba(0,81,144,0.7) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(11,95,160,0.7) 23%,rgba(0,88,156,0.7) 24%,rgba(0,81,144,0.7) 99%,rgba(0,81,144,0.7) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0.7) 0%,rgba(11,95,160,0.7) 23%,rgba(0,88,156,0.7) 24%,rgba(0,81,144,0.7) 99%,rgba(0,81,144,0.7) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#b3005190',GradientType=0 ); /* IE6-9 */

}

.bank .tabContainer {border-bottom: 2px #005190 solid; }
.bank h3 {display:block; color:#ffffff; font-size: 1em; border:none; text-decoration:none; width:98%;}
#callSelectorLink {display: inline-block; width:32px; height:32px; background: transparent url("../images/addLayers.png"); margin-left: 50px;float:right;}
.bank div,.bank ul {display:block;width:100%; margin:0 auto;}
.bank .category {overflow:hidden;}
.bank h3 {background: none; padding: 1px 3px; font-size:0.9em; margin-top:10px; margin-left:2%;text-transform:uppercase;}
.bank li.item {
    display:block;
    width:96%;
    padding:6px 0;
    overflow:hidden;
    /*background: rgba(220,220,220,1);*/
    cursor:move;
    /*margin:5px 2% 0 2%;*/
   margin: 0 auto;
}

.bank li.item-static {
    cursor: default;
    width: 94%;
}

.bank li.item-static:hover {
    background: rgba(220,220,220,1);
}

.categoryContainer { display:block; width:100%; overflow:hidden;}

.mCustomScrollBox > .mCSB_scrollTools {right: -6px;}

/* HACK: McGann, triage */
.bank li.item a       { color: #22a; }
.bank li.item a:hover { color: #88f; }

#selectorboxcontent a       { color: #22a; }
#selectorboxcontent a:hover { color: #88f; }
/* HACK : End */

.bank li.item h4 {font-size:0.85em; padding:0 3px;}
.bank li.item p {padding:0 3px; color:#222; font-size:0.78em; font-style:italic;}
.bank li.item span.palette {display:block; overflow:hidden; margin-top:5px; margin-left:5px;}
.bank li.item ul.palette li {float:left;}
.bank ul.category {  overflow:auto; }
.bank ul.category li h3 {display:block; clear:both; float:none;}
img.bank-item-img { display:block;}
img.hideReg { height: 14px; width: 20px; }
.bank img.close { height: 14px; width: 14px; }



.ui-tabs-hide {/*display:none !important;*/ position:absolute !important; left:-999em !important;}

.jspPane {
    margin-left: 0 !important;
}
