/*
 * WV Button Widget
 */

.wv-button {
  color: #eee;
  font-weight: 700;
  border: 1px solid #666;
  font-size: 1em;
  background-image: linear-gradient(#555, #666);
  background-image: -ms-linear-gradient(#555, #666);
  background-image: -o-linear-gradient(#555, #666);
  font-family: "Segoe UI", "Arial", sans-serif;
  padding: 0;
  transition: background 0.5s ease;
}
.wv-button span {
  padding: 6px 13px 7px;
  display: block;
}
.wv-button.red {
  background: #d54e21;
}
.wv-button.black {
  background: #212121;
  border-color: #666;
}
.wv-button:hover {
  border-color: #eee;
  background-color: #eee;
  background-image: none;
  color: #404040;
  cursor: pointer;
}
.wv-button.no-pointer-events {
  pointer-events: none;
}
.wv-button:disabled {
  opacity: 0.35;
  background-image: none;
  border: 1px solid #666;
  background-color: #555;
  border-radius: 0;
  color: #eee;
  cursor: not-allowed;
}
