/*
 * WV Button Widget
 */

.wv-button {
  color: #eee;
  font-weight: 700;
  border: 1px solid;
  border-color: #666;
  font-size: 1em;
  background-image: linear-gradient(#555, #666);
  background-image: -ms-linear-gradient(#555, #666);
  background-image: -o-linear-gradient(#555, #666);
  font-family: 'Segoe UI', 'Arial', sans-serif;
  padding: 0;
}
.wv-button span {
  padding: 6px 13px 7px;
  display: block;
  font-size: 13px;
}
.wv-button.red {
  background: #d54e21;
  border-color: #d54e21;
}
.wv-button.black {
  background: #212121;
}
.wv-button:hover {
  border-color: #eee;
  background-color: #eee;
  transition: background 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  background-image: none;
  color: #404040;
  cursor: pointer;
}
.wv-button.no-pointer-events {
  pointer-events: none;
}
.wv-button:disabled {
  opacity: 0.35;
  background: #555;
  background-image: none;
  border: 1px solid #666;
  border-radius: 0;
  color: #eee;
  cursor: not-allowed;
}


/*
* Bootstrap/Reactstrap Button Overrides
*/

.btn.disabled, .btn:disabled {
  cursor: not-allowed;
}