
/*
 * WV Button Widget
 */

.wv-button {
  color: #eee;
  font-weight: 700;
  border: 1px solid #666;
  font-size: 1em;
  background-image: linear-gradient(#555, #666);
  background-image: -ms-linear-gradient(#555, #666);
  background-image: -o-linear-gradient(#555, #666);
  font-family: "Segoe UI", "Arial", sans-serif;
  padding: 0;
}
.wv-button span {
  padding: 0.4em 1em;
  display: block;
}
.wv-button.red {
  background: #d54e21;
}
.wv-button:hover {
  border-color: #eee;
  background-color: #eee;
  background-image: none;
  color: #404040;
  cursor: pointer;
}

