.wv-checkbox {
  position: relative;
  & input[type="checkbox"] {
    margin: 3px 1px;
    vertical-align: middle;
  }
}
.wv-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 24px;
  width: 24px;
  left: 0;
}
.wv-checkbox::before {
  content: '\00a0';
  display: inline-block;
  height: 24px;
  min-width: 24px;
  border: 2px solid #d54f21;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  margin-right: 5px;
}
.wv-checkbox.gray::before {
  border: 2px solid #808080;
}
.wv-checkbox.checked::before {
  color: #fff;
  content: '\2713';
  background-color: #d54f21;
}
.wv-checkbox.gray.checked::before {
  background-color: #808080;
}
.wv-checkbox.wv-checkbox-round::before {
  border-radius: 50%;
}
