.ab-swipe-line {
  height: 100%;
  padding: 0 2px;
  position: absolute;
  top: 0;
  width: 1px;
  background: #fff;
  cursor: move;
  cursor: grab;
  user-select: none;
  & .show-date-label {
    width: 109px;
  }
  & .left-label {
    left: -23px;
    &.show-date-label {
      left: -118px;
    }
  }
  & .right-label {
    left: 13px;
  }
}
.ab-swipe-line:active {
  cursor: grabbing;
}
.ab-swipe-dragger {
  position: absolute;
  bottom: 210px;
  width: 65px;
  height: 65px;
  margin-top: -45px;
  border-radius: 50%;
  left: -30px;
  text-align: center;
}
.ab-swipe-dragger .swipe-dragger-circle {
  width: 45px;
  height: 45px;
  left: -25px;
  border-radius: 50%;
  background: #fff;
  color: #000;
  margin: 10px;
}
.ab-swipe-dragger:hover {
  transform: scale(1.2);
}
.ab-swipe-dragger svg.svg-inline--fa {
  font-size: 26px;
  margin-top: 11px;
}
.ab-slider-case {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 195px;
  width: 232px;
  text-align: center;
  background: rgba(40, 40, 40, 0.85);
  border-radius: 3px;
  color: #fff;
  height: 36px;
}
.ab-slider-case .input-range {
  width: 146px;
  display: inline-block;
  margin: 6px 17px;
}
.ab-slider-case .wv-slider-label {
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
  width: 15px;
  font-size: 16px;
  text-align: center;
}
.ab-slider-case .wv-slider-label h4 {
  font-weight: 700;
  font-size: 16px;
}
.ab-slider-case .input-range__slider {
  height: 20px;
  width: 20px;
  margin-top: -12px;
  margin-left: -10px;
}
.ab-swipe-line .ab-swipe-span {
  position: absolute;
  bottom: 195px;
  padding: 2px;
  background: #fff;
  color: #000;
  display: block;
  font-size: 14px;
  margin-top: -7px;
  border-radius: 3px;
  border: 1px solid #000;
  cursor: default;
}

.ab-spy-span {
  position: absolute;
  background: rgba(40, 40, 40, 0.8);
  color: rgba(255, 255, 255, 0.9);
  display: block;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #000;
  padding: 2px;
  margin-left: -4px;
}
.compare-dialog ul {
  display: flex;
}
.compare-dialog .compare-dialog-list-item {
  flex: 0 32%;
  margin: 0 auto;
  list-style: none;
}
.compare-dialog p {
  margin-bottom: 10px;
  line-height: 1.2;
}
.compare-dialog img {
  display: block;
  max-width: 100%;
}

/* Mobile */
.comparison-mobile-select-toggle {
  border-radius: 5px;
  height: 44px;
  border: thin solid #333;
  background-color: rgba(40, 40, 40, 0.85);
  position: absolute;
  bottom: 65px;
  left: 10px;
  display: flex;
  overflow: hidden;
}

.compare-toggle-selected-btn {
  cursor: pointer;
  user-select: none;
  font-size: 25px;
  padding: 13.5px;
  color: #fff;
  border: thin solid transparent;
  &:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
  &:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &:hover:not(.compare-btn-selected) {
    border-color: #fff;
  }
}

.compare-btn-selected {
  color: #495057;
  background-color: #fff;
  border-color: #fff;
}
