.ab-swipe-line {
  height: 100%;
  padding: 0 2px 0 2px;
  position: absolute;
  top: 0;
  width: 1px;
  background: white;
}
.ab-swipe-dragger {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  left: -13px;
  border-radius: 50%;
  color: black;
  background: white;
  text-align: center;
}
.ab-swipe-dragger:hover {
  transform: scale(1.2);
  cursor: grabbing;
}
.ab-swipe-dragger i {
  font-size: 18px;
  margin-top: 7px;
}
.ab-slider-case {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 25%;
  width: 160px;
  text-align: center;
  background: rgba(40, 40, 40, 0.85);
  color: white;
}
.ab-slider-case span {
  position: absolute;
  top: 5px;
  font-size: 14px;
}
.ab-swipe-line .ab-swipe-span {
  position: absolute;
  top: 50%;
  padding: 2px;
  background: white;
  color: black;
  display: block;
  font-size: 14px;
  margin-top: -7px;
  border-radius: 3px;
  border: 1px solid black;
}
.ab-swipe-line .left-label {
  left: -35px;
}
.ab-swipe-line .right-label {
  left: 24px;
}
.ab-spy-span {
  position: absolute;
  background: white;
  color: black;
  display: block;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid black;
  padding: 2px;
  margin-left: -4px;
}
.ab-slider-case .left-label {
  left: 3px;
}
.ab-slider-case .right-label {
  right: 3px;
}
