.context-menu {
  font-size: 14px;
  background: rgba(40, 40, 40, 0.85);
  color: #fff;
  border-radius: 5px;
  padding: 15px;
  width: auto;
  height: auto;
  margin: 0;
  position: absolute;
  list-style: none;
  box-shadow: 5px 5px 10px 0 #333;
  opacity: 1;
  transition: opacity 0.5s linear;
  z-index: 9999;
  cursor: pointer;
}

.context-menu li {
  padding: 5px;
}

.context-menu li:hover {
  background-color: #191970;
}
