.timeline-data-panel-container {
  position: absolute;
  background: rgba(40, 40, 40, 1);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.animate-timeline-data-panel-slide-up {
  z-index: 5;
  bottom: 66px;
  opacity: 1;
}

.animate-timeline-data-panel-slide-down {
  z-index: -5;
  bottom: -12px;
  opacity: 0;
}

.timeline-data-panel i.wv-close:hover {
  color: #999;
  cursor: pointer;
}

.timeline-data-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: thin solid #808080;
  padding: 5px;
}

.timeline-data-panel-header-title {
  width: 125px;
  padding: 5px;
}

.data-panel-info-button {
  margin-right: 25px;
  margin-bottom: 2px;
}

.data-panel-info-button-icon {
  border: thin solid #fff;
  width: 1.1em !important;
  height: 14px;
  text-align: center;
  border-radius: 50%;
  padding: 1px;
  margin-top: 3px;
}

.label-layer-active {
  color: #000;
}

.label-layer-inactive {
  color: #999;
}

.wv-toggle-data-matching-main {
  align-items: center;
  margin: 0;
  white-space: nowrap;
  flex-grow: 1;
}

.wv-toggle-data-matching-main .react-switch-case {
  width: 38px;
}

.wv-toggle-data-matching-main > div.react-switch-label-case.switch-col {
  padding-left: 5px;
}

.timeline-data-panel {
  position: relative;
  background-color: #212121;
  color: #fff;
  box-sizing: border-box;
  border: thin solid #333;
  border-bottom: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.data-panel-layer-item {
  position: relative;
  border-bottom: thin solid #3c3c3c;
  padding-bottom: 5px;
}

.data-panel-layer-item-header {
  display: flex;
  align-items: center;
  padding: 5px 3px;
}

.data-panel-layer-item-title {
  white-space: nowrap;
  font-size: 1em;
}

.data-panel-layer-item-subtitle {
  font-style: italic;
  font-size: 0.9em;
  padding-left: 3px;
}

.data-panel-layer-item-date-range {
  position: absolute;
  font-size: 0.9em;
  right: 0;
  top: 0;
  padding: 4px 10px;
}

.data-panel-layer-list {
  overflow: hidden;
}

.data-panel-layer-coverage-line-container {
  overflow: hidden;
  height: 12px;
}

.data-panel-coverage-line-container {
  position: absolute;
}

.data-panel-coverage-line {
  position: absolute;
  height: 12px;
}

.data-panel-layer-empty {
  height: 41px;
  padding: 6px;
}

.data-item-empty {
  display: flex;
  flex-direction: row;
}

/* INFO DIALOG */
.data-panel-info-modal .modal-header .close {
  font-size: 22px;
  padding: 12px 14px;
}

.data-panel-info-modal .modal-title {
  font-size: 14px;
  font-weight: 600;
}

.data-panel-info-modal {
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  width: 510px;
}

.data-panel-info {
  & p {
    padding: 5px;
  }
}

.data-panel-info-item-container {
  display: flex;
  flex: 1 1 0;

  & section {
    box-shadow: 2px 3px 6px 0 #000;
    padding: 5px;
  }
}

.data-panel-info-item-left {
  & img {
    margin: 10px 0;
    width: 212px;
  }
}

.data-panel-info-item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  & img {
    height: 32px;
  }
}
