#timeds,
#timemds {
  position: relative;
}

#timemds {
  display: none;
}

.dw-i,
.dwl,
.dwv {
  font-weight: 700;
}

.dwbw {
  width: 40%;
}

.dwb-c {
  display: none;
}

.datespan ul,
dir,
menu {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

div.datespan {
  width: auto;
  overflow: hidden;
  background: none;
}

.datespan div.olMap {
  width: 11.78%;
  height: 100px;
  float: left;
  -webkit-box-shadow: 0 0 5px 5px #111;
  box-shadow: 0 0 5px 5px #111;
  margin: 20px 0 0 2.5% !important;
  position: relative;
  left: -1.25%;
  display: block;
}

.slider {
  margin-bottom: 0;
  background: --webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), color-stop(50%, rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.8)));
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), color-stop(50%, rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.8) 100%);
  height: 23px;
  cursor: pointer;
}

a.ui-slider-handle {
  position: relative;
  height: 80%;
  top: -3%;
  background: rgba(31, 143, 237, 0.26);
  border: #1f8fed 2px solid;
}

div.ui-slider {
  border: none;
  background: rgba(0, 0, 0, 0.05);
  margin: 0;
  top: 0;
  height: 23px;
}

#wv-date-mobile-label {
  padding: 7px;
  border-radius: 5px;
  position: absolute;
  left: 10px;
  bottom: 85px;
  border: none;
  text-shadow: none;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: rgba(40, 40, 40, 0.85);
  text-align: center;
  width: 100px;
}

#wv-date-mobile-label:hover {
  cursor: pointer;
}

a.ui-btn {
  margin: 0;
}
