.embed-overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 101;
}

.embed-overlay-btn {
  pointer-events: none;
  width: 220px;
  height: 100px;
  padding-top: 10px;
  line-height: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -110px;
  background-color: rgba(40, 40, 40, 0.85);
  border-radius: 5px;
  border: 3px solid;
  border-color: #fff;
  text-align: center;
  color: #fff;
  z-index: 102;
  & p {
    font-size: 16px;
  }
}

#wv-embed-link-button {
  position: absolute;
  z-index: 102;
  top: 10px;
  right: 10px;
  font-size: 12px;
  padding: 2.5px 4px;
}

.embed-mode {

  /* SIDEBAR */
  #productsHolder {
    width: 125px !important;
  }
  .event-container {
    min-height: 75px;
  }
  #wv-eventscontent li h4.title {
    width: 85%;
  }
  .layer-group-case .layer-group-header {
    margin-top: 0;
    & .layer-group-title {
      white-space: pre-wrap;
      text-overflow: inherit;
      font-size: 12px;
    }
  }
  .layer-group-baselayers {
    margin-top: 0;
  }
  .layer-group-more-options {
    display: none;
  }
  .sidebar-panel li.item h4 {
    width: 95%;
    font-size: 13px;
  }
  #wv-sidebar {
    transform: scale(0.75);
    #download-sidebar-tab {
      display: none;
    }
    footer {
      display: none;
    }
    .group-overlays-checkbox {
      display: none;
    }
    .item.productsitem {
      & .layer-info {
        cursor: default;
      }
      & .layer-main {
        margin-left: 0;
      }
      &.layer-hidden {
        display: none;
      }
      .layer-enabled.layer-visible {
        display: none;
      }
      &.zotted div.zot {
        display: none;
      }
      & .layer-buttons {
        background: #ccc;
        width: 20px;
        & .wv-layers-options {
          display: none;
        }
        & .wv-layers-close {
          display: none;
        }
      }
    }
    .wv-palettes-colorbar {
      max-width: 100%;
    }
  }

  /* TIMELINE */
  .mobile-date-picker-select-btn {
    transform: scale(0.75);
    transform-origin: bottom left;
  }
  .mobile-date-change-arrows-btn {
    left: 168px;
    transform: scale(0.75);
  }

  /* COMPARE */
  .comparison-mobile-select-toggle {
    transform-origin: bottom left;
    transform: scale(0.75);
    bottom: 50px;
  }
  .ab-swipe-dragger {
    bottom: 100px;
  }
  .ab-swipe-line .ab-swipe-span {
    bottom: 90px;
  }
  .ab-slider-case {
    bottom: 50px;
  }

  /* COORDS/SCALE */
  #ol-coords-case {
    transform: scale(0.85);
    transform-origin: right;
    bottom: 8px;
  }
  .wv-map-scale-imperial {
    transform: scale(0.85);
    transform-origin: right;
    bottom: 50px;
    right: 12px;
  }
  .wv-map-scale-metric {
    transform: scale(0.85);
    transform-origin: right;
    bottom: 68px;
    right: 12px;
  }

  /* ANIMATION WIDGET */
  .wv-animation-widget {
    transform: scale(0.85);
    transform-origin: bottom left;
  }
  .wv-animation-widget-wrapper.minimized {
    bottom: 55px;
  }
  #wv-animation-widget .wv-close {
    opacity: 0.3;
    user-select: none;
    pointer-events: none;
  }
  #create-gif-button {
    opacity: 0.3;
    user-select: none;
    pointer-events: none;
  }

  /* MISC */
  #wv-toolbar {
    display: none;
  }
  #wv-measure-button {
    display: none;
  }

  @media only screen and (max-width: 576px) {
    .ab-slider-case {
      bottom: 90px;
    }
  }
  @media only screen and (max-width: 450px) {
    .wv-animation-widget-wrapper.minimized {
      left: 93px;
    }
  }
}
