/* .geostationary-modal {
  & img {
    display: block;
    margin: 0 auto 10px;
  }
  & .figure {
    width: auto;
    max-width: 100%;
    height: auto;
  }
  & .figure-caption {
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
  }
  & p {
    margin-bottom: 10px;
    line-height: 16px;
  }
  & button {
    background: #295f92;
    margin: 5px auto 0;
    width: 200px;
    display: block;
    &:hover {
      background: #295f92;
    }
  }
} */
