/* Autocomplete Input */
.geosearch-search-input-group {
  flex-wrap: nowrap;
}

.geosearch-autocomplete {
  height: 38px;
  padding: 0 5px;
  border-radius: 0;
  border: none;
  &::placeholder {
    color: #999;
  }
}

.geosearch-results-menu {
  position: absolute;
  width: 85%;
}

.geosearch-item {
  word-wrap: break-word;
  padding: 5px 0 5px 7px;
  color: #333;
  &:hover {
    cursor: pointer;
  }
}

/* Autocomplete Input Submit Button */
.geosearch-submit-input-group-addon {
  height: 38px;
  position: absolute;
  top: 0;
  right: 62px;
  & .btn {
    background: none;
    border: none;
    color: #999;
  }
}

/* Geosearch Component */
.geosearch-component {
  position: absolute;
  right: 181px;
  top: 10px;
  width: 350px;
  margin-right: 1px;
  background: rgba(40, 40, 40, 0.85);
  border-radius: 5px;
  z-index: 1;
}

/* Geosearch Component Coordinate Buttons */
.geosearch-coordinate-group-container.grouped .geosearch-coordinate-button-addpoint {
  margin-right: 1px;
}

.geosearch-coordinate-button-group {
  margin-left: 0.5px;
  & .btn {
    width: 31px;
    border: none;
    background: #00457b;
    &:focus,
    &:hover {
      box-shadow: none;
      background-color: #eee;
      color: #00457b;
    }
  }
}

.geosearch-coordinate-button-addpoint {
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.geosearch-coordinate-button-remove svg.svg-inline--fa.fa-slash {
  position: absolute;
  top: 10px;
  left: 6px;
  font-size: 1.25em;
}

/* Geosearch Component Minimize Button */
.geosearch-search-minimize-button {
  background: rgba(40, 40, 40, 0.15);
  width: 21px;
  margin-right: 2px;
  border: none;
  overflow: hidden;
  &:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #eee;
    color: #1a1a1a;
  }
  &:hover {
    background-color: #eee;
    color: #1a1a1a;
  }
  &.disabled:hover {
    background-color: rgba(40, 40, 40, 0.85);
    color: #eee;
  }
}

.geosearch-search-minimize-button-chevron {
  position: absolute;
  background: url('../images/icon-sprite.svg') -201px -5px no-repeat;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 42px;
  top: 9px;
  left: -9px;
  height: 24px;
  transform: rotate(90deg);
  &:hover {
    background-position: -201px -65px;
  }
}

/* Additional Styling */
.dark-input,
.dark-input:focus {
  background: none;
  background-color: none;
  color: #fff;
  box-shadow: none;
}

/* Mobile Styling */
@media only screen and (max-width: 768px) {
  .geosearch-component {
    position: static;
    width: 100%;
  }
  .geosearch-input-container {
    width: 100%;
  }
  .geosearch-autocomplete {
    font-size: 16px;
    &::placeholder {
      font-size: 14px;
    }
  }
  .geosearch-results-menu {
    width: 100%;
  }
  .geosearch-item {
    padding: 8px 0 8px 7px;
    line-height: 16px;
    font-size: 16px;
  }
}
