/* Autocomplete Input */
.geosearch-autocomplete {
  height: 38px;
  padding: 0 5px;
  border-radius: 0;
  border: none;
  &::placeholder {
    color: #999;
  }
}

.geosearch-results-menu {
  position: absolute;
  width: 260px;
}

.geosearch-item {
  padding: 5px 0 5px 7px;
  color: #333;
  &:hover {
    cursor: pointer;
  }
}

/* Autocomplete Input Submit Button */
.geosearch-submit-input-group-addon {
  height: 38px;
  position: absolute;
  top: 0;
  right: 62px;
  & .btn {
    /* background: #fff; */
    background: none;
    border: none;
    color: #999;
  }
}

/* Geosearch Component */
.geosearch-component {
  position: absolute;
  right: 172px;
  width: 350px;
  margin-right: 1px;
}

/* Geosearch Component Coordinate Buttons */
.geosearch-coordinate-group-container.grouped .geosearch-coordinate-button-addpoint {
  margin-right: 1px;
}

.geosearch-coordinate-button-group {
  margin-left: 0.25px;
  & .btn {
    width: 31px;
    border: none;
    background: #00457b;
    &:focus,
    &:hover {
      box-shadow: none;
      background-color: #eee;
      color: #00457b;
    }
  }
}

.geosearch-coordinate-button-addpoint {
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.geosearch-coordinate-button-remove p {
  border: none;
  font-weight: 700;
  font-size: 1.3em;
}

/* Geosearch Component Minimize Button */
.geosearch-search-minimize-button {
  background: rgba(40, 40, 40, 0.15);
  margin-right: 2px;
  border: none;
  &:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #eee;
    color: #1a1a1a;
  }
  &:hover {
    background-color: #eee;
    color: #1a1a1a;
  }
  &.disabled:hover {
    background-color: rgba(40, 40, 40, 0.85);
    color: #eee;
  }
}

/* Additional Styling */
.dark-input,
.dark-input:focus {
  background: none;
  background-color: none;
  color: #fff;
  box-shadow: none;
}
