.geosearch-results-menu {
  position: absolute;
  width: 260px;
}

.geosearch-item:hover {
  cursor: pointer;
}

.geosearch-autocomplete {
  height: 38px;
  padding: 0 5px;
  border-radius: 0;
  border: none;
}

.geosearch-autocomplete::placeholder {
  color: #999;
}

.geosearch-item {
  padding: 5px 0 5px 7px;
  color: #333;
}

.geosearch-component-expanded-search {
  position: absolute;
  right: 0;
  width: 350px;
  margin-right: 1px;
}

.geosearch-component-minimized-button.ui-button-click-prevent {
  pointer-events: none;
}

.geosearch-component-minimized-button.ui-button-click-prevent svg.svg-inline--fa {
  opacity: 0.4;
}

.geosearch-component-minimized-button:hover {
  background-color: #fff;
  color: #1a1a1a;
  border: 1px solid #333;
}

.geosearch-search-submit-container {
  height: 38px;
  position: absolute;
  top: 0;
  right: 62px;
}

.geosearch-search-submit-container .input-group-append .btn {
  /* background: #fff; */
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  margin-right: 2px;
}

.geosearch-search-submit-container .btn {
  /* background: #fff; */
  background: none;
  border: none;
  color: #808080;
}

.geosearch-coordinate-button-group {
  margin-left: 0.25px;
}

.geosearch-coordinate-button-group .btn {
  border: none;
  background: #00457b;
}

.geosearch-coordinate-button-group .btn:hover,
.geosearch-coordinate-button-group .btn:focus, {
  background-color: #eee;
  color: #00457b;
}

.geosearch-component-expanded-search .minimized {
  width: 42px;
}

.geosearch-component-expanded-search .expanded {
  width: 350px;
  opacity: 1;
}

.geosearch-component-button-container {
  position: absolute;
  right: 173px;
  z-index: 10000;
}

.geosearch-coordinate-button-remove p {
  border: none;
  font-weight: 700;
  font-size: 1.3em;
}

.geosearch-search-minimize-button {
  background: rgba(40, 40, 40, 0.15);
  margin-right: 2px;
  border: none;
  &:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #eee;
    color: #1a1a1a;
  }
  &:hover {
    background-color: #eee;
    color: #1a1a1a;
  }
  &.disabled:hover {
    background-color: rgba(40, 40, 40, 0.85);
    color: #eee;
  }
}

.geosearch-coordinate-button-addpoint {
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.geosearch-coordinate-button-group .btn:focus {
  box-shadow: none;
}

.geosearch-coordinate-group-container.grouped.input-group-append > div > button.geosearch-coordinate-button-addpoint.btn.btn-secondary {
  /* border-right: 1px solid #fff; */
  margin-right: 1px;
}

.geosearch-coordinate-group-container .btn {
  width: 31px;
}

.dark-input, .dark-input:focus {
  background: none;
  background-color: none;
  color: #fff;
  box-shadow: none;
}
