#imagedownload {
  z-index: 1005;
  width: 180px;
  min-height: 100px;
  position: absolute;
  display: none;
  background: rgba(38, 43, 49, 0.45);
  text-shadow: none;
  color: #fff;
  float: left;
  font-size: 11px;
  text-align: left;
  top: 44px;
  padding: 5px;
  border-radius: 0 0 5px 5px;
}

.wv-image {
  color: #fff;
}

.wv-image .wv-re-pick-wrapper {
  color: #fff;
}

.wv-image .ui-dialog-content {
  padding: 0 10px;
}

.wv-image select {
  width: 6em;
  margin-right: 1em;
}

.wv-image-download-grid {
  display: flex;
  margin-top: 0.5em;
  flex-wrap: wrap;
  width: 100%;
}

.wv-image-download-grid .grid-child {
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  padding: 0.1em 0;
  border: 0;
  flex: 0 45%;
}

.wv-image-download-grid .grid-head {
  font-size: 12px;
}

.wv-image-download-grid .grid-child.wv-image-dimensions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wv-image-header {
  padding: 0.5em 0 0;
  font-size: 12px;
  font-weight: 400;
}

.wv-image-download-grid .wv-image-size-invalid {
  border: 1px solid #faa;
}

.wv-image-download-grid .wv-image-max-size.wv-image-size-invalid {
  border-left: none;
}

.wv-image-download-grid button span {
  font-weight: 700;
  font-size: 12px;
}

.wv-image-coords {
  position: absolute;
  z-index: 4;
  white-space: pre;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding: 0 5px;
}

.wv-image-bottom {
  text-align: left;
}

.wv-image-top {
  text-align: right;
}

.snapshots-date-header {
  display: flex;
  & .date-text {
    font: 400 12px 'Arial';
  }
}

.snapshot-date-alert-icon {
  font-size: 10px;
  position: absolute;
  bottom: 8px;
  right: 5px;
  color: #f60;
  cursor: pointer;
}

.snapshot-date-warning-tooltip-inner {
  line-height: 16px;
}
