#indicator {
  border-radius: 10px;
  border: 1px solid #404040;
  position: absolute;
  z-index: 10000;
  background: #262b31;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 250px;
  height: 52px;
  line-height: 52px;
  left: 50%;
  top: 150px;
  margin: -75px 0 0 -75px;
  text-align: center;
}

#indicator img {
  margin: 10px 10px 10px 0;
  width: 32px;
  height: 32px;
  vertical-align: middle;
}
