
.layer-modal-content {
  & div, & h1, & h2, & h3, & h4, & p, & span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #383838;
  }
}

.layers-all .layers-all-layer {
  margin-top: 5px;
  padding: 0 0 0.5em 1.2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  position: relative;
  background-color: #333;
  line-height: 0;
}

.layer-list-container .layers-all-layer {
  transition: background-color 200ms ease-out;
  left: 0;

  &.measurement-row {
    padding: 0;
  }
  &.search-row {
    border: 1px solid transparent;
  }
  &.search-row.selected {
    left: 0;
    transition: background 200ms linear, border 200ms linear;
    background: #eee;
    border-left: 6px solid #d54f21;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    & .layers-all-header > h3 {
      transition: all 200ms ease;
      color: #000;
      font-weight: 500;
    }
    & .layers-all-header > h4,
    .layers-all-header > h5 {
      transition: all 200ms ease;
      color: #333;
    }
  }
  &:hover:not(.selected) {
    transition: all 100ms linear;
    background-color: #5a5a5a;
  }
  &.search-row:hover:not(.selected) {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    left: -1px;
    & .layers-all-header > h3 {
      color: #fff;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
    }
    & .layers-all-header > h4 {
      color: #eee;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
    }
    & .layers-all-header > h5 {
      color: #bbb;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
    }
  }
}

.layers-all > .layers-all-layer:first-of-type {
  margin-top: 0;
}

.layers-all-layer .nav-item {
  color: #fff;
}

.layers-all-header > h3,
.measurement-row-header > h3 {
  color: #ddd;
  line-height: 100%;
  position: relative;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-right: 45px;
}
.measurement-row-header > h3 {
  font-size: 18px;
}
.layers-all-header > h3 {
  font-size: 15px;
}
.layers-all-header > h4 {
  color: #ccc;
  margin: 3px 0 5px;
  font-size: 14px;
}
.layer-detail-container .layers-all-header > h4 {
  color: #ccc;
  margin: 3px 0 6px 5px;
  font-size: 15px;
}
.layers-all .layers-all-layer h5 {
  color: #888;
  font-size: 12px;
  line-height: 100%;
  font-weight: 400;
  margin-top: 3px;
  margin-right: 45px;
  font-style: italic;
}

.layers-all .layers-all-layer .source-metadata {
  margin-top: 10px;
  border-top-width: 1px;
  color: #ddd;
}

.layer-date-wrap {
  background-color: #333;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
}

.layer-date-wrap .layer-date-ranges {
  padding-left: 0;
}

.layer-date-wrap .layer-date-ranges .list-group-item {
  border: 0;
  padding: 0;
  background: none;
  list-style-type: disc;
  display: list-item;
  margin: 2px 0 6px 20px;
  color: #bbb;
}

.layer-date-range .layer-date-ranges-button,
.layer-date-range .layer-date-ranges-button:not([href]):not([tabindex]) {
  color: #7bf;
  cursor: pointer;
}

.layer-date-range .layer-date-ranges-button:hover,
.layer-date-range .layer-date-ranges-button:not([href]):not([tabindex]):hover {
  color: #9df;
}

.layer-description .layer-title,
.layer-modal-content .source-metadata h1,
.layer-modal-content .source-metadata h2,
.layer-modal-content .source-metadata h3,
.layer-modal-content .source-metadata h4,
.layer-modal-content .source-metadata h5,
.layer-modal-content .source-metadata h6 {
  color: #ddd;
  font-weight: 700;
}

.source-metadata h3 {
  font-weight: 500;
  margin: 10px 0 5px;
  font-size: 14px;
  line-height: 16px;
  padding-top: 15px;
  border-top: 1px solid #aaa;
}

.layer-description .layer-title,
.layer-modal .source-metadata h3 {
  display: block;
  font-size: 14px;
  line-height: 18px;
  margin: 16px 0 6px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 4px;
}

/* Layer search rows */
.layer-list-container .layers-all-header {
  cursor: pointer;
  padding-left: 30px;
  padding-top: 0.5em;
  & > h3, & > h4, & > h5 {
    user-select: none;
  }
}

.layers-all-layer.search-row {
  padding: 8px 5px;
  .layers-all-header {
    padding: 0 0 0 40px;
  }
  &:hover {
    .wv-checkbox::before {
      border-color: #f3460a;
    }
  }
  .wv-checkbox {
    cursor: pointer;
    float: left;
    position: absolute;
    height: 24px;
    width: 24px;
    input {
      position: absolute !important;
      top: 0;
    }
  }
  .wv-checkbox:hover:not(.checked)::before {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.search-row .layers-all-header svg.info-circle {
  position: absolute;
  color: #ddd;
  font-size: 18px;
  right: 10px;
  top: 10px;
}
.selected svg.info-circle {
  color: #888;
  transition: color 250ms linear;
}

.layers-all-layer svg.info-circle:hover {
  cursor: pointer;
}

.layers-all .source-metadata p,
.layer-modal-content .selected-category .ui-tabs-panel p {
  margin-bottom: 15px;
}

.layer-modal-content .selected-category .ui-tabs-panel p,
.layer-modal-content .selected-category .ui-tabs-panel span {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #bbb;
}

.layer-modal-content .selected-category .ui-tabs-panel .source-metadata {
  overflow: hidden;
}

.layers-all .source-metadata a,
.layers-all .source-metadata div,
.layers-all .source-metadata p,
.layer-description .layer-date-wrap p,
.layers-all .source-metadata span,
.layer-modal-content .selected-category .ui-tabs-panel .source-metadata a,
.layer-modal-content .selected-category .ui-tabs-panel .source-metadata p,
.layer-date-range,
.layer-date-wrap,
.layer-metadata a,
.layer-metadata p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 15px;
}

.layers-all .source-metadata div,
.layers-all .source-metadata p,
.layers-all .source-metadata span,
.layers-all .source-metadata code {
  color: #bbb;
}

.layer-date-range,
.layer-metadata,
.layer-metadata code,
.layer-date-wrap {
  color: #ccc;
}

.custom-layer-dialog {
  margin: 5px auto;
  border: none;

  & .modal-content {
    height: 100%;
  }
  &.category-width {
    width: 978px;
    max-width: 95%;
    & .modal-body {
      padding: 0 0 0 10px;
      overflow-y: auto;
    }
    .product-outer-list-case {
      padding: 0 13px 13px 0;
    }
  }
  &.browse-search-width {
    width: 98%;
    max-width: 1200px;
    & .layer-modal-content {
      display: flex;
      flex-direction: column;
    }
    & .product-outter-list-case {
      width: 100%;
      padding: 6px 4px;
    }
  }

  & .category-masonry-case {
    overflow: hidden;
    margin: auto;
    max-width: 960px;
  }
  & .modal-header {
    padding: 4px 10px;
    border-bottom: 1px solid #bbb;
    & .close {
      font-size: 30px;
      padding: 17px 16px 0 8px;
      font-weight: 600;
    }
  }
  & .modal-title {
    width: 100%;
  }
  & .modal-body {
    padding: 0;
  }
}

.search-layers-container {
  height: 100%;
  display: flex;
  & .layer-list-detail-container {
    flex: 1.5;
    display: flex;
    flex-direction: column;
  }
  & .layer-list-container {
    flex: 1;
  }
  & .layer-detail-container {
    & .search {
      flex-grow: 1;
    }
    & .browse {
      flex-basis: 50%;
    }
  }
}

.layer-list-container {
  overflow-y: auto;
  padding: 0;
  &.browse {
    border-right: 1px solid #ccc;
  }
}

.category-width {
  & .layer-list-container.browse {
    padding: 3px 5px 0 0;
  }
}

.layer-detail-container {
  overflow-y: auto;
  padding-right: 2px;
  width: 100%;
  flex: 1;
  &.browse {
    & h2 {
      color: #eee;
      font-size: 24px;
      margin: 10px 0;
      font-weight: 400;
    }
  }
  & .layers-all-layer {
    background: transparent;
    padding: 8px 10px;
    & h3, h4 {
      color: #555;
    }
    & h5 {
      color: #666;
    }
    & .source-metadata p,
    .source-metadata span,
    .source-metadata div,
    .source-metadata code,
    .list-group-item {
      color: #333;
      background: transparent;
    }
    .source-metadata a {
      color: #0056b3;
    }
    &:hover {
      background-color: transparent;
    }
  }
  & .scrollbar-visible .layers-all-layer {
    margin: 0 11px 0 2px;
  }
  &.search .layers-all-header {
    min-height: 58px;
  }
  & .layers-all-header {
    border-left: 4px solid #d54e21;
    & h3 {
      font-size: 20px;
      margin: 5px;
      font-weight: 500;
    }
    & h5 {
      font-size: 14px;
      margin: 0 5px;
    }
    & .close-details {
      background-color: transparent;
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      font-size: 20px;
    }
    & .close-details svg.svg-inline--fa {
      color: #666;
    }
  }
  & .layer-preview {
    margin-top: 5px;
    max-height: 400px;
    border: 1px solid #ddd;
  }
  .add-to-map-btn {
    margin: 5px auto 0;
    min-width: 145px;
    background-color: transparent;
    border-color: #b55a3c;
    border-width: 2px;
    color: #333;
    svg.svg-inline--fa {
      margin-right: 10px;
    }
    &:hover:not(.is-active) {
      color: #fff;
      background-color: #b55a3c;
    }
    &.is-active {
      color: #fff;
      background-color: #d54e21;
    }
  }
}

.no-results {
  text-align: center;
  max-width: 440px;
  margin: 40px auto;
  & svg.svg-inline--fa {
    color: #777;
    font-size: 100px;
  }
  & h3 {
    font-weight: 500;
    font-size: 20px;
    margin: 40px auto 15px;
    text-align: center;
    color: #777;
  }
  & h5 {
    font-size: 16px;
    margin: 20px auto;
    text-align: center;
    font-weight: 300;
  }
  p {
    margin: 10px;
  }
}

.modal-header {
  & .header-filter-container {
    padding: 8px 0 0;
    & .results-text {
      text-align: left;
      font-size: 15px;
      font-weight: 500;
      & span {
        margin-left: 5px;
        color: #777;
      }
    }
  }
  & .filter-tooltip {
    & .display-date {
      font-size: 14px;
      font-family: monospace;
      margin: 5px;
    }
  }
  & .layer-search {
    .faded {
      background-color: #fefefe;
      color: #999;
      cursor: pointer;
    }
    & .filter-button {
      background-color: #d54e21;
      border-color: #b55a3c;
      margin-right: 10px;
    }
    & .clear-filters {
      padding: 2px 8px;
      margin-right: 10px;
    }
  }
  & .back-button {
    margin-right: 10px;
  }
  & .layer-bread-crumb .breadcrumb {
    margin-bottom: 0;
    background-color: #fff;
    margin-right: 10px;
  }
}

.granule-date-item {
  flex-wrap: wrap;
}

.granule-date-item-up-button,
.granule-date-item-down-button,
.granule-date-item-top-button {
  padding: 3px;
  background: #555;
  color: #eee;
}

.granule-date-item-up-button:hover,
.granule-date-item-down-button:hover,
.granule-date-item-top-button:hover {
  background: #eee;
  color: #555;
}

@media (min-width: 1024px) {
  .search-layers-container {
    & div.layer-list-detail-container {
      flex-direction: row;
    }
  }
  .layer-detail-container {
    &.browse .layers-all-layer {
      padding: 10px 15px;
    }
    & .layers-all-layer {
      padding: 2px 2px 4px 4px;
    }
  }
}

/* Need at least 1024px to fit three category boxes inline */
@media (max-width: 1023px) {
  .custom-layer-dialog.category-width {
    width: 658px;
    & .modal-body {
      padding: 0 0 0 8px;
    }
  }
  .custom-layer-dialog {
    &.browse-search-width {
      width: 95%;
      max-width: 800px;
    }
  }
  .layer-detail-container.search {
    flex: 2;
    height: 65%;
    border-top: 2px solid #d54e21;
    padding: 4px 0 0 2px;
    background-image: linear-gradient(#ccc, #eee 8%);
  }
}

@media (min-width: 768px) {
  .category-width .layer-modal-content {
    height: calc(var(--vh, 1vh) * 100 - 135px);
  }
  .browse-search-width .layer-modal-content {
    height: calc(var(--vh, 1vh) * 100 - 155px);
  }
  .browse-search-width .search-layers-container {
    height: calc(var(--vh, 1vh) * 100 - 157px);
  }
  .browse-search-width .search-layers-container.browse {
    height: calc(var(--vh, 1vh) * 100 - 195px);
  }
  .browse-search-width .search-layers-container.recent-layers {
    height: calc(var(--vh, 1vh) * 100 - 235px);
  }
}

/* Mobile Styles Begin Here */
@media (max-width: 768px) {
  .category-width .layer-modal-content {
    padding: 0;
    height: calc(var(--vh, 1vh) * 100 - 40px);
  }
  .browse-search-width .layer-modal-content {
    padding: 0;
    height: calc(var(--vh, 1vh) * 100 - 70px);
  }
  .browse-search-width .search-layers-container.browse {
    height: calc(var(--vh, 1vh) * 100 - 93px);
  }
  .browse-search-width .search-layers-container.recent-layers {
    height: calc(var(--vh, 1vh) * 100 - 95px);
  }
  .layer-modal-content > .results-text {
    font-size: 12px !important;
  }
  .custom-layer-dialog {
    &.browse-search-width, &.category-width {
      width: 100%;
      height: 100%;
      max-width: 100%;
      margin: 0;
    }
    &.browse-search-width .product-outter-list-case {
      width: 100%;
    }
    &.category-width .modal-body {
      padding: 0 4px;
    }
    &.category-width .search-layers-container {
      height: initial;
    }
    &.category-width .layer-list-container.browse {
      border-right: none;
      padding: 0;
    }
    .modal-content {
      border-radius: 0;
      border: none;
    }
    .modal-header {
      padding: 5px 10px;
      & .header-filter-container .results-text {
        text-align: right;
        font-size: 16px;
      }
    }
  }
  .category-masonry-case .layer-category {
    width: 100%;
  }
  .category-background-cover {
    background-size: cover;
  }
  .layer-modal-content .categories-nav {
    .nav-item {
      margin: 0 8px 0 0;
    }
    .nav-link {
      font-size: 11px;
      padding: 1px 7px;
      margin: 0;
    }
  }
  .layers-all-layer .search-row .wv-checkbox {
    left: 4px;
    &::before {
      font-size: 20px;
      line-height: 25px;
      height: 30px;
      width: 30px;
    }
  }
  .layer-detail-container.search {
    border-top: 5px solid #d54e21;
    padding-left: 2px;
    background-image: linear-gradient(#aaa, #ddd 15%);
  }
}

/** React-Swipe-To-Delete Overrides*/
.swipe-to-delete .js-content:first-child {
  position: relative !important;
}
.layers-all .swipe-to-delete .js-delete {
  margin-top: 5px;
}
