.wv-map {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.wv-map-zoom {
  right: 10px;
  position: absolute;
  z-index: 1;
  background: none rgba(40, 40, 40, 0.85);
  border: 1px solid #333;
  margin-right: 0;
  border-radius: 0;
  padding: 0;
  color: #eee;
  &:hover {
    background-color: #fff;
    color: #1a1a1a;
    border: 1px solid #333;
    &[disabled] {
      opacity: 0.5;
      color: #eee;
      background-color: #333;
      cursor: not-allowed;
    }
  }
  &[disabled] {
    opacity: 0.5;
  }
}

.wv-map-zoom.ui-button-click-prevent {
  pointer-events: none;
}

.wv-map-zoom.ui-button-click-prevent svg.svg-inline--fa {
  opacity: 0.4;
}

.wv-map-zoom svg.svg-inline--fa,
.wv-map-rotate-left svg.svg-inline--fa,
.wv-map-rotate-right svg.svg-inline--fa {
  display: block;
  width: 36px;
  padding: 12px;
  height: 37px;
}

.wv-map-zoom-in {
  top: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.wv-map-zoom-out {
  top: 188px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.wv-map-reset-rotation {
  top: 290px;
  border: 1px solid #333;
  height: 54px;
  width: 38px;
}

.wv-map-rotate-left {
  top: 251px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.wv-map-rotate-right {
  top: 344px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 768px) {
  .wv-map-zoom-in,
  .wv-map-zoom-out {
    display: none;
  }
  .wv-map-rotate-left {
    top: 96px;
  }
  .wv-map-rotate-right {
    top: 187px;
  }
  .wv-map-rotate-left svg.svg-inline--fa,
  .wv-map-rotate-right svg.svg-inline--fa {
    width: 47px;
    padding: 8px;
  }
  .wv-map-reset-rotation {
    top: 134px;
    font-size: 1.35em;
    width: 49px;
  }
}

@media (max-height: 667px) {
  .wv-map-zoom-in {
    top: calc(var(--vh, 1vh) * 100 - 516px);
  }
  .wv-map-zoom-out {
    top: calc(var(--vh, 1vh) * 100 - 478px);
  }
  .wv-map-rotate-left {
    top: calc(var(--vh, 1vh) * 100 - 415px);
  }
  .wv-map-reset-rotation {
    top: calc(var(--vh, 1vh) * 100 - 376px);
  }
  .wv-map-rotate-right {
    top: calc(var(--vh, 1vh) * 100 - 322px);
  }
}

@media (max-height: 578px) {
  .wv-map-zoom-in {
    top: 58px;
  }
  .wv-map-zoom-out {
    top: 96px;
  }
  .wv-map-rotate-left {
    top: 160px;
  }
  .wv-map-reset-rotation {
    top: 198px;
  }
  .wv-map-rotate-right {
    top: 251px;
  }
}

/* handle rotation and zoom button placement on large landscape device (like iPhone X) */
@media only screen and (max-device-height: 375px) and (orientation: landscape) {
  .wv-map-zoom-in,
  .wv-map-zoom-out, {
    display: none;
  }
  .wv-map-rotate-left {
    top: 58px;
  }
  .wv-map-reset-rotation {
    top: 96px;
  }
  .wv-map-rotate-right {
    top: 149px;
  }
}

.wv-map-scale-imperial,
.wv-map-scale-metric {
  position: absolute;
  z-index: 10;
  right: 58px;
  color: #fff;
  background-color: rgba(40, 40, 40, 0.85);
  text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  padding: 2px;
  border-left: 2px solid #fff;
}
.wv-map-scale-imperial {
  bottom: 148px;
  border-top: 2px solid #fff;
}

.wv-map-scale-metric {
  bottom: 165px;
  border-bottom: 2px solid #fff;
}

.ol-mouse-position {
  display: none;
}

.wv-coords-map {
  position: absolute;
  top: auto;
  right: 10px;
  bottom: 103px;
  white-space: pre;
  outline: none;
  color: #fff;
  text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 100%;
  border: none;
  border-radius: 0;
  background: none;
  cursor: pointer;
  height: 35px;
  padding: 0 0 0 5px;
}

.wv-coords-map:hover {
  background: rgba(40, 40, 40, 0.85);
}

.wv-coords-map:hover div.coord-btn {
  background-image: none;
  background-color: #fff;
}

.wv-coords-map:hover div.coord-btn i {
  background-position: 0;
}

.wv-coords-map span.map-coord {
  line-height: 35px;
  float: left;
  height: 35px;
  vertical-align: middle;
}

.wv-coords-map span.map-coord.latlon-selected {
  display: inline-block !important;
}

.wv-coords-map div.coord-btn {
  position: relative;
  width: 20px;
  height: 35px;
  background: rgba(40, 40, 40, 0.85);
  border: 1px solid transparent;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  padding: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wv-coords-map div.coord-btn:hover {
  background-image: none;
  background-color: #fff;
}

.wv-coords-map div.coord-btn:hover i {
  background-position: 0;
}

.wv-coords-map div.coord-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -6.5px;
  margin-left: -7px;
  width: 14px;
  height: 13px;
  background: url('../images/map/latlon.png') no-repeat;
  background-position: -14px;
}

.distraction-free-active .wv-map-zoom,
.distraction-free-active .wv-map-scale-imperial,
.distraction-free-active .wv-map-scale-metric {
  display: none;
}
