.wv-measure-button {
  position: absolute;
  bottom: 180px;
  right: 10px;
  padding: 6px 10px;
}
.modal-dialog.toolbar-modal.measure-tool-modal {
  top: unset;
  right: 70px;
  bottom: 157px;
  & .modal-body {
    padding: 0;
  }
}

/* TODO selector name is too generic */
.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: #fff;
  padding: 4px 8px;
  opacity: 0.75;
  white-space: nowrap;
}
.tooltip-measure {
  opacity: 1;
  font-weight: 600;
}
.tooltip-static {
  background-color: #fc3;
  color: #000;
  border: 1px solid #fff;
  font-weight: 700;
  font-size: 16px;
  opacity: 0.9;
}
.tooltip-measure::before,
.tooltip-static::before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.tooltip-static::before {
  border-top-color: #fc3;
}
