.wv-measure-button {
  position: absolute;
  bottom: 128px;
  right: 10px;
  padding: 6px 10px;
}
.modal-dialog.toolbar-modal.measure-tool-modal {
  top: unset;
  right: 70px;
  bottom: 157px;
  & .modal-body {
    padding: 0;
  }
}

.measure-unit-toggle {
  border-bottom: 1px solid #ccc;
  padding: 5px 5px 5px 27px;
  & .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #fff;
  }
  & .custom-control-label {
    margin-left: 34px;
    &::before {
      background-color: #0a0;
    }
    &::after {
      background-color: #fff;
    }
  }
}

/* TODO selector name is too generic */
.tooltip-measure {
  position: relative;
  background: #000;
  border-radius: 4px;
  color: #fff;
  padding: 6px 10px;
  opacity: 0.9;
  white-space: nowrap;
}
.tooltip-active {
  opacity: 0.75;
  font-weight: 500;
  font-size: 16px;
}
.tooltip-static {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  opacity: 0.9;
  background-color: #d54e21;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.tooltip-active::before,
.tooltip-static::before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.tooltip-static::before {
  border-top-color: #d54e21;
}
