.wv-measure-button {
  position: absolute;
  bottom: 148px;
  right: 10px;
  padding: 2.5px 5.5px;
  margin-left: 0;
}

.modal-dialog.measure-tool-modal {
  position: absolute;
  right: 10px;
  bottom: 171px;

  & .modal-body {
    padding: 8px 0 0;
    border-radius: 6px;
    & div {
      padding: 0 5px 10px 10px;
      & .form-check-label {
        margin-left: 24px;
      }
      & svg.svg-inline--fa {
        margin-left: 5px;
      }
      & .form-check-input {
        margin: 0 0 0 -20px;
      }
    }
  }
  .measure-download {
    border-top: 1px solid #666;
    margin-top: 4px;
    padding-top: 8px;
  }
}

@media (max-width: 768px) {
  .wv-measure-button {
    bottom: 10px;
  }
  .modal-dialog.measure-tool-modal {
    bottom: 55px;
    margin: 0;
  }
}

.measure-unit-toggle {
  border-bottom: 1px solid #666;
  padding: 6px 5px 6px 27px;
  & .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #fff;
  }
  & .custom-control-label {
    margin-left: 30px;
    &::before {
      background-color: #007bff;
      top: 1px;
    }
    &::after {
      top: 3px;
      background-color: #fff;
    }
  }
}
