/* universal/default modal styles */
.modal-dialog .default-modal,
.modal-dialog .modal-content {
  background: #282828;
  color: #eee;
}
.modal-dialog .close {
  color: #fff;
}
.clickable-behind-modal .modal {
  position: inherit
}
/* toolbar modal list styles */
.toolbar-list-modal,
.toolbar-list-modal .modal-content {
  width: 150px;
}
.toolbar-medium-modal,
.toolbar-medium-modal .modal-content {
  width: 230px;
}
.toolbar-modal.modal-dialog {
  position: absolute;
  top: 33px;
}
.toolbar-modal .modal-body {
  padding: 0;
};