/* universal/default modal styles */
.modal-dialog .default-modal,
.modal-dialog .modal-content {
  background: #282828;
  color: #eee;
}
.modal-dialog h1 {
  font-size: 22px;
}
.modal-dialog h2 {
  font-size: 17px;
}
.modal-dialog p {
  line-height: 16px;
}
.modal-dialog .close,
.modal-body pre {
  color: #eee;
}
.clickable-behind-modal .modal {
  position: inherit;
}
.modal-dialog .modal-header .close:hover {
  color: #fff;
}
.draggable-modal .modal {
  position: fixed;
}
.react-draggable.modal-dialog {
  position: absolute;
}
.template-modal.modal-dialog {
  max-width: 625px;
}
.template-modal .modal-content {
  width: 625px;
}
.template-modal .modal-body ul {
  margin: 10px 0;
  padding-left: 20px;
}
.template-modal .modal-body li {
  display: list-item;
  list-style-type: disc;
  margin: 2px 0 2px 20px;
}

.dynamic-modal.modal-dialog {
  position: absolute;
}
.notify .modal-footer {
  border: none;
}

/* light modal styling */
.modal-dialog.light .modal-content {
  background-color: #dcdcdc;
  color: #000;
}
.modal-dialog.light .modal-header {
  color: #343a40;
}
.modal-dialog.light .modal-header .close {
  color: #000;
}
.modal-dialog.light .modal-header .close:hover {
  color: #000;
}
.modal-dialog.light .modal-body {
  background: #eee;
}
