/* universal/default modal styles */
.modal-dialog .default-modal,
.modal-dialog .modal-content {
  background: #282828;
  color: #eee;
}
.modal-dialog .close {
  color: #fff;
}
.clickable-behind-modal .modal {
  position: inherit
}