.noUi-horizontal {
  height: 6px;
}
.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;
  left: -12px;
  top: -10.25px;
  border-radius: 50%;
}
.noUi-handle::before, .noUi-handle::after {
  height: 11px;
}
.noUi-handle::before {
  left: 9px;
}
.noUi-handle::after {
  left: 12px;
}
