#productsHolder .ui-tabs-panel {
    padding: 0;
}
#productsHolder-tabs{
    padding:0;
    background: rgba(0,0,0,0);
}

#productsHolder-tabs .ui-state-default {
    background: rgba(0, 0, 0, 0);
    width: 20%;
    border: 0;
    margin: 0 0 -1px 0;
}

#productsHolder-tabs .ui-state-active {
    width: 60%;
}

#productsHolder-tabs .ui-state-active a {
    color: #FFFFFF;
}

#productsHolder-tabs .ui-tabs-anchor {
    padding: 0.5em 0;
}

.ui-tabs-nav {
    border-radius:0;
    border:0;
    border-bottom: 3px #00457b solid;
}
.ui-tabs-nav li.layerPicker {height:100%; display:inline-block; float:left; width:20%;}
.ui-tabs-nav li.layerPicker.ui-state-active { width: 60%; }

.ui-tabs-nav li a {
    /*border-radius: 10px 10px 0 0;*/
    color: #fff;
    font-size: 1.1em;
    font-weight: 400;
    border: none;
    padding: 0.5em 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    display: block;
}
.ui-tabs-nav li.ui-state-default:hover a{
    background-color:#ccc;
}
.ui-tabs-nav li.first.ui-state-active a {
    background-color:#00457b;
}
.ui-tabs-nav li.first.ui-state-active a:hover {
    background-color:#00457b;
}

.ui-tabs-nav li.second.ui-state-active a {
    background-color:#906a00;
}
.ui-tabs-nav li.second.ui-state-active a:hover {
    background-color:#906a00;
}

.ui-tabs-nav li.third.ui-state-active a {
    background: rgb(99,53,45);
}
.ui-tabs-nav li.third.ui-state-active a:hover {
    background: rgb(99,53,45);
}

.firstselected {
    border-bottom: 3px #00457b solid;
}

.secondselected {
    border-bottom: 3px #906a00 solid;
}

.thirdselected {
    border-bottom: 3px rgb(99,53,45) solid;
}

.cats {
    float: right;
    margin-right:20px;
}

.productsIcon {
    display:inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background:url(../images/wv-icons.svg) transparent 0 -10px;
    margin:0;
}
/*ul#productsHoldertabs li.ui-state-active .tab:hover i.productsIcon{
    background-position:0 -10px;
}*/
/***********************************Icons***********************************/
.icon-layers      { background-position:0 -10px; }
ul#productsHoldertabs .tab:hover i.icon-layers {background-position:0 20px;}
ul#productsHoldertabs li.ui-state-active .tab:hover i.icon-layers {background-position: 0 -10px;}
ul#productsHoldertabs .tab:hover i.icon-download    { background-position:-30px 20px; }
ul#productsHoldertabs li.ui-state-active .tab:hover i.icon-download {background-position:-30px -10px;}
.icon-download-alt{ background-position:-60px -10px; }
.icon-add         { background-position:-90px -10px; }
ul#productsHoldertabs .tab:hover i.icon-add    { background-position:-90px 20px; }
ul#productsHoldertabs li.ui-state-active .tab:hover i.icon-add {background-position:-90px -10px;}
.icon-add-alt     { background-position:-120px -10px; }

.icon-events,
ul#productsHoldertabs li.ui-state-active .tab:hover i.icon-events {
    display:inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url(../images/events-icon.png);
    margin:0;
    margin-right: 5px;
}

ul#productsHoldertabs li.ui-state-active i.icon-events {
    margin-right: 5px;
}

.icon-events:hover,
ul#productsHoldertabs .tab:hover i.icon-events {
    background: url(../images/events-icon-highlight.png);
    margin-right: 5px;
}


/***********************************End Icons***********************************/
ul#productsHoldertabs li.ui-state-active i.productsIcon {
    margin-right: 10px;
}

@media screen and (max-device-height: 720px) and (orientation: landscape){
}
