#projection {
  overflow: hidden;
  z-index: 1000;
}

#projection div {
  display: block;
}

#projection a,
div.sw_current {
  display: block !important;
  width: 40px;
  height: 40px;
}

#projection ul li {
  margin: 0 !important;
}

#projection ul li div.hidden {
  display: none;
  margin-top: 2px;
}

#projection ul li:hover div.hidden {
  z-index: 299;
  display: block;
  background: rgba(38, 43, 49, 0.45);
  border-radius: 0 0 5px 5px;
  position: relative;
  top: -1px;
}

#projectioncurrent {
  border: transparent 1px solid;
}
