.rc-slider-handle {
  margin-top: -9px;
  width: 22px;
  height: 22px;
}
.rc-slider {
  padding: 11px 0 16px;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.rc-slider-handle:focus,
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  box-shadow: none;
}
.rc-slider-tooltip-inner {
  min-width: 40px;
}

.rc-slider-disabled {
  background: transparent;
  cursor: default;
  .rc-slider-handle {
    background: #999;
  }
  .rc-slider-rail {
    background: #666;
  }
  .rc-slider-track {
    background: #666;
  }
}
