.react-joyride__beacon span:first-of-type {
  box-shadow: 0 0 24px 24px rgba(0, 0, 0, 0.3);
}
.react-joyride__tooltip {
  background-color: #eee !important;
  & div {
    line-height: 16px;
  }
}
.__floater__arrow svg polygon {
  fill: #eee;
}
