li.recent-tab.nav-item {
  margin-left: 10px;
  background: transparent;
  a.nav-link {
    background: #d54e21;
    color: #fff;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top: 1px solid #9b2704;
    border-right: 1px solid #9b2704;
    border-left: 1px solid #9b2704;
  }
  .svg-inline--fa {
    margin-right: 4px;
  }
}

.recent-layers-header {
  height: 40px;
  position: relative;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;

  h2 {
    display: inline;
    line-height: 38px;
    font-size: 20px;
  }
  .svg-inline--fa {
    height: 20px;
    color: #555;
  }
  button {
    top: 7px;
    right: 5px;
    position: absolute;
    padding: 4px 8px;
  }
}

@media (min-width: 1024px) {
  .recent-layers-header {
    width: 50%;
  }
}
