
.sui-facet + .sui-facet {
  margin-top: 16px;
}

.facet-container .inner-container {

  div.sui-layout-sidebar {
    width: 30%;
  }

  div.sui-layout-body, div.sui-layout-header {
    background: #333;
  }

  legend.sui-facet__title {
    font-weight: 600;
    color: #eee;
    border-bottom: 1px solid #aaa;
    padding-left: 18px;
  }

  div.sui-boolean-facet,
  span.sui-boolean-facet__input-text,
  a.sui-single-option-facet__link,
  div.sui-paging-info,
  div.sui-results-per-page__label {
    color: #eee;
  }

  .sui-multi-checkbox-facet label {
    margin-bottom: 4px;
    & .sui-multi-checkbox-facet__input-text {
      color: #eee;
    }
  }

  span.sui-facet__count,
  span.sui-boolean-facet__option-count,
  span.sui-multi-checkbox-facet__option-count {
    color: #ccc;
  }

  button.sui-facet-view-more {
    color: #a8b6fa;
    &:hover {
      background-color: #666;
      border: 4px solid #666;
      color: #eff2ff;
    }
  }

  div.sui-layout-body::after {
    background: #333;
  }

  ul.sui-paging .rc-pagination-item-active a {
    color: #eee;
  }

  h1, h2, h3, h4, h5 {
    margin: 8px 12px;
  }
}

@media (max-width: 768px) {
  .facet-container .inner-container {
    & legend.sui-facet__title {
      font-size: 18px;
      padding: 0 0 2px 28px;
    }
    & .sui-boolean-facet {

    }
    & .sui-boolean-facet__option-label {
      height: 32px;
      margin-bottom: 2px;
    }
    & .sui-multi-checkbox-facet {
      margin-bottom: 5px 0 8px 0;
      & label {
        font-size: 18px;
        height: 32px;
        margin-bottom: 2px;
      }
    }
    & .sui-multi-checkbox-facet__option-input-wrapper,
    & .sui-boolean-facet__option-label span {
      font-size: 18px;
    }
    button.sui-facet-view-more {
      font-size: 18px;
      margin: 0 auto 10px;
      background: #444;
      padding: 3px 50px;
      border-radius: 3px;
      &:hover {
        background: #444;
        border: none;
        outline: 0;
        color: #eff2ff;
      }
    }
  }
}
