#selector {display:none;}

div.selector { display:inline-block; float:left;  width: 100%; height:100%; font-size: 1em; color: #222; text-shadow:none; }

.selector h1,h2,h3,h4 {margin:0px; padding:0px;
}
.selector h2 { display:inline-block; float: right; color:#ffffff;  border:none; padding:9px 30px 9px 30px;
background: -moz-linear-gradient(top,  rgba(255,255,255,0.7) 0%, rgba(160,121,11,0.7) 23%, rgba(156,115,0,0.7) 24%, rgba(144,106,0,0.7) 99%, rgba(144,106,0,0.7) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(23%,rgba(160,121,11,0.7)), color-stop(24%,rgba(156,115,0,0.7)), color-stop(99%,rgba(144,106,0,0.7)), color-stop(100%,rgba(144,106,0,0.7))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(160,121,11,0.7) 23%,rgba(156,115,0,0.7) 24%,rgba(144,106,0,0.7) 99%,rgba(144,106,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(160,121,11,0.7) 23%,rgba(156,115,0,0.7) 24%,rgba(144,106,0,0.7) 99%,rgba(144,106,0,0.7) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(160,121,11,0.7) 23%,rgba(156,115,0,0.7) 24%,rgba(144,106,0,0.7) 99%,rgba(144,106,0,0.7) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0.7) 0%,rgba(160,121,11,0.7) 23%,rgba(156,115,0,0.7) 24%,rgba(144,106,0,0.7) 99%,rgba(144,106,0,0.7) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#b3906a00',GradientType=0 ); /* IE6-9 */

}
.selector .tabContainer {border-bottom: 2px #906a00 solid; }
#wv-events{
    position: relative;
}
#wv-events li.item i{
    float: left;
    margin: 0 10px 5px 5px;
}
.selector h3 {display:inline-block; float: left; color:#333333; font-size: 0.9em;  border:none; text-decoration:none; }
.selector div.jspPane,.selector ul {display:block; overflow:hidden;margin:0 auto; width:100%;}
.selector .icheckbox_square-grey { float: right; }

/*.selector li.item {padding:6px 0px; width:93%; margin: 5px 2% 0; display:block; float:left; overflow:hidden;cursor:pointer;*/
.selector li.item {padding:6px 0px; width:auto; margin: 1px 2% 0; display:block; overflow:hidden;cursor:pointer;
color:#000; background: rgb(204,204,204);}
.selector li.item:hover{background:rgba(250,250,250,1)}
.selector li.item input {float:right;}
.selector li.item h4 {font-size:0.85em; color:#000;padding: 0 3px;}
.selector li.item p, .selector li.item ul {
    padding: 0 3px;
    font-size:0.78em;
    color: #222;
    font-style:italic;
    margin-left: 25px;
    margin-top: 5px;
}
.selector li.item p{
    color: #666;
}
.selector li.item p a {
    
}
.selector ul.selectorboxcategory {  outline:none !important; float:left; overflow:auto;}
.selector h3.head {display:block; float: left; color:#fff; width:100%;  border:none; text-decoration:none; background: none;  padding: 1px 3px; margin:10px 0 0 2%; text-transform:uppercase}
.selector a.flowbutton {text-decoration:none; display:inline-block; float: left; color:#ffffff; font-size: 1.4em; border:none; padding:6px 0; margin-top:20px; margin-left:5px;}
.selector ul li div {padding:0 !important;}
.selector ul.toplevel {padding:0px;}
.selector ul.toplevel li {float:left; width:auto; margin: 20px 20px 0 0;}
.selector ul.toplevel img {border-radius:5px; border:#fff 2px solid; }
.selector ul.toplevel a p {width:100%; text-align:center; color:#ffffff; font-size: 1.2em;}
#selector .bd {background: rgba(38, 43, 49, 0.65) !important; border-radius: 0 0 10px 10px; }
#selector .hd {background: rgba(38, 43, 49, 0.65) !important;border-radius: 10px 10px 0 0; }
#selector_c .yui-panel {border-radius:10px;}
#selector_c .underlay {border-radius:10px;}

.search {display: inline-block;  width:56%;  padding:0.3em;  margin:0px; font-size:1em; position:relative;  border:none; }
.select {display: inline-block;  width:40%;  padding:0.3em 0;  font-size:1em;  background-color:#ffffff; background-image:none;border:none; }
.select option {-webkit-appearance: none;}

div.facetedSearch {display:block; background:#fff; width:96%; margin: .5em auto; border-radius: 5px; }
#selectorboxcontent { height:100%;}

.selector li.item h4.mark {
    font-weight: bold;
    color: red;
}
#selectorbox .category { width: 100% !important; }
#selectorbox .jspContainer { width: 100% !important; }
#selectorbox .jspPane { width: 100% !important; }
.selectorItem { margin-right: 20px; }


#selectorbox .iCheck-checkbox {
    margin-top: 3px;
}
