.social-share {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.social-share .icon-link {
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  width: 48px;
  font-size: 26px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  &:hover {
    border: 2px solid #fff;
  }
  & svg.svg-inline--fa {
    margin-bottom: 2px;
  }
}

.social-share .social-icon-container-facebook {
  background-color: #3b5998;
}

.social-share .social-icon-container-twitter {
  background-color: #00aced;
}

.social-share .social-icon-container-reddit-alien {
  background-color: #ff5700;
}

.social-share .social-icon-container-email {
  background-color: #505050;
}

.share-body {
  height: 108px;
}

.share-nav-container {
  .input-group {
    padding-top: 10px;
  }
  .share-tab-link {
    p {
      padding: 20px 1px;
    }
  }
  .share-tab-embed {
    p {
      padding: 10px 1px;
    }
  }
  .share-tab-social {
    p {
      padding: 10px 1px;
    }
  }
  & .nav-item {
    flex: 1;
  }
  & .nav-link {
    padding: 6px;
  }

  a:not(.share-embed-doc-link) {
    color: #fff;
    user-select: none;
    cursor: pointer;
    &:hover:not(.active) {
      color: #fff !important;
      text-decoration: none;
    }
  }
  a.share-embed-doc-link {
    color: #7bf;
    &:hover {
      color: #7df;
    }
  }
  .wv-checkbox {
    position: absolute;
    right: 12px;
    bottom: 14px;
  }
}
