#wv-sidebar {
  position: absolute;
  * {
    user-select: none;
  }
}
#productsHolder {
  position: absolute;
  z-index: 2;
  min-width: 286px;
  width: 286px;
  background: transparent;
  left: 10px;
  top: 65px;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  border-top: none;
  transition: max-height 0.1s ease;
  overflow: hidden;
}
#productsHolder .layer-container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  position: relative;
  border: 1px solid transparent;
}
#productsHolder .scrollbar-visible .sidebar-panel {
  padding-right: 10px;
}
#productsHolder .main-nav {
  background: rgba(40, 40, 40, 0.85);
  border-right: 1px solid #333;
  border-left: 1px solid #333;
}
#productsHolder > .tab-content {
  background: rgba(40, 40, 40, 0.85);
  border: 1px solid #333;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#wv-logo {
  background: url('../brand/images/wv-logo.svg?v=@BUILD_NONCE@') no-repeat center rgba(40, 40, 40, 0.85);
  display: block;
  width: 286px;
  height: 55px;
  padding: 5px 0;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid #333;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.wv-logo-distraction-free-mode {
  border-radius: 5px;
  opacity: 0.5;
}
.wv-logo-distraction-free-mode:hover {
  opacity: 1;
}
#productsHolder ul#overlays {
  margin-bottom: 10px;
}
.products-holder-case .nav-tabs {
  border-bottom: 3px solid #00457b;
}
.products-holder-case .nav-tabs .nav-link {
  padding: 4px 8px;
}
.products-holder-case .main-nav .nav-link {
  margin: 1px 0;
}
#productsHolder .nav-tabs .disabled {
  color: #fff;
  opacity: 0.5;
  cursor: default;
}
#productsHolder .layer-list-placeholder {
  height: 0;
}
.products-holder-case .tab-content .nav-tabs {
  border-bottom: 3px solid #dee2e6;
}

.products-holder-case .nav-item {
  color: #fff;
}
.nav-item .active {
  cursor: pointer;
}

/* override bootstrap styles */
.tab-content .ab-tabs-case .nav-item .active {
  color: #495057;
}
.nav-item .sidebar-tab.active {
  background: #00457b;
  border-color: #00457b;
  color: #fff;
}

/**
 * IE Scrollbar hack
 * For strange ui when
 * you have overlapping
 * Scrollable elements
 */
#productsHolder.layer-modal-open .simplebar-scroll-content,
#productsHolder.layer-modal-open .simplebar-content {
  overflow: hidden;
  width: 100%;
}

#productsHolder footer {
  padding: 5px;
  width: initial;
}
footer .product-buttons {
  padding: 5px;
  height: 37px;
  width: initial;
}
footer .layers-add {
  position: absolute;
  left: 5px;
}
footer .compare-toggle-button {
  position: absolute;
  right: 5px;
  border-bottom: none;
}
.layer-group-case {
  overflow: hidden;
}
.wv-ab-mode-selection-case {
  margin: 5px;
  color: #fff;
}
.wv-ab-mode-selection-case .compare-button {
  background: #222;
}

.wv-ab-mode-selection-case .compare-button.disabled {
  background-color: #01457b;
  opacity: 1;
}
.wv-ab-mode-selection-case > div {
  margin-left: 10px;
}
.wv-ab-mode-selection-case > div,
.wv-ab-mode-selection-case h3 {
  display: inline-block;
}

#productsHolder footer p {
  color: #ccc;
  margin: 3px 0 8px;
  line-height: 1.4em;
}

#productsHolder footer .action {
  display: block;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  border-radius: 0;
  background: #d54e21;
  background-image: none;
  margin-right: 5px;
  font-weight: 700;
  padding: 0.5em 1em;
  line-height: normal;
}

#productsHolder footer .action:hover {
  color: #333;
  background: #ccc;
}

#productsHolder footer .action.ui-button-disabled {
  background-color: #000;
  color: #bebebe;
  opacity: 1;
  border: 1px solid #666;
}

#productsHolder footer .action.ui-state-hover {
  color: #333;
}

#productsHolder footer .action.ui-state-focus {
  background: #d54e21;
  background-image: none;
}

/* Layers Info */
.sidebar-panel li.item a.wv-layers-info {
  color: #333;
  text-align: center;
}

.sidebar-panel li.item a.wv-layers-info .wv-layers-info-icon {
  border-color: #333;
}

.sidebar-panel li.item a.wv-layers-info.disabled {
  color: #aaa;
}

.sidebar-panel li.item a.wv-layers-info.disabled .wv-layers-info-icon {
  border-color: #aaa;
}

.sidebar-panel li.item a.wv-layers-info.disabled:hover {
  cursor: no-drop;
  background-color: transparent;
}

.sidebar-panel li.layer-hidden a.wv-layers-info {
  color: #999;
}

.sidebar-panel li.layer-hidden a.wv-layers-info .wv-layers-info-icon {
  border-color: #999;
}

.sidebar-panel li.layer-hidden a.wv-layers-info.disabled {
  color: #666;
}

.sidebar-panel li.layer-hidden a.wv-layers-info.disabled .wv-layers-info-icon {
  border-color: #666;
}

.sidebar-panel li.item a {
  color: #22a;
}

.modal-dialog.layer-settings-modal {
  background: #282828;
  width: 300px;
  color: #eee;
}

.layer-info-settings-modal .modal-header .close,
.layer-settings-modal .modal-header .close {
  font-size: 22px;
  padding: 12px 14px;
}

.layer-info-settings-modal .modal-title,
.layer-settings-modal .modal-title {
  font-size: 14px;
  font-weight: 600;
}

.layer-settings-modal .nav-item {
  width: 100%;
  border: 1px solid transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.layer-settings-modal .nav-item.dual {
  width: 136px;
}

.layer-settings-modal .nav-item:hover {
  border: 1px solid #fff;
}

.layer-settings-modal .nav-link {
  border: none;
}

.layer-settings-modal .nav-item.active {
  background: #fff;
  border-color: #fff;
  color: #000;
}

.layer-settings-modal .tab-content {
  padding: 5px;
  background: #484848;
}

.layer-settings-modal .settings-component {
  margin-bottom: 14px;
  padding: 0 4px;
}

.layer-settings-modal .tab-content .layer-threshold-select {
  margin-top: 10px;
}

.layer-settings-modal .layer-threshold-select {
  height: 58px;
}

.layer-settings-modal .tab-content .wv-palette-selector {
  width: 266px;
}

.layer-settings-modal .wv-label {
  color: #fff;
  width: 100%;
  position: relative;
}

.layer-settings-modal .wv-label-opacity,
.layer-settings-modal .wv-label-granule-count {
  text-align: right;
}

.layer-settings-modal .wv-label-range {
  color: #fff;
}

.layer-settings-modal .wv-label-range-min {
  float: left;
}

.layer-settings-modal .wv-label-range-max {
  float: right;
}

.layer-settings-modal .wv-palette-squash {
  float: right;
  margin-top: -26px;
}

/** inline-block extra spacing */
.wv-palette-selector .wv-checkbox input {
  margin-left: 6px;
}

.layer-settings-modal .tab-content .noUi-target {
  margin: 10px 18px;
}

.layer-settings-modal .wv-header {
  font-size: 14px;
  margin-bottom: 8px;
}

.layer-opacity-select .wv-header,
.layer-granule-count-select .wv-header {
  margin-top: 0;
}

.layer-orbit-tracks .wv-checkbox {
  margin: 10px 0 10px 10px;
  & label {
    display: inline;
    text-transform: capitalize;
    margin-left: 5px;
  }
}

.layer-settings-modal .wv-header.wv-color-palette-label {
  margin-bottom: 0.5em;
}

.tab-content .wv-palette-selector-row label {
  margin-left: 3px;
}

.layer-info-settings-modal {
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 298px;
  right: auto;
  bottom: auto;
  border-radius: 6px;
  position: absolute;
  width: 500px;
}
