*:focus,
button:focus {
  outline: 0;
}

#timeline {
  left: 0;
}

.timeline-inner {
  position: absolute;
  border: 1px solid #333;
  background: rgba(40, 40, 40, 0.85);
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
  margin-left: 10px;
  margin-right: 10px;
  height: 67px;
  bottom: 10px;
}

#timeline-header {
  margin-top: 2px;
  min-width: 310px;
  display: inline-block;
}

#timeline-header.subdaily {
  width: 414px;
}

#timeline-header .timeline-zoom,
#timeline-header .input-wrapper-hour,
#timeline-header .input-time-divider,
#timeline-header .input-wrapper-minute,
#timeline-header .input-time-zmark,
#timeline-header .zoom-minutes,
#timeline-header .zoom-hours {
  display: none;
}

#timeline-header.subdaily .zoom-minutes,
#timeline-header.subdaily .zoom-hours {
  display: block;
}

#timeline-header.subdaily .timeline-zoom,
#timeline-header.subdaily .input-wrapper-hour,
#timeline-header.subdaily .input-time-divider,
#timeline-header.subdaily .input-wrapper-minute,
#timeline-header.subdaily .input-time-zmark {
  display: inline-block;
}

#timeline-header .input-wrapper {
  background: transparent;
  border: 1px solid transparent;
  vertical-align: top;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0 2px;
}

#timeline-header .input-wrapper-year {
  max-width: 62px;
}

#timeline-header .input-wrapper-month {
  max-width: 46px;
}

#timeline-header .input-wrapper-day {
  max-width: 32px;
}

#timeline-header .input-wrapper-hour,
#timeline-header .input-wrapper-minute {
  width: 32px;
}

#timeline-header .input-wrapper-hour {
  margin-left: 8px;
}

#timeline-header input {
  width: 100%;
  height: 40px;
  color: #fff;
  opacity: 1;
  font-size: 24px;
  background: transparent;
  border: 0;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.2em;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
}

#timeline-header .input-wrapper:hover {
  border-color: #666;
}

#timeline-header .input-wrapper:hover .date-arrows {
  visibility: visible;
}

#timeline-header .input-wrapper:hover .date-arrows svg path {
  fill: #888;
}

#timeline-header .input-wrapper.selected {
  border-color: #fff;
}

#timeline-header .input-wrapper.selected .date-arrows svg path {
  fill: #fff;
}

#timeline-header div {
  display: inline-block;
  vertical-align: top;
}

#timeline-header .input-time-divider {
  font-family: 'Roboto Mono', monospace;
  color: #fff;
  font-size: 24px;
  width: 13px;
  margin-top: 23px;
}

#timeline-header .input-time-zmark {
  font-family: 'Roboto Mono', monospace;
  color: #fff;
  font-size: 24px;
  margin-top: 25px;
}

#zoom-buttons-group {
  position: relative;
  width: 86px;
}

.button-action-group {
  height: 60px;
  width: 40px;
  vertical-align: middle;
  position: relative;
}

#timeline-header .button-action-group svg path {
  fill: #fff;
}

.date-arrow-wrapper {
  width: 60px;
}

#timeline-header .date-arrows {
  display: block;
  height: 10px;
}

#timeline-header .date-arrows svg {
  vertical-align: top;
  display: block;
  margin: 0 auto;
}

#timeline-header .date-arrows svg path {
  fill: #666;
}

#timeline-header .input-wrapper:hover .date-arrows:hover svg path {
  fill: #1a1a1a;
}

#timeline-header .date-arrow-down {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  -webkit-filter: FlipV;
  filter: FlipV;
  -ms-filter: 'FlipV';
}

#timeline-header .date-arrows:hover,
#timeline-header > .button-action-group:hover,
#timeline-header #zoom-buttons-group .button-action-group:hover {
  background-color: #fff;
  cursor: pointer;
}

#timeline-header > .button-action-group .button-disabled:hover,
#timeline-header #zoom-buttons-group .button-disabled:hover {
  background-color: transparent;
  cursor: default;
}

#timeline-header .button-action-group svg {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 50%;
  margin-left: -12px;
}

#timeline-header #left-arrow-group {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#timeline-header #left-arrow-group svg {
  -webkit-filter: FlipH;
  filter: FlipH;
  -ms-filter: 'FlipH';
}

#timeline-header > .button-action-group:hover .arrow,
#timeline-header #zoom-buttons-group .button-action-group:hover .arrow {
  fill: #1a1a1a;
  fill-opacity: 1;
  stroke: none;
}

#timeline-header > .button-action-group.button-disabled .arrow,
#timeline-header #zoom-buttons-group .button-disabled .arrow {
  fill: #333;
}

#timeline-header > .button-action-group.button-disabled:hover .arrow,
#timeline-header #zoom-buttons-group .button-disabled:hover .arrow {
  fill: #333;
}

#timeline-header .animate-button {
  margin-top: 10px;
  height: 40px;
  width: 40px;
}
#timeline-header .animate-button .wv-animate {
  color: #fff;
  font-size: 2.5em;
  margin: 5px 0 0 2px;
}

#timeline-header .animate-button:hover .wv-animate {
  color: #1a1a1a;
}

#timeline-header .animate-button.wv-disabled-button {
  cursor: auto;
  pointer-events: none;
}

#timeline-header .animate-button.wv-disabled-button .wv-animate {
  opacity: 0.5;
}

#timeline-header,
#timeline-footer {
  float: left;
}

#timeline-footer {
  border-left: 1px solid #666;
  border-right: 1px solid #666;
}

#wv-timeline-range-selector {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
}

#wv-timeline-range-selector * {
  pointer-events: all;
}

#wv-rangeselector-case > .wv-timeline-range-selector {
  overflow: visible;
}

#timeline-footer svg > g {
  visibility: visible;
}

/* Axis */
.timeline-axis-container {
  height: 65px;
  border-top: 1.5px solid #fff;
}

.timeline-axis-svg {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.axis-grid-text {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
  pointer-events: none;
  user-select: none;
}

.axis-grid-line {
  pointer-events: none;
}

/* Zoom button container */
#zoom-btn-container-axis {
  margin-bottom: 5px;
}

.zoom-level-display-text {
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 12px;
  line-height: 1.2em;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-transform: uppercase;
  margin: 4px 0;
  display: block;
}

.zoom-level-change {
  width: 75px;
}

.zoom-level-change-arrows {
  user-select: none;
  background: transparent;
  border: thin solid transparent;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 55px;
}

/* Interval selector */
.custom-interval-widget {
  height: 54px;
  width: 225px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: rgba(40, 40, 40, 0.85);
  position: absolute;
  top: -54px;
  left: 0;
  display: none;
  color: #fff;
  border-bottom: thin solid #444;
}

.custom-interval-widget i.wv-close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.custom-interval-widget i.wv-close:hover {
  color: #999;
  cursor: pointer;
}

.custom-interval-widget-header,
.custom-interval-widget-controls-container {
  display: inline-block;
  margin: 7px 0 0 10px;
}

.custom-interval-widget-controls-container {
  display: flex;
  flex-direction: row;
}

.custom-interval-delta-input {
  width: 80px;
  height: 24px;
  color: #7890cd;
  opacity: 1;
  font-size: 16px;
  background: transparent;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.2em;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  text-align: center;
  border: thin solid #fff;
}

.custom-interval-timescale-select-form-container {
  width: 100px;
  height: 40px;
  color: #7890cd;
  opacity: 1;
  font-size: 16px;
  background: transparent;
  border: 0;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.2em;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
}

.custom-interval-timescale-select {
  padding: 0;
  background: transparent;
  color: #7890cd;
  height: 24px;
  font-size: 16px;
  width: 118px;
  border: thin solid #fff;
  text-align-last: center;
  padding-left: 15px;
}

.custom-interval-timescale-select-option {
  background: rgb(40, 40, 40);
}

.custom-interval-text {
  color: #7890cd !important;
}

#timeline-header .timeline-zoom,
#zoom-btn-container-axis .wv-zoom-tooltip {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  background-color: rgba(40, 40, 40, 0.9);
  border-radius: 3px;
}

#timeline-header #zoom-btn-container,
#zoom-btn-container-axis {
  display: block;
}

#zoom-btn-container .wv-tooltip {
  position: absolute;
  bottom: 100%;
  border-bottom: 8px solid transparent;
  width: 100px;
  z-index: 10;
}

#zoom-btn-container-axis .wv-zoom-tooltip {
  position: absolute;
  bottom: 100%;
  width: 75px;
  z-index: 10;
}

#zoom-btn-container .wv-tooltip::after {
  position: absolute;
  top: 100%;
  left: 15%;
  content: '';
  border-top: 5px solid #000;
  border-top: 5px solid rgba(51, 51, 51, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.zoom-btn-active {
  width: 100%;
  color: #ccc;
  font-size: 12px;
  line-height: 14px;
  display: block;
  clear: both;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  margin-top: -2px;
}

.zoom-btn-active:hover {
  background-color: #fff;
  color: #1a1a1a;
}

.timeline-zoom .zoom-btn {
  display: block;
  clear: both;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  line-height: 16px;
  color: #ccc;
  padding: 2px 0;
}

.timeline-zoom .zoom-btn:hover {
  background-color: #fff;
  color: #1a1a1a;
}

#timeline-hide {
  position: absolute;
  top: 0;
  right: 0;
  height: 64px;
  width: 20px;
  cursor: pointer;
  border-left: 1px solid #1a1a1a;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#timeline-hide:hover {
  background-color: #fff;
}

#timeline-hide:hover .wv-timeline-hide-double-chevron-left,
#timeline-hide:hover .wv-timeline-hide-double-chevron-right,
.wv-timeline-hide-double-chevron-left:hover,
.wv-timeline-hide-double-chevron-right:hover {
  background-position: -206px -63px;
}

.wv-timeline-hide {
  display: block;
  top: 18px;
  right: -5px;
  color: #fff;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  user-select: none;
  height: 30px;
  width: 30px;
}

.wv-timeline-hide-double-chevron-left {
  position: absolute;
  background: url('../images/icon-sprite.svg') -206px -3px no-repeat;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 0;
  transform: rotate(90deg);
}

.wv-timeline-hide-double-chevron-right {
  position: absolute;
  background: url('../images/icon-sprite.svg') -206px -3px no-repeat;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 0;
  transform: rotate(270deg);
}

.dragger-container {
  pointer-events: none;
  position: absolute;
  bottom: 0;
}

.timeline-dragger * {
  pointer-events: all;
}

.axis-hover-line-container {
  pointer-events: none;
  position: absolute;
  bottom: 0;
}

#timeline-footer .ab-group-case text {
  font-size: 20px;
}
.ab-group-case {
  display: none;
  cursor: pointer;
}
.ab-group-case-active {
  fill: #fff;
}
.ab-group-case polygon,
.ab-group-case path,
.ab-group-case rect {
  fill: #808080;
  opacity: 0.7;
}
.ab-group-case-active path {
  stroke: #515151;
  stroke-width: 1;
  stroke-opacity: 1;
}
.ab-group-case-active polygon,
.ab-group-case-active path,
.ab-group-case-active rect {
  fill: #fff;
  opacity: 1;
  pointer-events: initial;
}
.ab-group-case text {
  fill: #fff;
  pointer-events: none;
}
.ab-group-case-active text {
  fill: #000;
}
.ab-active .ab-group-case {
  display: block;
}

/* Mobile date picker */
.mobile-date-picker-select-btn {
  position: absolute;
  left: 10px;
  bottom: 10px;
  background: rgba(40, 40, 40, 0.85);
  color: #fff;
  border: thin solid #333;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  padding: 3px;
  border-radius: 5px;
  line-height: 25px;
  white-space: nowrap;
  cursor: pointer;
}

.datepicker-header,
.datepicker-navbar-btn {
  font-weight: 700;
}

.datepicker.android-dark .datepicker-header {
  color: #fff !important;
  border-bottom: 2px solid #00457b !important;
}

.datepicker.android-dark .datepicker-wheel {
  border-top: 2px solid #00457b !important;
  border-bottom: 2px solid #00457b !important;
}

.datepicker.android-dark .datepicker-scroll li {
  color: #fff !important;
}

.datepicker.android-dark .datepicker-scroll li.disabled {
  color: rgb(88, 88, 88) !important;
}

.datepicker-navbar-btn:hover {
  background: #fff;
}
