.wv-toolbar {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  border-radius: 0;
}

.wv-toolbar-button,
[data-whatintent='mouse'] .wv-toolbar-button:focus {
  display: inline-block;
  background: rgba(40, 40, 40, 0.85);
  border: 1px solid #333;
  border-radius: 5px;
  &:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  &:hover {
    background-color: #eee;
    color: #1a1a1a;
  }
  &.disabled:hover {
    background-color: rgba(40, 40, 40, 0.85);
    color: #eee;
  }
}

[data-whatintent='keyboard'] .wv-toolbar-button:focus {
  background-color: #eee;
  color: #1a1a1a;
}

.wv-toolbar-button svg[data-icon="share-square"] {
  width: 1em;
}

.wv-toolbar .btn.disabled {
  pointer-events: auto;
  cursor: default;
}

.wv-toolbar .btn.disabled:hover i {
  pointer-events: none;
}

/* Toolbar modal styles */
.toolbar-modal {
  position: absolute;
  top: 48px;
  border-radius: 6px;
}
.toolbar-modal.modal-dialog {
  padding: 1px;
  background: #333;
  border-color: #444;
  .modal-body {
    border-radius: 6px;
  }
  a {
    color: #fff;
    &:hover {
      color: #000;
      text-decoration: none;
    }
  }
}

.toolbar-list-modal.modal-dialog {
  width: 160px;
}

.toolbar-medium-modal {
  width: 230px;
  &.modal-dialog .modal-header {
    padding: 5px 10px 5px 6px;
  }
}

.toolbar_modal_outer .modal.fade .modal-dialog {
  -webkit-transform: translate(0, 25%);
  transform: translate(0, 25%);
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.toolbar_modal_outer .modal.fade.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* Info modal */
.toolbar-info-modal {
  right: 10px;
}

/* List modal */
.toolbar-list-modal .modal-body {
  padding: 0;
}

/* Snapshot modal */
.toolbar-snapshot-modal {
  right: 70px;
}

.toolbar-snapshot-modal .modal-body {
  padding: 5px 10px;
}

/* Projection modal */
.toolbar-projection-modal {
  right: 66px;
}

.toolbar_projection .modal-backdrop {
  opacity: 0;
}

/* Share modal */
.toolbar-share-modal {
  top: 48px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.toolbar-share-modal,
.toolbar-share-modal .modal-content {
  width: 100%;
}

/* Location Search Mobile Modal */
.toolbar-location-search-modal {
  top: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.toolbar-location-search-modal,
.toolbar-location-search-modal .modal-content {
  width: 100%;
}

@media (min-width: 576px) {
  .toolbar-modal {
    top: 33px;
  }

  .toolbar-location-search-modal {
    top: 84px;
  }

  .toolbar-info-modal {
    right: 10px;
  }

  .toolbar-projection-modal {
    right: 72px;
  }

  .toolbar-share-modal {
    left: auto;
    right: 136px;
    padding: 0;
  }

  .toolbar-share-modal.modal-dialog {
    width: 300px;
  }
}

@media (min-width: 769px) {
  .wv-toolbar-button,
  [data-whatintent='mouse'] .wv-toolbar-button:focus {
    font-size: 20px;
    height: 38px;
    margin: 0 0 0 5px;
    padding: 2.5px 8px;
  }

  .toolbar-projection-modal {
    right: 37px;
  }

  .toolbar-share-modal {
    left: auto;
    right: 199px;
  }
}
