/* Bootstrap override */
.tooltip {
  z-index: 1050;

  /* Fixes issue with flicker but, breaks autohide=false */
  pointer-events: none;
}

.tooltip-icon {
  cursor: help;
}

.wv-tooltip-case {
  display: inline-block;
  position: relative;
}

.wv-tooltip-case span {
  z-index: 2;
  cursor: pointer;
  font-weight: 700;
  color: #ce4c21;
}

.wv-tooltip-case .wv-tooltip {
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  border-bottom: 10px solid transparent;
}

.wv-tooltip-case .wv-tooltip::after {
  position: absolute;
  top: 100%;
  left: 15%;
  content: "";
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.wv-tooltip-case .wv-tooltip ul {
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px;
  list-style: none;
}

.wv-tooltip-case .wv-tooltip ul li:hover {
  cursor: pointer;
  color: #ce4c21;
  opacity: 0.9;
}

.wv-tooltip-case .wv-tooltip ul li + li {
  margin-top: 5px;
}

/* Timeline Tooltip */
.date-tooltip {
  background: #212121;
  color: #fff;
  border: thin solid #666;
  font-size: 17px;
  font-family: 'Roboto Mono', monospace;
  border-radius: 5px;
  height: 25px;
  line-height: 25px;
  white-space: nowrap;
  user-select: none;
  padding-left: 8px;
  position: relative;
  z-index: 101;
}

.date-tooltip-day {
  position: relative;
  bottom: 2px;
  font-size: 14px;
  font-family: "Lucida Console", monospace;
  font-weight: 300;
}

/* Tooltip Custom - Measurement Tool, Geosearch Coordinates */
.tooltip-custom-black {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  background: #000;
  border-radius: 4px;
  color: #fff;
  padding: 5px 8px;
  white-space: nowrap;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.5);
  &.tooltip-active {
    opacity: 0.85;
    color: #ddd;
    background-color: #333;
  }
  &.tooltip-static {
    color: #fff;
    background-color: #000;
  }
  &.tooltip-active::before,
  &.tooltip-static::before {
    border-top: 6px solid rgba(0, 0, 0, 1);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
  }
  &.tooltip-static::before {
    border-top-color: #000;
  }
  &.tooltip-coordinates-container {
    max-width: 420px;
    & svg.svg-inline--fa.fa-copy {
      position: absolute;
      right: 6px;
      bottom: 6px;
    }
    & .copy-coordinates-to-clipboard-button {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 20px;
      width: 23px;
    }
  }
  .tooltip-coordinates-title {
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 17px;
    font-size: 16px;
    padding-right: 23px;
  }
  .tooltip-coordinates-group {
    display: flex;
    margin-top: 6px;
    & div:nth-child(2) {
      padding-left: 15px;
      padding-right: 26px;
    }
  }
  .close-tooltip {
    margin-left: 8px;
    border-left: 1px solid #777;
    padding-left: 6px;
    &.close-coordinates-tooltip {
      position: absolute;
      top: 4px;
      right: 6px;
    }
  }
  .svg-inline--fa {
    width: 12px;
    color: #ccc;
    &:hover {
      cursor: pointer;
      color: #fff;
    }
  }
}

@media (max-width: 768px) {
  .tooltip-custom-black {
    &.tooltip-coordinates-container {
      max-width: 320px;
    }
  }
}
