/* Breakpoint: Extra Small (< 576px) */
.tour {

}

.tour .close {
  color: #fff;
  opacity: 1;
}

/* .tour-start */

.tour-start {

}

.tour-start .modal {
  overflow-y:auto;
}

.tour-start .modal-dialog {
  overflow-y: initial;
  border: 1px solid #333;
}

.tour-start .modal-content {
  background-color: #eee;
  border: 0;
  border-radius: 0;
}

.tour-start .modal-header {
  color: #fff;
  background-color: #00457b;
  border-radius: 0;
}

.tour-start .modal-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
}

.tour-start .modal-title .close {
  color: #fff;
}

.tour-start .modal-body {
  padding: 4px;
}

.tour-start .tour-intro {
  background-color: #fff;
  border: 1px solid #333;
  padding: 15px;
}

.tour-start .modal-body .tour-intro p {
  font-size: 16px;
  line-height: 24px;
}

.tour-start .tour-intro a {
  color: #00457b;
  font-weight: 600;
}

.tour-start .tour-intro a:hover {
  color: #2276ac;
  text-decoration: none;
}

.tour-start .tour-box-container {

}

.tour-start .tour-box-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tour-start .tour-box {
  position: relative;
  background: url(../images/tour/tour-box-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 100%;
  margin: 4px auto 0;
  text-decoration: none;
  border: 1px solid #333;
}

.tour-start .tour-box-content {
  height: 198px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: hidden;
}

.tour-start .tour-box .tour-box-header {
  width: 100%;
  color: #fff;
  background-color: #00457b;
  text-align: center;
  padding: 4px;
  order: 0;
}

.tour-start .tour-box.wildfire .tour-box-header {
  background-color: #8d3b36;
}

.tour-start .tour-box.volcano .tour-box-header {
  background-color: #a5734b;
}

.tour-start .tour-box.snow .tour-box-header {
  background-color: #5a7784;
}

.tour-start .tour-box.sea-and-lake-ice .tour-box-header {
  background-color: #328697;
}

.tour-start .tour-box.iceberg .tour-box-header {
  background-color: #3889ad;
}

.tour-start .tour-box.water-color .tour-box-header {
  background-color: #457d73;
}

.tour-start .tour-box.dust-and-haze .tour-box-header {
  background-color: #a09758;
}

.tour-start .tour-box.severe-storm .tour-box-header {
  background-color: #465a64;
}

.tour-start .tour-box.man-made .tour-box-header {
  background-color: #3e3e3e;
}

.tour-start .tour-box.critical .tour-box-header {
  background-color: #585858;
}

.tour-start .tour-box-title {
  line-height: 16px;
}

.tour-start .tour-box-description {
  display: none;
}

.tour-start .tour-box:hover .tour-box-description {
  display: block;
  cursor: pointer;
  color: #fff;
  background-color: rgba(20, 20, 20, 0.75);
  padding: 4px;
  order: 1;
}

/* .tour-in-progress */

.tour-in-progress {

}

.tour-in-progress .modal {
  left: auto;
  top: 300px;
  overflow: visible;
}

.tour-in-progress .modal-dialog {
  max-width: 248px;
}

.tour-in-progress .modal-content {
  border-radius: 8px 0 0 8px;
}

.tour-in-progress .modal-header {
  position: relative;
  color: #fff;
  border-radius: 8px 0 0 0;
  background-color: rgb(0, 69, 123);
  padding: 8px 20px 8px 16px;
  border-bottom: 2px solid #fff;
}

.tour-in-progress .wildfire .modal-header {
  background-color: rgb(141, 59, 54);
}

.tour-in-progress .volcano .modal-header  {
  background-color: rgb(165, 115, 75);
}

.tour-in-progress .snow .modal-header  {
  background-color: rgb(90, 119, 132);
}

.tour-in-progress .sea-and-lake-ice .modal-header  {
  background-color: rgb(50, 134, 151);
}

.tour-in-progress .iceberg .modal-header  {
  background-color: rgb(56, 137, 173);
}

.tour-in-progress .water-color .modal-header  {
  background-color: rgb(69, 125, 115);
}

.tour-in-progress .dust-and-haze .modal-header  {
  background-color: rgb(160, 151, 88);
}

.tour-in-progress .severe-storm .modal-header  {
  background-color: rgb(70, 90, 100);
}

.tour-in-progress .man-made .modal-header  {
  background-color: rgb(62, 62, 62);
}

.tour-in-progress .critical .modal-header  {
  background-color: rgb(88, 88, 88);
}

.tour-in-progress .modal-header .close {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 0;
  margin: 0;
}

.tour-in-progress .modal-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  padding-left: 28px;
}

.tour-in-progress .modal-icon {
  position: absolute;
  top: -9px;
  left: -20px;
  height: 60px;
  width: 60px;
  z-index: 3;
  background-image: url(../images/natural-events/icon-default.png);
  background-size: 60px 60px;
}

.tour-in-progress .wildfire .modal-icon {
  background-image: url(../images/natural-events/icon-wildfires.svg);
}

.tour-in-progress .volcano .modal-icon {
  background-image: url(../images/natural-events/icon-volcanoes.svg);
}

.tour-in-progress .snow .modal-icon {
  background-image: url(../images/natural-events/icon-snow.svg);
}

.tour-in-progress .sea-and-lake-ice .modal-icon {
  background-image: url(../images/natural-events/icon-sea-and-lake-ice.svg);
}

.tour-in-progress .iceberg .modal-icon {
  background-image: url(../images/natural-events/icon-icebergs.svg);
}

.tour-in-progress .water-color .modal-icon {
  background-image: url(../images/natural-events/icon-water-color.svg);
}

.tour-in-progress .dust-and-haze .modal-icon {
  background-image: url(../images/natural-events/icon-dust-and-haze.svg);
}

.tour-in-progress .severe-storm .modal-icon {
  background-image: url(../images/natural-events/icon-severe-storms.svg);
}

.tour-in-progress .man-made .modal-icon {
  background-image: url(../images/natural-events/icon-manmade.svg);
}

.tour-in-progress .critical .modal-icon {
  background-image: url(../images/natural-events/icon-critical.svg);
}

.tour-in-progress .modal-body {
  color: #fff;
  padding: 16px 20px 16px 20px;
  max-height: 248px;
  overflow-y: scroll;
}

.tour-in-progress .modal-body p {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 16px;
}

.tour-in-progress .modal-footer {
  border-radius: 0 0 0 8px;
}

.tour-in-progress .modal-body,
.tour-in-progress .modal-footer {
  background-color: rgba(0, 69, 123, 0.80);
}

.tour-in-progress .wildfire .modal-body,
.tour-in-progress .wildfire .modal-footer {
  background-color: rgba(141, 59, 54, 0.80);
}

.tour-in-progress .volcano .modal-body,
.tour-in-progress .volcano .modal-footer  {
  background-color: rgba(165, 115, 75, 0.80);
}

.tour-in-progress .snow .modal-body,
.tour-in-progress .snow .modal-footer  {
  background-color: rgba(90, 119, 132, 0.80);
}

.tour-in-progress .sea-and-lake-ice .modal-body,
.tour-in-progress .sea-and-lake-ice .modal-footer  {
  background-color: rgba(50, 134, 151, 0.80);
}

.tour-in-progress .iceberg .modal-body,
.tour-in-progress .iceberg .modal-footer  {
  background-color: rgba(56, 137, 173, 0.80);
}

.tour-in-progress .water-color .modal-body,
.tour-in-progress .water-color .modal-footer  {
  background-color: rgba(69, 125, 115, 0.80);
}

.tour-in-progress .dust-and-haze .modal-body,
.tour-in-progress .dust-and-haze .modal-footer  {
  background-color: rgba(160, 151, 88, 0.80);
}

.tour-in-progress .severe-storm .modal-body,
.tour-in-progress .severe-storm .modal-footer  {
  background-color: rgba(70, 90, 100, 0.80);
}

.tour-in-progress .man-made .modal-body,
.tour-in-progress .man-made .modal-footer  {
  background-color: rgba(62, 62, 62, 0.80);
}

.tour-in-progress .critical .modal-body,
.tour-in-progress .critical .modal-footer  {
  background-color: rgba(88, 88, 88, 0.80);
}

.tour-in-progress .modal-title {
}

.tour-in-progress .modal-title .close {

}

.tour-in-progress .step-container {
  color: #fff;
  display: flex;
  height: 40px;
  width: 220px;
  flex-flow: row wrap;
  justify-content: space-between;
}

.tour-in-progress .step-previous {
  font-size: 40px;
  height: 40px;
  width: 40px;
  margin: auto;
}

.tour-in-progress .step-counter {
  width: 132px;
  margin: auto;
  text-align: center;
}

.tour-in-progress .step-counter p {
  font-size: 22px;
  line-height: 24px;
}

.tour-in-progress .step-next {
  font-size: 40px;
  height: 40px;
  width: 40px;
  margin: auto;
}

/* .tour-complete */

.tour-complete {

}

.tour-complete .modal {

}

.tour-complete .modal-dialog {


}

.tour-complete .modal-content {


}

.tour-complete .modal-header {

}

.tour-complete .modal-title {

}

.tour-complete .modal-title .close {

}

.tour-complete .modal-body {

}

.tour-complete .modal-footer {

}

.tour-complete .modal-footer .btn {

}

.tour-complete .modal-footer .btn-primary {

}

.tour-complete .modal-footer .btn-secondary {

}

/* Breakpoint: Small (576px to 767px) */
/* @media (min-width: 576px) {} */

/* Breakpoint: Medium (768px to 991px) */
@media (min-width: 768px) {
  .tour {
    display: block;
  }

  .tour-start {

  }

  .tour-in-progress {

  }

  .tour-complete {

  }

  /* .tour-start */

  .tour-start .modal {

  }

  .tour-start .modal-dialog {
    max-width: 618px;
  }

  .tour-start .modal-content {

  }

  .tour-start .modal-header {

  }

  .tour-start .modal-title {

  }

  .tour-start .modal-title .close {

  }

  .tour-start .modal-body {

  }

  .tour-start .modal-body .tour-intro {

  }

  .tour-start .modal-body .tour-intro p {

  }

  .tour-start .modal-body .tour-box-container {

  }

  .tour-start .modal-body .tour-box {
    flex: none;
    width: 200px;
  }

  /* .tour-in-progress */

  .tour-in-progress .modal {

  }

  .tour-in-progress .modal-dialog {

  }

  .tour-in-progress .modal-content {

  }

  .tour-in-progress .modal-header {

  }

  .tour-in-progress .modal-title {

  }

  .tour-in-progress .modal-title .close {

  }

  .tour-in-progress .modal-body {

  }

  .tour-in-progress .modal-footer {

  }

  .tour-in-progress .modal-footer .btn {

  }

  .tour-in-progress .modal-footer .btn-primary {

  }

  .tour-in-progress .modal-footer .btn-secondary {

  }

  /* .tour-complete */

  .tour-complete .modal {

  }

  .tour-complete .modal-dialog {


  }

  .tour-complete .modal-content {


  }

  .tour-complete .modal-header {

  }

  .tour-complete .modal-title {

  }

  .tour-complete .modal-title .close {

  }

  .tour-complete .modal-body {

  }

  .tour-complete .modal-footer {

  }

  .tour-complete .modal-footer .btn {

  }

  .tour-complete .modal-footer .btn-primary {

  }

  .tour-complete .modal-footer .btn-secondary {

  }
}

/* Breakpoint: Large (992px to 1199px) */
@media (min-width: 992px) {
  .tour {

  }

  .tour-start {

  }

  .tour-in-progress {

  }

  .tour-complete {

  }

  /* .tour-start */

  .tour-start .modal {

  }

  .tour-start .modal-dialog {

  }

  .tour-start .modal-content {

  }

  .tour-start .modal-header {

  }

  .tour-start .modal-title {

  }

  .tour-start .modal-title .close {

  }

  .tour-start .modal-body {

  }

  /* .tour-in-progress */

  .tour-in-progress .modal {

  }

  .tour-in-progress .modal-dialog {

  }

  .tour-in-progress .modal-content {

  }

  .tour-in-progress .modal-header {

  }

  .tour-in-progress .modal-title {

  }

  .tour-in-progress .modal-title .close {

  }

  .tour-in-progress .modal-body {

  }

  .tour-in-progress .modal-footer {

  }

  .tour-in-progress .modal-footer .btn {

  }

  .tour-in-progress .modal-footer .btn-primary {

  }

  .tour-in-progress .modal-footer .btn-secondary {

  }

  /* .tour-complete */

  .tour-complete .modal {

  }

  .tour-complete .modal-dialog {

  }

  .tour-complete .modal-content {

  }

  .tour-complete .modal-header {

  }

  .tour-complete .modal-title {

  }

  .tour-complete .modal-title .close {

  }

  .tour-complete .modal-body {

  }

  .tour-complete .modal-footer {

  }

  .tour-complete .modal-footer .btn {

  }

  .tour-complete .modal-footer .btn-primary {

  }

  .tour-complete .modal-footer .btn-secondary {

  }
}

/* Breakpoint: Extra Large (1200px +) */
@media (min-width: 1200px) {
  .tour {

  }

  .tour-start {

  }

  .tour-in-progress {

  }

  .tour-complete {

  }

  /* .tour-start */

  .tour-start .modal {

  }

  .tour-start .modal-dialog {

  }

  .tour-start .modal-content {

  }

  .tour-start .modal-header {

  }

  .tour-start .modal-title {

  }

  .tour-start .modal-title .close {

  }

  .tour-start .modal-body {

  }

  /* .tour-in-progress */

  .tour-in-progress .modal {

  }

  .tour-in-progress .modal-dialog {

  }

  .tour-in-progress .modal-content {


  }

  .tour-in-progress .modal-header {

  }

  .tour-in-progress .modal-title {

  }

  .tour-in-progress .modal-title .close {

  }

  .tour-in-progress .modal-body {

  }

  .tour-in-progress .modal-footer {

  }

  .tour-in-progress .modal-footer .btn {

  }

  .tour-in-progress .modal-footer .btn-primary {

  }

  .tour-in-progress .modal-footer .btn-secondary {

  }

  /* .tour-complete */

  .tour-complete .modal {

  }

  .tour-complete .modal-dialog {

  }

  .tour-complete .modal-content {

  }

  .tour-complete .modal-header {

  }

  .tour-complete .modal-title {

  }

  .tour-complete .modal-title .close {

  }

  .tour-complete .modal-body {

  }

  .tour-complete .modal-footer {

  }

  .tour-complete .modal-footer .btn {

  }

  .tour-complete .modal-footer .btn-primary {

  }

  .tour-complete .modal-footer .btn-secondary {

  }
}