/* Breakpoint: Extra Small (< 576px) */
.tour {
  display: none;
}

.tour .close {
  color: #fff;
  opacity: 1;
}

/* .tour-start */

.tour-start {

}

.tour-start .modal {

}

.tour-start .modal-dialog {
  border: 1px solid #333;
}

.tour-start .modal-content {
  background-color: #eee;
  border: 0;
  border-radius: 0;
}

.tour-start .modal-header {
  color: #fff;
  background-color: #00457b;
  border-radius: 0;
}

.tour-start .modal-title {
}

.tour-start .modal-title .close {
  color: #fff;
}

.tour-start .modal-body {
  padding: 4px;
}

.tour-start .tour-intro {
  background-color: #fff;
  border: 1px solid #333;
  margin-bottom: 4px;
}

.tour-start .tour-intro a {
  color: #00457b;
  font-weight: 600;
}

.tour-start .tour-intro a:hover {
  color: #2276ac;
  text-decoration: none;
}

.tour-start .tour-box-container {

}

.tour-start .tour-box-row {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.tour-start .tour-box {
  position: relative;
  background: url(../images/tour/tour-box-background.jpg);
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
}

.tour-start .tour-box-content {
}

.tour-start .tour-box .tour-box-header {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #00457b;
  color: #fff;
  text-align: center;
  padding: 4px;
}

.tour-start .tour-box.wildfire .tour-box-header {
  background-color: #8d3b36;
}

.tour-start .tour-box.volcano .tour-box-header {
  background-color: #a5734b;
}

.tour-start .tour-box.snow .tour-box-header {
  background-color: #5a7784;
}

.tour-start .tour-box.sea-and-lake-ice .tour-box-header {
  background-color: #328697;
}

.tour-start .tour-box.iceberg .tour-box-header {
  background-color: #3889ad;
}

.tour-start .tour-box.water-color .tour-box-header {
  background-color: #457d73;
}

.tour-start .tour-box.dust-and-haze .tour-box-header {
  background-color: #a09758;
}

.tour-start .tour-box.severe-storm .tour-box-header {
  background-color: #465a64;
}

.tour-start .tour-box.man-made .tour-box-header {
  background-color: #3e3e3e;
}

.tour-start .tour-box.critical .tour-box-header {
  background-color: #585858;
}

.tour-start .tour-box-title {
  line-height: 16px;
}

.tour-start .tour-box-description {
  display: none;
}

.tour-start .tour-box:hover .tour-box-description {
  cursor: pointer;
  display: block;
}

/* .tour-in-progress */

.tour-in-progress {

}

.tour-in-progress .modal {

}

.tour-in-progress .modal-dialog {


}

.tour-in-progress .modal-content {


}

.tour-in-progress .modal-header {

}

.tour-in-progress .modal-title {

}

.tour-in-progress .modal-title .close {

}

.tour-in-progress .modal-body {

}

.tour-in-progress .modal-footer {

}

.tour-in-progress .modal-footer .btn {

}

.tour-in-progress .modal-footer .btn-primary {

}

.tour-in-progress .modal-footer .btn-secondary {

}

/* .tour-complete */

.tour-complete {

}

.tour-complete .modal {

}

.tour-complete .modal-dialog {


}

.tour-complete .modal-content {


}

.tour-complete .modal-header {

}

.tour-complete .modal-title {

}

.tour-complete .modal-title .close {

}

.tour-complete .modal-body {

}

.tour-complete .modal-footer {

}

.tour-complete .modal-footer .btn {

}

.tour-complete .modal-footer .btn-primary {

}

.tour-complete .modal-footer .btn-secondary {

}

/* Breakpoint: Small (576px to 767px) */
/* @media (min-width: 576px) {} */

/* Breakpoint: Medium (768px to 991px) */
@media (min-width: 768px) {
  .tour {
    display: block;
  }

  .tour-start {

  }

  .tour-in-progress {

  }

  .tour-complete {

  }

  /* .tour-start */

  .tour-start .modal {

  }

  .tour-start .modal-dialog {
    max-width: 618px;
  }

  .tour-start .modal-content {

  }

  .tour-start .modal-header {

  }

  .tour-start .modal-title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
  }

  .tour-start .modal-title .close {

  }

  .tour-start .modal-body {

  }

  .tour-start .modal-body .tour-intro {
    padding: 15px;
  }

  .tour-start .modal-body .tour-intro p {
    font-size: 16px;
    line-height: 24px;
  }

  .tour-start .modal-body .tour-box-container {

  }

  .tour-start .modal-body .tour-box {

  }

  /* .tour-in-progress */

  .tour-in-progress .modal {

  }

  .tour-in-progress .modal-dialog {

  }

  .tour-in-progress .modal-content {

  }

  .tour-in-progress .modal-header {

  }

  .tour-in-progress .modal-title {

  }

  .tour-in-progress .modal-title .close {

  }

  .tour-in-progress .modal-body {

  }

  .tour-in-progress .modal-footer {

  }

  .tour-in-progress .modal-footer .btn {

  }

  .tour-in-progress .modal-footer .btn-primary {

  }

  .tour-in-progress .modal-footer .btn-secondary {

  }

  /* .tour-complete */

  .tour-complete .modal {

  }

  .tour-complete .modal-dialog {


  }

  .tour-complete .modal-content {


  }

  .tour-complete .modal-header {

  }

  .tour-complete .modal-title {

  }

  .tour-complete .modal-title .close {

  }

  .tour-complete .modal-body {

  }

  .tour-complete .modal-footer {

  }

  .tour-complete .modal-footer .btn {

  }

  .tour-complete .modal-footer .btn-primary {

  }

  .tour-complete .modal-footer .btn-secondary {

  }
}

/* Breakpoint: Large (992px to 1199px) */
@media (min-width: 992px) {
  .tour {

  }

  .tour-start {

  }

  .tour-in-progress {

  }

  .tour-complete {

  }

  /* .tour-start */

  .tour-start .modal {

  }

  .tour-start .modal-dialog {

  }

  .tour-start .modal-content {

  }

  .tour-start .modal-header {

  }

  .tour-start .modal-title {

  }

  .tour-start .modal-title .close {

  }

  .tour-start .modal-body {

  }

  /* .tour-in-progress */

  .tour-in-progress .modal {

  }

  .tour-in-progress .modal-dialog {

  }

  .tour-in-progress .modal-content {

  }

  .tour-in-progress .modal-header {

  }

  .tour-in-progress .modal-title {

  }

  .tour-in-progress .modal-title .close {

  }

  .tour-in-progress .modal-body {

  }

  .tour-in-progress .modal-footer {

  }

  .tour-in-progress .modal-footer .btn {

  }

  .tour-in-progress .modal-footer .btn-primary {

  }

  .tour-in-progress .modal-footer .btn-secondary {

  }

  /* .tour-complete */

  .tour-complete .modal {

  }

  .tour-complete .modal-dialog {

  }

  .tour-complete .modal-content {

  }

  .tour-complete .modal-header {

  }

  .tour-complete .modal-title {

  }

  .tour-complete .modal-title .close {

  }

  .tour-complete .modal-body {

  }

  .tour-complete .modal-footer {

  }

  .tour-complete .modal-footer .btn {

  }

  .tour-complete .modal-footer .btn-primary {

  }

  .tour-complete .modal-footer .btn-secondary {

  }
}

/* Breakpoint: Extra Large (1200px +) */
@media (min-width: 1200px) {
  .tour {

  }

  .tour-start {

  }

  .tour-in-progress {

  }

  .tour-complete {

  }

  /* .tour-start */

  .tour-start .modal {

  }

  .tour-start .modal-dialog {

  }

  .tour-start .modal-content {

  }

  .tour-start .modal-header {

  }

  .tour-start .modal-title {

  }

  .tour-start .modal-title .close {

  }

  .tour-start .modal-body {

  }

  /* .tour-in-progress */

  .tour-in-progress .modal {

  }

  .tour-in-progress .modal-dialog {

  }

  .tour-in-progress .modal-content {


  }

  .tour-in-progress .modal-header {

  }

  .tour-in-progress .modal-title {

  }

  .tour-in-progress .modal-title .close {

  }

  .tour-in-progress .modal-body {

  }

  .tour-in-progress .modal-footer {

  }

  .tour-in-progress .modal-footer .btn {

  }

  .tour-in-progress .modal-footer .btn-primary {

  }

  .tour-in-progress .modal-footer .btn-secondary {

  }

  /* .tour-complete */

  .tour-complete .modal {

  }

  .tour-complete .modal-dialog {

  }

  .tour-complete .modal-content {

  }

  .tour-complete .modal-header {

  }

  .tour-complete .modal-title {

  }

  .tour-complete .modal-title .close {

  }

  .tour-complete .modal-body {

  }

  .tour-complete .modal-footer {

  }

  .tour-complete .modal-footer .btn {

  }

  .tour-complete .modal-footer .btn-primary {

  }

  .tour-complete .modal-footer .btn-secondary {

  }
}