.vector-modal .close {
  opacity: 1;
}

.vector-modal .modal-title {
  font-weight: 800;
}

.vector-modal .modal-body {
  overflow-x: scroll;
  overflow-y: visible;
  padding: 0;
}

.vector-modal .modal-body table {
  margin: 0;
}

.vector-modal .modal-body table th,
.vector-modal .modal-body table td {
  text-transform: capitalize;
}

.vector-modal .modal-body table th {
  position: relative;
}
.vector-modal .modal-header {
  padding-bottom: 0;
}
.vector-modal .nav-item.active {
  background: #f8f9fa;
}
.vector-modal .active .nav-link {
  border: 1px solid #a5a6a7;
  border-bottom: none;
}
.vector-modal .nav-link {
  border: 1px solid #fff;
  border-bottom: none;
}
.vector-modal .vector-info-icon {
  font-size: 8px;
  border: 1px solid #666666;
  width: 13px;
  height: 13px;
  text-align: center;
  border-radius: 50%;
  padding-top: 1px;
  margin-left: 8px;
  color: #666666;
}

.vector-modal .vector-info-icon:hover {
  cursor: pointer;
}
