#wv-info-button {
     -webkit-transition: background 1s;
    transition: background 500;
}
    #wv-info-button.exclamation-circle {
        background: #b3292b
    }
    #wv-info-button.bolt {
        background: #e5c937
    }
    #wv-info-button.gift {
        background: #40a9db
    }
.ui-menu-item {}
    .ui-menu-item.exclamation-circle {
        background: #b3292b
    }
    .ui-menu-item..bolt {
        background: #e5c937
    }
    .ui-menu-item.gift {
        background: #40a9db
    }
.wv-notify-modal {}
    .wv-notify-modal h2 {
        font-size: 18px;
        font-family: "Lucida Sans", "Arial", Sans-Serif;
        font-weight: bold;
        color: #eee;
        margin: .75em 0;
    }
    .wv-notify-modal p {
        font-family: "helvetica",sans-serif;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 10px;
    }
.wv-dialog .wv-notify-modal ul li{
        list-style-type: none;
        border-bottom: 1px solid #404040;
    }