#wv-events {
    position: relative;
}
#wv-events li.item i{
    float: left;
    margin: 0 10px 5px 5px;
}

/*.selector li.item {padding:6px 0px; width:93%; margin: 5px 2% 0; display:block; float:left; overflow:hidden;cursor:pointer;*/
.selector li.item {
    padding:6px 0px;
    width:auto;
    margin:0;
    display:block;
    overflow:hidden;
    cursor:pointer;
    color:#d54e21;
    background: transparent;
}
.selector li.item h4 {
    font-size:0.85em;
    color:#ccc;
    padding: 0 3px;
}
.selector li.item p, .selector li.item ul {
    padding: 0 3px;
    font-size:0.78em;
    color: #bbb;
    font-style:italic;
    margin-left: 25px;
    margin-top: 5px;
}
.selector li.item:hover,
.selector li.item-selected{
    background:rgba(250,250,250,1);
}
.selector li.item:hover h4,
.selector li.item:hover p,
.selector li.item-selected h4,
.selector li.item-selected p{
    color:#666;
}
.selector li.item input {
    float:right;
}

.selector li.item p{
    color: #666;
}
.selector li.item p a {
    
}
.selector ul.selectorboxcategory {
    outline:none !important;
    float:left;
    overflow:auto;
}
.selector h3.head {
    display:block;
    float: left;
    color:#fff;
    width:100%;
    border:none;
    text-decoration:none;
    background: none;
    padding: 1px 3px;
    margin:10px 0 0 2%;
    text-transform:uppercase;
}
.selector a.flowbutton {
    text-decoration:none;
    display:inline-block;
    float: left;
    color:#ffffff;
    font-size: 1.4em;
    border:none;
    padding:6px 0;
    margin-top:20px;
    margin-left:5px;
}
.selector ul li div {
    padding:0 !important;
}
.selector ul.toplevel {
    padding:0px;
}
.selector ul.toplevel li {
    float:left;
    width:auto;
    margin: 20px 20px 0 0;
}
.selector ul.toplevel img {
    border-radius:5px;
    border:#fff 2px solid;
}
.selector ul.toplevel a p {
    width:100%;
    text-align:center;
    color:#ffffff;
    font-size: 1.2em;
}
#selector .bd {
    background: rgba(38, 43, 49, 0.65) !important;
    border-radius: 0 0 10px 10px;
}
#selector .hd {
    background: rgba(38, 43, 49, 0.65) !important;
    border-radius: 10px 10px 0 0;
}
#selector_c .yui-panel {
    border-radius:10px;
}
#selector_c .underlay {
    border-radius:10px;
}

.search {
    display: inline-block;
    width:56%;
    padding:0.3em;
    margin:0px;
    font-size:1em;
    position:relative;
    border:none;
}
.select {
    display: inline-block;
    width:40%;
    padding:0.3em 0;
    font-size:1em;
    background-color:#ffffff;
    background-image:none;
    border:none;
}
.select option {
    -webkit-appearance: none;
}

div.facetedSearch {
    display:block;
    background:#fff;
    width:96%;
    margin: .5em auto;
    border-radius: 5px;
}
#selectorboxcontent {
    height:100%;
}

.selector li.item h4.mark {
    font-weight: bold;
    color: red;
}
#selectorbox .category {
    width: 100% !important;
}
#selectorbox .jspContainer {
    width: 100% !important;
}
#selectorbox .jspPane {
    width: 100% !important;
}
.selectorItem {
    margin-right: 20px;
}
#selectorbox .iCheck-checkbox {
    margin-top: 3px;
}

/******************** Notifications **********************/

.notify-alert {
    position: absolute;
    top: 60px !important;
    right: 10px !important;
    left: auto !important;
}
.notify-alert i{
    font-size: 1.4em;
    height: 40px;
    box-sizing: border-box;
    line-height: 40px;
}
.notify-alert i:first-child{
    color: #d54e21;
    margin-right: 10px;
}
.notify-alert i:last-child{
    float: right;
    padding:0 10px;
}
.notify-alert i:last-child:hover {
    cursor: pointer;
    background: #ccc;
    color: #333;
}
.notify-alert .ui-dialog-content {
    padding: 0 0 0 10px;
    box-sizing: border-box;
    line-height: 40px;
}

/****************** End Notifications ********************/