/*jqueryUI overrides*/
.layer-modal .ui-widget-header,
.layer-modal .ui-dialog-titlebar,
.layer-modal .ui-widget-content,
.layer-modal .ui-dialog-content{
    background:none;
    border:0;
}
.layer-modal, .layer-modal.ui-dialog{
    background:rgb(220,220,220);
    
}
.layer-modal div, .layer-modal span,
.layer-modal p, .layer-modal div,
.layer-modal h1, .layer-modal h2,
.layer-modal h3, .layer-modal h4 {
    font-family:open_sans_light;
    font-weight:300;
    color:#383838;
}

.layer-modal .ui-dialog-titlebar{
    height:40px;
    padding:5px 5px 5px 10px;
    line-height:40px;
}
.layer-modal .ui-dialog-title{
    width:auto;
    font-weight:300;
    font-size:32px;
    line-height:40px;
    margin:0;
}
.layer-modal .ui-dialog-titlebar-close{
    position:relative;
    top:0;
    margin:0;
    width:40px;
    height:40px;
    float:right;
}
.layer-modal .ui-dialog-titlebar-close .ui-icon-closethick{
    width:32px;
    height:32px;
    margin:-16px 0 0 -16px;
    top:50%;
    left:50%;
    background:url('../images/wv-icons.png') 32px 32px;
}
.no-titlebar .ui-dialog-titlebar{
    display:none;
}
#layer-modal header,
#layer-search,
#layer-modal nav{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    height: 40px;
    line-height: 40px;
}

#layer-search {
    float:left;
}

.search-icon {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    float: left;
    cursor: pointer;
}
.search-icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin: -16px 0 0 -16px;
    background: url('../images/wv-icons.png') 0 32px;
}

#layer-modal nav {
    float:left;
}

/* Tile layout */
#layer-modal{
    padding-left:10px;
    padding-right:10px;
    padding-top:0;
    overflow:hidden;
}
#layer-modal-main{
    overflow:auto;
}

.stamp {
    cursor:pointer;
    position:absolute
}
#layer-categories{
    height:100%;
}

.layer-category {
    background-color:#000;
    cursor:pointer;
    background-color:#666;
    width: 310px;
    height:230px;
    overflow:hidden;
}
.layer-category:hover,
.stamp:hover {
    opacity:0.6;
}
.layer-category h3{
    font-size:20px;
    line-height:20px;
    padding:10px;
}
.layer-category ul {
    padding-left:10px;
}
.layer-category li{
    margin:5px 0;
}

/* Categories view */
#categories-nav label{
    border:0;
    background:0;
}
#categories-nav label span{
    text-transform: capitalize;
}

/* Measurement accordion view */
#category-breadcrumb{
    font-family:open_sans_light;
    font-size:15px;
    color:#000;
    /*font-style:italic;*/
    margin-left:10px;
}
#category-breadcrumb a,
#category-breadcrumb a:visited,
#category-breadcrumb a:link {
    color: blue;
}

#selected-category{
    color: #fff;
}
#selected-category .ui-accordion-header{
    border:0;
    margin-top:5px;
}
#selected-category .ui-accordion-header,
#selected-category .ui-state-focus{
    background:rgba(0, 0, 0, 0.75);
}
#selected-category .ui-state-active,
#selected-category .ui-accordion-content{
    background:rgba(0, 0, 0, 0.65);
}
#selected-category .ui-accordion .ui-corner-top{
    border-radius:0;
}
#selected-category .ui-accordion .ui-accordion-icons{
    padding-left:1.2em;
}
#selected-category .ui-accordion-header-icon{
    left:auto;
    right:1.2em;
}
#selected-category .ui-accordion-header h3{
    color:#fff;
    font-size:20px;
    line-height:100%;
}
#selected-category .ui-accordion-header h5{
    color:#b3b3b3;
    font-size:12px;
    line-height:100%;
    font-weight:300;
    margin-top:3px;
    font-style: italic;
}
#selected-category .ui-accordion-content{
    padding: .5em 1.2em;
}

#selected-category .ui-tabs .ui-tabs-nav{
    float:left;
    clear:both;
    overflow:auto;
    padding:0;
}
#selected-category .ui-tabs .ui-tabs-nav li {
    margin: 0;
    padding: 0;
    clear:both;
}
#selected-category .ui-tabs .ui-tabs-nav li a {
    float:none;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    padding: 0.5em 0.5em;
    width:150px;
    font-family:open_sans_light;
    font-size:13px;
    text-align:left;
    font-weight:300;
}
#selected-category .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background:rgba(255, 255, 255,0.35);
}
#selected-category .ui-tabs-panel{
    padding: 0;
    margin-left:160px;
}
#selected-category .ui-tabs-panel p {
    font-style: italics;
    margin-bottom: 15px;
}
#selected-category .ui-tabs-panel p,
#selected-category .ui-tabs-panel span {
    font-size: 11px;
    font-family: open_sans_light;
    font-weight: 300;
    color: #fff;
}
#selected-category .ui-tabs-panel .ui-buttonset{
    
}