.wv-link input[type='text'] {
  width: 100%;
  cursor: text;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wv-link {
  border-bottom: 1px solid #555;
  padding-bottom: 12px;
}

#wv-link-shorten {
  margin-top: 15px;
  width: 100%;
}

#social-share {
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

#social-share [class*="fa fa-"] {
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  width: 48px;
  font-size: 24px;
  text-align: center;
}

#social-share .fa-facebook {
  background-color: #3b5998;
}

#social-share .fa-twitter {
  background-color: #00aced;
}

#social-share .fa-reddit {
  position: relative;
  color: #ff5700;
  background-color: #fff;
  font-size: 48px;
  height: 46px;
  width: 46px;
  margin-left: 1px;
}

#social-share .fa-reddit::before {
  border-radius: 50%;
  position: absolute;
  left: -1px;
  top: 0;
}

#social-share .fa-google-plus {
  background-color: #d34836;
}

#social-share .fa-envelope {
  background-color: #505050;
}
