/*jqueryUI overrides*/
.layer-modal .ui-widget-header,
.layer-modal .ui-dialog-titlebar,
.layer-modal .ui-widget-content,
.layer-modal .ui-dialog-content{
    background:none;
    border:0;
}
.layer-modal, .layer-modal.ui-dialog{
    background:rgb(220,220,220);
    z-index:10200;

}
.layer-modal div, .layer-modal span,
.layer-modal p, .layer-modal div,
.layer-modal h1, .layer-modal h2,
.layer-modal h3, .layer-modal h4 {
    font-family: open_sans_light;
    font-weight:300;
    color:#383838;
}

.layer-modal .ui-dialog-titlebar{
    height:40px;
    padding:5px 5px 5px 10px;
    line-height:40px;
}
.layer-modal .ui-dialog-title{
    width:auto;
    font-weight:300;
    font-size:32px;
    line-height:40px;
    margin:0;
}
.layer-modal .ui-dialog-titlebar-close{
    position:relative;
    top:0;
    margin:0;
    width:40px;
    height:40px;
    float:right;
}
.layer-modal .ui-dialog-titlebar-close .ui-icon-closethick{
    width:32px;
    height:32px;
    margin:-16px 0 0 -16px;
    top:50%;
    left:50%;
    background:url('../images/wv-icons.png') 32px 32px;
}
.no-titlebar .ui-dialog-titlebar{
    display:none;
}
#layer-modal header,
#layer-search,
#layer-modal nav{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
}
#layer-modal header,
#layer-search{
    height: 40px;
    line-height: 40px;
}

#layer-search {
    position:absolute;
    left:10px;
    right:50px;
}
#layer-search:hover{
}
#layer-search input {
    background: none;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    line-height:40px;
    font-size: 28px;
    font-family: open_sans_light;
    padding:0 10px;
    position:absolute;
    left:35px;
    right:50px;
    width:100%;
    padding-right:50px;
}

.search-icon {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    float: left;
    cursor: pointer;
}
.search-icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26px;
    height: 26px;
    margin: -13px 0 0 -13px;
    background: url('../images/wv-icons.png') 0 26px;
}
#layer-search .search-on i{
    background-position: 26px 26px;
}
#layer-search .search-on:hover{
    background-color:#1a1a1a;
}
#layer-search .search-on:hover i{
    background-position: 26px 0px;
}
#layer-modal header nav {
    float:left;
}
#layer-modal nav label.ui-button{
    border-radius:0;
}
#layer-modal nav span{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    padding: 1px 15px;
}
#layers-modal-close{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    float:right;
    cursor: pointer;
}
#layers-modal-close i{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26px;
    height: 26px;
    margin: -13px 0 0 -13px;
    background: url('../images/wv-icons.png') 52px 26px;
}
#layers-modal-close:hover{
    background-color:#1a1a1a;
}
#layers-modal-close:hover i{
    background-position: 52px -52px;
}
#layer-modal nav .nav-selected{
    background:#00457B;
}
#layer-modal nav .nav-selected span{
    color:#fff;
}

/* Tile layout */
#layer-modal{
    padding-left:10px;
    padding-right:0;
    padding-top:0;
    overflow:hidden;
}
#layer-modal-main{
    overflow:auto;
    position:relative;
}
.stamp {
    cursor:pointer;
    position:absolute
}
#layer-categories{
    height:100%;
}
.layer-category {
    cursor:pointer;
    background-color:rgba(0,0,0,0.75);
    width: 310px;
    height:230px;
    overflow:hidden;
    margin-bottom: 10px;
}
.layer-category .category-background-cover{
    min-height:230px;
    background:rgba(0,0,0,0.4);
}
.layer-category h3 {
    font-size:20px;
    line-height:20px;

}
.layer-category h3 a{
    display:block;
    width:100%;
    line-height:20px;
    padding:10px;
    color:#fff;

}
.layer-category h3 a:hover{
    background:rgba(255,255,255,0.6);
}
.layer-category ul {

}
.layer-category li{

}
.layer-category li a{
    display:block;
    padding:7px 10px;
    width:100%;
    color:#fff;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
}
.layer-category li a:hover{
    background:rgba(255,255,255,0.6);
}

/* Categories view */
#categories-nav{
    height: 35px;
    line-height:35px;
    margin:0;
    border-bottom:3px solid #00457b;
}
#categories-nav label{
    border:0;
    background:0;
}
#categories-nav label span{
    text-transform: capitalize;
    font-size: 16px;
}

/* Measurement accordion view */
#category-breadcrumb{
    height:30px;
    line-height:30px;
    font-family: open_sans_light;
    font-size:16px;
    color:#000;
    /*font-style:italic;*/
    margin-left:10px;
}
#category-breadcrumb a,
#category-breadcrumb a:visited,
#category-breadcrumb a:link {
    color: blue;
}
#selected-category{
    color: #ddd;
}
#layers-all .layers-all-layer {
  padding-bottom: .5em;
}
#layers-all .layers-all-header {
    padding: 0 .5em 0 0;
    overflow: hidden;
}
#layers-all .layers-all-title-wrap {
    position: relative;
    display: block;
    margin-right: 50px;
}
#selected-category .ui-accordion-header,
#layers-all .layers-all-layer {
    position: relative;
    border:0;
    margin-top:5px;
}
#selected-category .ui-accordion-header,
#selected-category .ui-state-focus,
#layers-all .layers-all-layer {
    background:rgba(0, 0, 0, 0.85);
}
#selected-category .ui-state-active,
#selected-category .ui-state-active:hover,
#selected-category .ui-accordion-content{
    background:rgba(0, 0, 0, 0.85);
}
#selected-category .ui-accordion .ui-corner-top{
    border-radius:0;
}
#selected-category .ui-accordion .ui-accordion-icons,
#layers-all .layers-all-layer {
    padding-left:1.2em;
}
#selected-category .ui-accordion-header-icon,
#layers-all .layers-all-layer .layers-all-layer-icon {
    left:auto;
    right:1.2em;
}
#selected-category .ui-icon-triangle-1-e,
#selected-category .ui-icon-triangle-1-s
{
    width:30px;
    height:30px;
    margin-top:-15px;
    background: url('../images/wv.layers/accordion.png') transparent;
}
#selected-category .ui-icon-triangle-1-e{
    background-position:0 0;
}
#selected-category .ui-icon-triangle-1-s{
    background-position:30px 0;
}
#selected-category .ui-accordion-header h3,
#layers-all .layers-all-layer h3 {
    color:#ddd;
    font-size:20px;
    line-height:100%;
    position: relative;
    padding-top: .3em;
    display: inline-block;
}
@media (min-width:753px) {
  #selected-category .ui-accordion-header h3,
  #layers-all .layers-all-layer h3 {
    padding-right: 40px;
  }
}
#selected-category .ui-accordion-header h5,
#layers-all .layers-all-layer h5{
    color:#888;
    font-size:12px;
    line-height:100%;
    font-weight:300;
    margin-top:3px;
    font-style: italic;
}
#selected-category .ui-accordion-content{
    padding: .5em 1.2em;
}
/*Override jqueryUI hover class*/
#selected-category .ui-widget-content .ui-state-hover{
    background:none;
}
#selected-category .ui-tabs-nav li.ui-state-default:hover a{
    background:rgba(255,255,255,0.2);
}
#selected-category .ui-tabs .ui-tabs-nav{
    float:left;
    clear:both;
    overflow:auto;
    padding:0;
}
#selected-category .ui-tabs .ui-tabs-nav li {
    max-width:200px;
    border-left:10px solid transparent;
    margin: 0;
    padding: 0;
    clear:both;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
}
#selected-category .ui-tabs .ui-tabs-nav li a {
    float:none;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    padding: 0.5em 0.5em;
    width:150px;
    font-family: open_sans_light;
    font-size:13px;
    text-align:left;
    font-weight:300;
}
#selected-category .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background:rgba(255, 255, 255,0.9);
    border-left:10px solid #d54e21;
}
#selected-category .ui-tabs .ui-tabs-nav li.ui-tabs-active a{
    color:#000;
}
#selected-category .ui-tabs-panel{
    margin-left:160px;
    color:#ddd;
    padding:0 20px;
}
.source-metadata{
    padding-top:7px;
    border-top: 2px solid #d54e21;
    margin-top:7px;
}
#layers-all .source-metadata {
    border-top-width: 1px;
    color: #ddd;
    padding-right: 1.2em;
}
.source-metadata h1{
    color: #ddd;
    font-weight:bold;
    font-size: 14px;
    line-height: 14px;
    margin: 15px 0 5px;
}
.source-metadata h1:first-child{
    margin-top:0;
}
.source-metadata h2{
    color: #ddd;
    font-weight: bold;
    margin-bottom: 5px;
}
.layers-all-layer .layers-all-header .fa {
  color: #ddd;
  font-family: FontAwesome;
  font-size: 14px;
  padding: 12px 16px 12px;
  position: absolute;
  margin-left: -8px;
  margin-top: -8px;
}
@media (min-width: 753px) {
  .layers-all-layer .layers-all-header .fa {
    padding: 10px 18px 16px;
    top: 0;
    right: 0;
    margin-top: 0;
    margin-left: 0;
  }
}
.layers-all-layer .fa:hover {
    cursor: pointer;
}
#layers-all .source-metadata p,
#selected-category .ui-tabs-panel p {
    margin-bottom: 15px;
}
#selected-category .ui-tabs-panel p,
#selected-category .ui-tabs-panel span {
    font-size: 11px;
    font-family: open_sans_light;
    font-weight: 300;
    color: #bbb;
}
#selected-category .ui-tabs-panel .source-metadata{
    overflow:hidden;
}

#layers-all .source-metadata p,
#layers-all .source-metadata a,
#selected-category .ui-tabs-panel .source-metadata p,
#selected-category .ui-tabs-panel .source-metadata a{
    font-family: open_sans_light;
    font-size: 13px;
    line-height:14px;
}
#layers-all .source-metadata p {
    color: #bbb;
}
#selected-category .ui-tabs-panel .source-metadata.overflow{
    height:100px;
}
#layers-all .metadata-more,
#selected-category .ui-tabs-panel .metadata-more{
    display:block;
    height:20px;
    line-height:20px;
    border-top: 1px solid #D54E21;
}
#layers-all .metadata-more{
    height:8px;
    margin-top:4px;
}
#layers-all .metadata-more:hover,
#selected-category .ui-tabs-panel .metadata-more:hover{
    background:rgba(255,255,255,0.3);
    cursor: pointer;
}
#layers-all .metadata-more .ellipsis,
#selected-category .ui-tabs-panel .metadata-more .ellipsis {
    display: block;
    height: 12px;
    width: 40px;
    background: #D54E21 none repeat scroll 0% 0%;
    color:#fff;
    line-height: 0;
    margin:0 auto;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}
#layers-all .metadata-more .ellipsis.up,
#selected-category .ui-tabs-panel .metadata-more .ellipsis.up {
    font-size:1em;
    line-height:1em;
}
#selected-category .ui-tabs-panel .ui-buttonset{

}
#selected-category .ui-tabs-panel li.measurement-settings-item iCheck-checkbox,
#selected-category .ui-tabs-panel li.measurement-settings-item label,
#selected-category .ui-tabs-panel li.measurement-settings-item
{
    cursor:pointer;
}
#selected-category .ui-tabs-panel li.measurement-settings-item{
    padding:5px 0;
    margin:0 0 2px 0px;
}
#selected-category .ui-tabs-panel li.measurement-settings-item:hover{
    background:rgba(255,255,255,0.3);
    cursor:pointer;
}

#selected-category .ui-tabs-panel h3.source-orbits-title{
    color:#ddd;
    font-weight:bold;
    padding:10px 0px;
}

#layers-all .iCheck-checkbox {
    float: right;
    margin-top: .5em;
}
/*lazy code to put scrollbar in the right place*/

#layer-categories,
#selected-category,
#layers-all
{
    padding-right:10px;
}
#categories-nav {
    margin-right:10px;
}

/* perfect-scrollbar */
.ps-container > .ps-scrollbar-y-rail,
.ps-container > .ps-scrollbar-y-rail .ps-scrollbar-y
{
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    opacity:1;
}
.ps-container > .ps-scrollbar-y-rail {
    right:0;
}
.ps-container > .ps-scrollbar-y-rail .ps-scrollbar-y{
    background-color: #666;
}
.ps-container:hover.ps-in-scrolling {
    pointer-events: none; }
    .ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
      background-color: #eee;
      opacity: 1; }
      .ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
        background-color: #999; }
    .ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
      background-color: #eee;
      opacity: 1; }
      .ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
        background-color: #999; }
  .ps-container:hover > .ps-scrollbar-x-rail,
  .ps-container:hover > .ps-scrollbar-y-rail {
    opacity: 1; }
  .ps-container:hover > .ps-scrollbar-x-rail:hover {
    background-color: #eee;
    opacity: 1; }
    .ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
      background-color: #999; }
  .ps-container:hover > .ps-scrollbar-y-rail:hover {
    background-color: #eee;
    opacity: 1; }
    .ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
      background-color: #999; }
