#travel-mode-title {
  color: #fff;
  position: absolute;
  left: 287px;
  top: 10px;
  width: auto;
  height: 55px;
  font-family: Helvetica, sans-serif;
  font-size: 27px;
  line-height: 1.2em;
  vertical-align: baseline;
  background: rgb(27 27 27);
  border-right: 1px solid #333;
  border-top: 1px solid #333;
  border-radius: 5px;
  white-space: nowrap;
  padding: 15px;
}
