.wv-eventslist {
  position: relative;
}

.wv-eventslist li.item .event-icon {
  float: left;
  margin: 0 8px 1px 5px;
}

.event-container {
  background: #333;

  .no-events {
    text-align: center;
    color: #eee;
    font-size: 16px;
    padding: 20px;
    margin: 15px auto;
  }

  min-height: 166px;

  @media (max-width: $mobile-max-width) {
    height: calc(var(--vh, 1vh) * 100 - 85px);
  }

  .event-scroll-list {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    background: #222;
    min-height: 260px;

    @media (max-width: $mobile-max-width) {
      min-height: calc(var(--vh, 1vh) * 100 - $wv-mobile-event-list-offset);
    }
  }
}

.map-item-list li.item.event {
  padding: 6px 0;
  width: auto;
  margin: 0;
  display: block;
  overflow: hidden;
  cursor: pointer;
  background: transparent;

  &.item-selected {
    background: #eee;
    padding: 6px;

    h4.title {
      color: #666;
    }
  }
}

.map-item-list li.item.hidden {
  display: none;
}

.map-item-list li.item h4.title {
  @media (max-width: $mobile-max-width) {
    font-size: 1em;
  }

  color: #ccc;
  padding: 0 3px;
  margin-left: 40px;
}

.map-item-list li.item p,
.map-item-list li.item ul {
  padding: 0 3px;
  font-size: 12px;
  color: #bbb;
  font-style: italic;
  margin-left: 15px;
  margin-top: 5px;
}

.map-item-list li.item ul {
  list-style: none;
}

.map-item-list li.item-selected,
.map-item-list li.item.item-selected:hover {
  cursor: default;
  background: rgb(250 250 250 / 100%);
}

.map-item-list li.item:hover {
  background: #666;
  color: #fff;
}

.map-item-list li.item-selected h4,
.map-item-list li.item-selected p {
  color: #666;
}

.map-item-list li.item input {
  float: right;
}

.map-item-list li.item p {
  color: #666;

  &.magnitude {
    display: inline-block;
    margin: 0 0 0 4px;
    padding: 0;
    font-size: 10px;
  }

  a {
    display: block;
    clear: both;
    margin: 4px 0 6px;
    position: relative;
    padding-left: 15px;
  }
}

.wv-eventslist li.item ul li.date {
  margin: 5px 0;

  a {
    font-size: 14px;
    font-family: $wv-monospace-font;
    cursor: pointer;
    text-decoration: none;
  }

  .active {
    font-size: 14px;
    font-family: $wv-monospace-font;
    font-weight: 500;
    color: #666;
  }
}

.wv-eventslist .map-item-list li.item .fa-external-link-alt {
  margin: 0;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  left: 0;
}

.map-item-list ul.selectorboxcategory {
  outline: none !important;
  float: left;
  overflow: auto;
}

.map-item-list h3.head {
  display: block;
  float: left;
  color: #fff;
  width: 100%;
  border: none;
  text-decoration: none;
  background: none;
  padding: 1px 3px;
  margin: 10px 0 0 2%;
  text-transform: uppercase;
}

.map-item-list a.flowbutton {
  text-decoration: none;
  display: inline-block;
  float: left;
  color: #fff;
  font-size: 1.4em;
  border: none;
  padding: 6px 0;
  margin-top: 20px;
  margin-left: 5px;
}

.map-item-list ul li div {
  padding: 0 !important;
}

.map-item-list li.item h4.mark {
  font-weight: 700;
  color: #f00;
}

.marker div {
  display: block;
  height: 26px;
  width: 26px;
  background: url("../images/natural-events/dot.svg");
}

.marker.selected {
  z-index: 1;

  div {
    transform: scale(1.2);
    transform-origin: center bottom;
    position: relative;
    height: 31px;
    background: url("../images/natural-events/pin.svg");
  }
}

.marker:not(.marker-selected):hover {
  transform: scale(1.2);
  transform-origin: center bottom;
  position: relative;
  cursor: pointer;
}

.track-marker-case {
  position: relative;
  z-index: 99;
}

.track-marker-case-selected {
  z-index: 1;

  .track-marker {
    opacity: 0.7;
    z-index: 1;
  }

  .track-marker-date {
    top: 25px;
    left: -34px;
  }

  .track-marker-date::before {
    display: none;
  }
}

.track-marker-case-hidden {
  display: none;
}

.track-marker {
  width: 12px;
  height: 12px;
  border: 1px solid #000;
  border-radius: 6px;
  background-color: #fff;
  opacity: 1;
  z-index: 99;
}

.track-marker-date {
  display: none;
  position: absolute;
  width: 95px;
  top: -30px;
  left: -40px;
  padding: 4px;
  background-color: $wv-transparent-black;
  border-radius: 3px;
  text-align: center;
  font-family: $wv-monospace-font;
  font-size: 12px;
  color: #ccc;
  z-index: 900;
}

.cluster-track-marker-date {
  top: -35px;
  left: -33px;
  width: 110px;
  z-index: 900;
}

.track-marker-date::before {
  position: absolute;
  bottom: -5px;
  left: 40px;
  content: "";
  border-top: 5px solid #000;
  border-top: 5px solid rgb(51 51 51 / 90%);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  z-index: 900;
}

.track-marker-case:not(.track-marker-case-selected) .track-marker:hover {
  transform: scale(1.5);
  border: 1px solid #22a;
  cursor: pointer;
}

.event-track-line {
  z-index: 0;
}

.event-track-point,
.event-track-cluster-point {
  z-index: 1;
}

.event-track-arrows {
  background-size: initial;
  background-position: center;
  background-repeat: repeat-x;
  background-image: url("../images/natural-events/track-arrow.svg");
  position: absolute;
  pointer-events: none;
}

.track-marker-case .track-marker:hover ~ .track-marker-date {
  display: block;
}

.cluster-marker:hover ~ .cluster-track-marker-date {
  display: block;
}

.cluster-marker-small {
  background-color: rgb(243 165 49 / 60%);
  transform: scale(0.8);
}

.cluster-marker-small .cluster-marker-inner {
  background-color: rgb(243 165 49 / 60%);
}

.cluster-marker-medium {
  background-color: rgb(249 106 23 / 60%);
  transform: scale(0.9);
}

.cluster-marker-medium .cluster-marker-inner {
  background-color: rgb(255 94 0 / 60%);
}

.cluster-marker-large {
  background-color: rgb(253 107 73 / 60%);
}

.cluster-marker-large .cluster-marker-inner {
  background-color: rgb(247 53 10 / 60%);
}

.cluster-marker {
  border-radius: 12px;
  font-family: "Open Sans", sans-serif;
  width: 24px;
  height: 24px;
}

.cluster-marker:hover {
  cursor: pointer;
}

.cluster-marker .cluster-marker-inner {
  position: absolute;
  height: 16px;
  width: 16px;
  text-align: center;
  right: 4px;
  bottom: 4px;
  border-radius: 8px;
  margin-top: 4px;
  font-size: 11px;
}

.event-icon {
  display: block;
  height: 30px;
  width: 30px;
  background: url("../images/natural-events/icon-critical.svg");
}

.wv-map .event-icon {
  height: 26px;
  width: 26px;
}

.event-icon-dust-and-haze {
  background: url("../images/natural-events/icon-dust-and-haze.svg");
}

.event-icon-icebergs {
  background: url("../images/natural-events/icon-icebergs.svg");
}

.event-icon-manmade {
  background: url("../images/natural-events/icon-manmade.svg");
}

.event-icon-sea-and-lake-ice {
  background: url("../images/natural-events/icon-icebergs.svg");
}

.event-icon-severe-storms {
  background: url("../images/natural-events/icon-severe-storms.svg");
}

.event-icon-snow {
  background: url("../images/natural-events/icon-snow.svg");
}

.event-icon-volcanoes {
  background: url("../images/natural-events/icon-volcanoes.svg");
}

.event-icon-water-color {
  background: url("../images/natural-events/icon-water-color.svg");
}

.event-icon-wildfires {
  background: url("../images/natural-events/icon-wildfires.svg");
}

.events-loading-text {
  display: block;
  text-align: center;
  color: #fff;
  padding: 10px;
  margin: 50px auto;
  font-size: 18px;
  line-height: 22px;
  height: 100px;
}

.event-alert-modal-body ul {
  padding-left: 20px;
  margin: 10px 0;
}

.event-alert-modal-body ul li {
  list-style-type: disc;
  display: list-item;
  margin: 2px 0 2px 20px;
}

.events-footer-case {
  color: #fff;
  padding-top: 5px;
  border-top: 0.5px solid rgb(250 250 250 / 50%);
}

.events-tooltip {
  z-index: 1000;
  visibility: hidden;
  max-width: 160px;
  background: black;
  color: white;
  position: fixed;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

.events-tooltip-arrow {
  z-index: 1000;
  position: fixed;
  visibility: hidden;
  background: black;
  width: 20px;
  height: 20px;
  rotate: 45deg;
  border-radius: 2px;
}
