.wv-map {
  position: absolute;
  margin: 0;
  padding: 0;
  inset: 0;
  z-index: 0;
}

.wv-map-zoom {
  position: absolute;
  right: 0;
  z-index: 1;
  background: none $wv-transparent-black;
  border: 1px solid #333;
  margin-right: 0;
  border-radius: 0;
  padding: 0;
  color: #eee;

  &:hover {
    background-color: #fff;
    color: #1a1a1a;
    border: 1px solid #333;

    &[disabled] {
      opacity: 0.5;
      color: #eee;
      background-color: #333;
      cursor: not-allowed;
    }
  }

  &[disabled] {
    opacity: 0.5;
  }
}

.wv-zoom-buttons {
  top: 150px;
  right: 10px;
  position: absolute;
  height: 78px;
  width: 38px;
}

.wv-rotation-buttons {
  top: 251px;
  right: 10px;
  width: 38px;
  height: 130px;
  position: absolute;
}

.wv-map-zoom.ui-button-click-prevent {
  pointer-events: none;
}

.wv-map-zoom.ui-button-click-prevent svg.svg-inline--fa {
  opacity: 0.4;
}

.wv-map-zoom,
.wv-map-rotate-left,
.wv-map-rotate-right {
  display: block;
  width: 36px;
  height: 38px;
}

.wv-map-zoom-in {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.wv-map-zoom-out {
  top: 38px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.wv-map-reset-rotation {
  top: 39px;
  border: 1px solid #333;
  height: 50px;
  width: 36px;
}

.wv-map-rotate-left {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.wv-map-rotate-right {
  top: 90px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.wv-zoom-buttons-mobile {
  display: none;
}

.wv-rotation-buttons-mobile {
  top: 96px;
  right: 10px;
  width: 38px;
  height: 130px;
  position: absolute;

  .wv-map-rotate-left,
  .wv-map-rotate-right {
    width: 49px;
    padding: 8px;
  }

  .wv-map-reset-rotation {
    font-size: 1.35em;
    width: 49px;
  }
}

@media (max-height: 667px) {
  .wv-zoom-buttons {
    top: calc(var(--vh, 1vh) * 100 - 516px);
  }

  .wv-rotation-buttons {
    top: calc(var(--vh, 1vh) * 100 - 415px);
  }
}

@media (max-height: 578px) {
  .wv-zoom-buttons {
    top: 58px;
  }

  .wv-rotation-buttons {
    top: 160px;
  }
}

/* handle rotation and zoom button placement on large landscape device (like iPhone X) */
@media only screen and (max-device-height: 375px) and (orientation: landscape) {
  .wv-zoom-buttons {
    display: none;
  }

  .wv-rotation-buttons {
    top: 58px;
  }
}

.wv-map-scale-imperial,
.wv-map-scale-metric {
  position: absolute;
  z-index: 10;
  right: 58px;
  color: #fff;
  background-color: $wv-transparent-black;
  text-shadow: $wv-map-text-shadow;
  padding: 2px;
  border-left: 2px solid #fff;
}

.wv-map-scale-imperial {
  bottom: 148px;
  border-top: 2px solid #fff;
}

.wv-map-scale-metric {
  bottom: 165px;
  border-bottom: 2px solid #fff;
}

.ol-mouse-position {
  display: none;
}

.wv-coords-container {
  position: absolute;
  height: 35px;
  width: 260px;
  top: auto;
  right: 10px;
  bottom: 103px;
  overflow: hidden;
}

.wv-coords-map {
  white-space: pre;
  outline: none;
  color: #fff;
  text-shadow: $wv-map-text-shadow;
  font-size: 100%;
  border: none;
  border-radius: 0;
  background: none;
  cursor: pointer;
  height: 35px;
  padding: 0 0 0 5px;
}

.wv-coords-map:hover {
  background: $wv-transparent-black;
}

.wv-coords-map:hover div.coord-btn {
  background-image: none;
  background-color: #fff;
}

.wv-coords-map:hover div.coord-btn i {
  background-position: 0;
}

.map-coord-format {
  float: right;
  pointer-events: none;
}

.wv-coords-map span.map-coord {
  line-height: 35px;
  float: left;
  height: 35px;
  vertical-align: middle;
  pointer-events: none;
}

.wv-coords-map div.coord-btn {
  position: relative;
  width: 20px;
  height: 35px;
  background: $wv-transparent-black;
  border: 1px solid transparent;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  padding: 1px;
  box-sizing: border-box;
}

.wv-coords-map div.coord-btn:hover {
  background-image: none;
  background-color: #fff;
}

.wv-coords-map div.coord-btn:hover i {
  background-position: 0;
}

.wv-coords-map div.coord-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -6.5px;
  margin-left: -7px;
  width: 14px;
  height: 13px;
  background: url("../images/map/latlon.png") no-repeat;
  background-position: -14px;
}

.distraction-free-active .wv-map-zoom {
  display: none;
}

.distraction-free-active .wv-map-scale-imperial,
.distraction-free-active .wv-map-scale-metric {
  display: none;
}

.distraction-free-active .wv-map-scale-imperial {
  bottom: 28px;
}

.distraction-free-active .wv-map-scale-metric {
  bottom: 45px;
}

.dateline-text {
  rect {
    fill: #444;
    stroke: #222;
    stroke-width: 1px;
  }

  text {
    fill: #eee;
    text-shadow: 1px 1px 0 #111;
    font-size: 14px;
    font-family: $wv-monospace-font;
  }
}
