.wv-measure-button {
  position: absolute;
  bottom: 148px;
  right: 10px;
  padding: 2.5px 5.5px;
  margin-left: 0;
}

.modal-dialog.measure-tool-modal {
  position: absolute;
  right: 10px;
  bottom: 171px;

  & .modal-body {
    padding: 8px 0 0;
    border-radius: 6px;

    & div {
      padding: 0 5px 10px 10px;

      & .form-check-label {
        margin-left: 24px;
      }

      & svg.svg-inline--fa {
        margin-left: 5px;
      }

      & .form-check-input {
        margin: 0 0 0 -8px;
      }
    }
  }

  .measure-download {
    border-top: 1px solid #666;
    margin-top: 4px;
    padding-top: 8px;
  }
}

.modal-dialog.measure-tool-modal.measure-mobile {
  bottom: 60px;
  margin: 0;
}

.form-check-input:checked ~ .custom-control-label::before {
  border-color: #fff;
}

.form-check-input {
  background-color: #007bff;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3E%3Ccircle r=%273%27 fill=%27%23fff%27/%3E%3C/svg%3E") !important;
}

.custom-control-label {
  padding-left: 6px;

  &::before {
    background-color: #007bff;
    top: 1px;
  }

  &::after {
    top: 3px;
    background-color: #fff;
  }
}

.measure-unit-line {
  padding: 0;
  margin: 0;
  border: 1px solid #666;
  width: 100%;
}
