/* Global Settings Modal */
.global-settings-modal.modal-dialog {
  width: 420px;
}

.global-settings-modal {
  .global-setting-container {
    margin-bottom: 16px;
  }

  .settings-component {
    margin-bottom: 15px;
  }

  .wv-header {
    margin-bottom: 12px;
  }

  .btn-group button.setting-button {
    color: #fff;
    background: #222;

    &.active {
      background: #d54e21;
      border-color: #d54e21;
    }

    &:hover {
      background: #fff;
      color: #000;
    }
  }
}

@media (max-width: 576px) {
  .global-settings-modal.modal-dialog {
    width: 96%;
    margin: 0;
  }
}
