.social-share {
  padding-top: 10px;
  display: flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.social-share .icon-link {
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  width: 48px;
  font-size: 26px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid #fff;
  }

  & svg.svg-inline--fa {
    margin-bottom: 2px;
  }
}

.social-share .social-icon-container-facebook {
  background-color: #3b5998;
}

.social-share .social-icon-container-twitter {
  background-color: #00aced;
}

.social-share .social-icon-container-reddit-alien {
  background-color: #ff5700;
}

.social-share .social-icon-container-email {
  background-color: #505050;
}

.share-nav-container {
  .share-img-preview-container {
    display: flex;
    justify-content: center;
  }

  img.share-img-preview.desktop {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }

  img.share-img-preview.mobile {
    object-fit: contain;
    max-width: 75%;
    max-height: 75%;
  }

  .link-parent {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
  }

  .share-tab-embed {
    p {
      padding: 10px 1px;
    }
  }

  .share-tab-social {
    p {
      padding: 10px 1px;
    }
  }

  & .nav-item {
    flex: 1;
  }

  & .nav-link {
    padding: 6px;
  }

  a:not(.share-embed-doc-link) {
    color: #fff;
    user-select: none;
    cursor: pointer;

    &:hover:not(.active) {
      color: #fff !important;
      text-decoration: none;
    }
  }

  a.share-embed-doc-link,
  #share-embed-doc-link {
    color: #7bf;

    &:hover {
      color: #7df;
      text-decoration: underline;
    }
  }

  // .wv-checkbox {
  //   position: absolute;
  //   right: 12px;
  //   bottom: 14px;
  // }
}
