.sidebar-expand {
  position: relative;

  > a {
    float: left;
    left: 10px;
    position: absolute;
    top: 67px;
    height: 30px;
    padding-top: 8px;
    background: $wv-transparent-black;
    border-radius: 0;
    box-sizing: border-box;
    width: 286px;
    margin: 0;
    border: 1px solid #333;
    cursor: pointer;
    text-align: center;
    color: #fff;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;

    & .layer-count {
      margin: 0 5px;
    }

    .expand-icon {
      height: 25px;
      width: 25px;
      float: right;
      margin-right: 5px;
      position: relative;
      top: -7px;
    }

    &:hover {
      background-color: #ccc;
      color: rgb(40 40 40);
    }
  }

  &.mobile > a {
    height: 45px;
    width: 56px;
    background-image: none;
    border-radius: 5px;
    top: 58px;

    & svg.svg-inline--fa {
      font-size: 33px;
      position: absolute;
      left: 10px;
      top: 5px;
      color: #fff;
    }

    & span.layer-count {
      color: #fff;
      position: relative;
      top: 8px;
      font-size: 18px;
      font-weight: 600;
      background: #333;
      border-radius: 50%;
      padding: 0 5px;
      text-align: center;
      margin: 8px;
    }
  }
}

.sidebar-collapse {
  position: absolute;
  right: 2px;
  height: 30px;
  width: 30px;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  svg.collapse-icon {
    height: 22px;
    width: 22px;
    padding: 3px;
    color: #fff;
  }

  &:hover {
    background: #ccc;

    svg {
      color: #333;
    }
  }
}

.sidebar-panel {
  color: #222;
}

.sidebar-panel h1,
.sidebar-panel h2,
.sidebar-panel h3,
.sidebar-panel h4 {
  margin: 0;
  padding: 0;
  color: #000;
  font-weight: 400;
}

.sidebar-panel h2 {
  font-size: 1.4em;
  display: inline-block;
  float: left;
  color: #fff;
  border: none;
  padding: 9px 30px;
}

.sidebar-panel .tabContainer {
  border-bottom: 2px #005190 solid;
}

.sidebar-panel h3 {
  display: block;
  color: #fff;
  border: none;
  text-decoration: none;
  background: none;
  padding: 1px 3px;
  font-size: 0.9em;
  margin: 5px 0;
  text-transform: uppercase;
}

.sidebar-panel li.item {
  padding: 0;
  margin: 0 auto;
}

.sidebar-panel li.item-static {
  cursor: default;
}

.sidebar-panel li.item-static:hover {
  background: rgb(220 220 220 / 100%);
}

.mCustomScrollBox > .mCSB_scrollTools {
  right: -6px;
}

.sidebar-panel li.item h4,
.inmotion h4 {
  font-size: 12px;
  line-height: 16px;
  padding: 3px 3px 0;
}

.sidebar-panel li.item p,
.inmotion p {
  padding: 0 3px 6px;
  color: #222;
  font-size: 0.8em;
  font-style: italic;
}

li.item span.palette {
  display: block;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 5px;
}

li.item ul.palette li {
  float: left;
}

.sidebar-panel ul.category {
  position: relative;
  overflow: hidden;
  background: #333;
}

.sidebar-panel ul.category li h3,
.inmotion h3 {
  display: block;
  clear: both;
  float: none;
}

.layer-metadata.overflow {
  height: 40px;
  overflow: hidden;
}

.layer-info-modal .layer-metadata {
  padding-right: 10px;
}

.layer-description .layer-metadata h3,
.layer-description .layer-metadata h4 {
  margin-bottom: 5px;
}

.layer-description .layer-metadata h1,
.layer-description .layer-metadata h2,
.layer-description .layer-metadata h3,
.layer-description .layer-metadata h4,
.layer-description .layer-metadata h5,
.layer-description .layer-metadata h6 {
  color: #ccc;
  font-weight: 700;
}

img.sidebar-panel-item-img {
  display: block;
}

.visibility img {
  height: 14px;
  width: 20px;
}

.sidebar-panel img.close {
  height: 14px;
  width: 14px;
}

.sidebar-panel-item-img.close {
  opacity: 1;
}

.ui-tabs-hide {
  position: absolute !important;
  left: -999em !important;
}

.sidebar-panel li.item.productsitem,
li.item.productsitem.inmotion,
.sidebar-panel li.itemstatic {
  padding: 0;
  min-height: 40px;
  list-style: none;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #333;
  overflow: hidden;
}

.sidebar-panel li.item.productsitem:hover {
  border-color: #fff;
}

.productsitem a.visibility {
  width: 30px;
  background-color: #ccc;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  border-right: 1px solid #333;

  &.layer-enabled:hover {
    background: #fff;
  }

  &.disabled:hover {
    cursor: not-allowed;
  }

  &.layer-visible.disabled:hover {
    cursor: not-allowed;
    background: #c5c5c8;

    .svg-inline--fa {
      color: #333;
    }
  }

  &.layer-hidden.disabled:hover {
    background: #666;
    cursor: not-allowed;

    .svg-inline--fa {
      color: #c5c5c8;
    }
  }

  .layer-eye-icon {
    text-align: center;
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    font-size: 18px;
  }
}

.productsitem svg.svg-inline--fa {
  color: #333;
}

.productsitem .visibility:hover .layer-eye-icon {
  color: #000;
}

.layer-hidden svg.svg-inline--fa {
  color: #c5c5c8;
}

/* ***********************************
 * Vector layer pointer icon *
 *************************************/
.productsitem .layer-main .layer-pointer-icon {
  position: absolute;
  right: 4px;
  bottom: 7px;
}

.productsitem .layer-pointer-icon svg.svg-inline--fa {
  color: #22a;
}

.productsitem .layer-pointer-icon.disabled svg.svg-inline--fa {
  color: #333;
}

.productsitem .layer-pointer-icon:hover svg.svg-inline--fa {
  transform: scale(1.2);
  cursor: pointer;
}

.layer-hidden .layer-pointer-icon {
  opacity: 0.6;
}

.layer-pointer-icon.disabled::before,
.layer-pointer-icon.disabled::after {
  position: absolute;
  content: "";
  background: #f00;
  display: block;
  width: 1px;
  height: 19px;
  inset: 0;
  margin: auto;
  cursor: pointer;
}

.layer-pointer-icon.disabled::before {
  transform: rotate(-45deg);
}

.layer-pointer-icon.disabled::after {
  transform: rotate(45deg);
}

/************************************
 * End -- vector layer pointer icon *
 ************************************/

/* ***********************************
 * Granule active footprint toggle *
 *************************************/
.productsitem .layer-main .layer-granule-footprint-toggle {
  position: absolute;
  right: 4px;
  top: 38px;
}

.layer-granule-footprint-toggle .react-switch-case {
  width: 30px;
}

.layer-hidden .layer-granule-footprint-toggle {
  opacity: 0.6;
}

/************************************
 * End -- Granule active footprint toggle *
 ************************************/

.productsitem a.wv-layers-info,
.productsitem a.wv-layers-options {
  position: relative;
  width: 20px;
  height: 20px;
  float: right;
}

.productsitem.inmotion {
  width: 284px;
  list-style: none;
}

.productsitem a.wv-layers-close:hover,
.productsitem a.wv-layers-info:hover,
.productsitem a.wv-layers-options:hover {
  background: #fff;
}

.wv-layers-info-icon {
  border: thin solid #333;
  width: 10px !important;
  height: 10px;
  text-align: center;
  border-radius: 50%;
  padding: 1px;
  margin-top: 3px;
}

.layer-info svg.svg-inline--fa.wv-layers-options-icon {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -6px;
}

.productsitem.layer-hidden a.wv-layers-options svg.svg-inline--fa.wv-layers-options-icon {
  background-position: -21px -69px;
}

.productsitem.layer-hidden a.wv-layers-options:hover svg.svg-inline--fa.wv-layers-options-icon {
  background-position: 0 -69px;
}

.productsitem div.zot {
  margin-left: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  cursor: default;
  display: none;

  &.overzoom {
    background: #dacf00;

    &:hover {
      background: #fff200;
    }
  }

  &.layer-notice {
    background-color: #f60;

    &:hover {
      background: #ff6900;
    }
  }

  &.overzoom.layer-notice {
    background: #f60;
    background: linear-gradient(280deg, rgb(255 102 0 / 90%) 40%, rgb(255 252 3 / 90%) 60%);

    &:hover {
      background: #e50;
      background: linear-gradient(280deg, rgb(255 102 0 / 100%) 40%, rgb(255 252 3 / 100%) 60%);
    }
  }

  b {
    text-align: center;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -10px;
  }
}

.productsitem.zotted div.zot {
  display: block;
}

.zot-tooltip .tooltip {
  pointer-events: all;

  .tooltip-inner {
    max-width: 280px;

    div {
      margin: 8px 0;
      line-height: 16px;
    }
  }
}

.productsitem a.button.wv-layers-close {
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  position: relative;
}

.productsitem a.button.wv-layers-close svg.svg-inline--fa {
  width: 12px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  left: 50%;
  font-size: 14px;
  margin-left: -7px;
}

.productsitem {
  cursor: grab;

  & .layer-info {
    background-color: #ccc;
    min-height: 40px;

    & .layer-buttons {
      position: absolute;
      right: 0;
      background: #ccc;
      background: linear-gradient(90deg, rgb(204 204 204 / 0%) 0%, rgb(204 204 204 / 100%) 30%);
      width: 100px;

      & .layer-group-more-options {
        top: 10px;
        position: absolute;
        right: 0;
      }

      & .button {
        cursor: pointer;
        vertical-align: bottom;
      }
    }
  }

  &.layer-hidden {
    .layer-info {
      background-color: #666;
    }

    .layer-buttons {
      background: #666;
      background: linear-gradient(90deg, rgb(102 102 102 / 0%) 0%, rgb(102 102 102 / 100%) 30%);
    }
  }

  & .layer-main {
    width: auto;
    margin-left: 30px;
    min-height: 40px;
    overflow: hidden;
  }
}

.productsitem.zotted .layer-main {
  margin-left: 41px;
}

.productsitem.layer-hidden .layer-info h4,
.productsitem.layer-hidden .layer-info p {
  color: #999;
}

.sidebar-panel .layer-main h4,
.inmotion .layer-main h4,
.sidebar-panel .layer-main p {
  padding: 0;
}

.sidebar-panel li.layer-hidden a {
  color: #999;
}

.state-saver {
  background: rgb(220 220 0 / 30%);
  height: 42px;
}

.productsitem.layer-hidden a.visibility {
  background: #666;
}

.sidebar-panel li.item.productsitem.disabled:hover {
  border-color: transparent;
  cursor: default;
}

.disabled.layer-hidden a.visibility:hover {
  background: rgb(255 255 255 / 20%);
  cursor: default;
}

.productsitem.disabled.layer-hidden a.visibility:hover svg.svg-inline--fa {
  color: #c5c5c8;
}

@media screen and (max-width: $desktop-min-width) and (max-height: $mobile-max-width) and (orientation: landscape),
  (max-width: $mobile-max-width) {
  .toggleIconHolder {
    height: 50px;
    width: 50px;

    svg {
      width: 45px;
      height: 45px;
      color: #fff;
    }
  }

  .sidebar-panel li.item {
    h4 {
      font-size: 16px;
      padding: 6px 4px 4px;
      width: calc(100vw - 85px);
    }

    p {
      font-size: 12px;
    }
  }

  .productsitem {
    .layer-main {
      margin-left: 45px;
    }

    div.zot {
      margin-left: 45px;
      width: 32px;

      b {
        font-size: 22px;
      }
    }

    &.zotted .layer-main {
      margin-left: 78px;
    }

    .layer-info {
      min-height: 44px;

      .layer-buttons {
        height: 26px;
        width: 26px;
        background: #ccc;

        .wv-layers-close {
          height: 25px;
          width: 25px;

          svg.svg-inline--fa {
            font-size: 20px;
          }
        }
      }
    }

    &.layer-hidden .layer-info .layer-buttons {
      background: #666;
    }

    .layer-eye-icon {
      top: 50%;
      font-size: 26px;
      margin-top: -13px;
    }

    a.visibility {
      width: 45px;
    }
  }
}
