@use "variables";

#wv-sidebar {
  position: absolute;
  z-index: 3;

  * {
    user-select: none;
  }
}

.products-holder-case {
  position: absolute;
  min-width: 286px;
  width: 286px;
  background: transparent;
  left: 10px;
  top: 75px;
  box-sizing: border-box;
  padding: 0;
  border-top: none;
  overflow: hidden;

  ul#overlays {
    margin-bottom: 10px;
  }

  .main-nav {
    background: variables.$wv-transparent-black;
    border-right: 1px solid #333;
    border-left: 1px solid #333;

    &.nav-tabs {
      border-bottom: 3px solid #0B3D91;

      .disabled {
        color: #fff;
        opacity: 0.5;
        cursor: default;
      }

      .nav-link {
        padding: 4px 8px;

        &.disabled {
          pointer-events: auto;
        }
      }
    }

    .nav-link {
      margin: 1px 0;
    }
  }

  .nav-item .sidebar-tab.active {
    background: #0B3D91;
    border-color: #0B3D91;
    color: #fff;
    height: 32px;
  }

  .nav-item a:not(.active):hover {
    color: #fff !important;
  }

  .layer-list-placeholder {
    height: 0;
  }

  .tab-content .nav-tabs {
    border-bottom: 3px solid #dee2e6;
    padding-bottom: 4px;
  }

  .nav-item {
    color: #fff;
    cursor: pointer;
    height: 31px;
  }

  .layer-container {
    box-sizing: border-box;
    position: relative;
    border: 1px solid transparent;

    ul li {
      list-style: none;
    }
  }

  .scrollbar-visible .sidebar-panel {
    padding-right: 10px;
  }

  > .tab-content {
    background: variables.$wv-transparent-black;
    border: 1px solid #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .react-switch {
    margin: 6px 0 3px 8px;

    .switch-label-text {
      padding-top: 1px;
    }
  }
}

// #wv-logo {
//   background: url("../brand/images/wv-logo.svg?v=@BUILD_NONCE@") no-repeat center $wv-transparent-black;
//   display: block;
//   width: 286px;
//   height: 55px;
//   padding: 5px 0;
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   border: 1px solid #333;
//   border-bottom: 1px solid transparent;
//   border-top-right-radius: 5px;
//   border-top-left-radius: 5px;
//   box-sizing: border-box;
// }

.wv-logo-distraction-free-mode {
  border-radius: 5px;
  opacity: 0.8;
}

.wv-logo-distraction-free-mode:hover {
  opacity: 1;
}

.nav-item .active {
  cursor: pointer;
}

/* override bootstrap styles */
.tab-content .ab-tabs-case {
  .nav-tabs {
    flex-wrap: nowrap;
  }

  .nav-item {
    .active {
      color: #495057;
    }

    .ab-tab {
      overflow: hidden;
      white-space: nowrap;
      width: 140px;
      padding-left: 5px;
    }
  }
}

/**
 * IE Scrollbar hack
 * For strange ui when
 * you have overlapping
 * Scrollable elements
 */
#products-holder.layer-modal-open .simplebar-scroll-content,
#products-holder.layer-modal-open .simplebar-content {
  overflow: hidden;
  width: 100%;
}

#products-holder footer {
  width: initial;
  margin-bottom: 5px;
  margin-top: 12px;
}

footer #layers-add {
  margin: 5px 10px 10px;
}

.product-section-break {
  color: #ccc;
  opacity: 1;
  margin: 0 10px;
}

footer .product-buttons {
  height: 31px;
  width: auto;
}

#layers-add .add-plus {
  margin-right: 5px;
  margin-top: -2px;
}

.wv-button {
  background-image: linear-gradient(#555, #666);
  border: 1px solid #666;
  color: #eee;
  font-family: 'Public Sans', sans-serif;
  font-size: 1em;
  font-weight: 700;
  padding: 0;
  border-radius: 0;
}

.compare-chart-container {
  display: flex;
  justify-content: space-around;
}

.charting-button {
  display: flex;
  justify-content: space-around;
}

#compare-toggle-button {
  background: #77777a;
  border: 1px solid #77777a;
  color: #eee;
  font-family: 'Public Sans', sans-serif;
  font-size: 1em;
  font-weight: 700;
  padding: 0;
  width: 138px;
}

footer .chart-toggle-button {
  background: #77777a;
  border: 1px solid #77777a;
  position: absolute;
  left: 10px;
  width: 113px !important;

  .button-text {
    padding: 3px 0 4px !important;
  }
}

footer .compare-toggle-button {
  border-bottom: none;
  position: absolute;
  right: 10px;
}

div#group-overlays-checkbox-case {
  margin: 4px 0 0 10px;
}

.layer-group-baselayers {
  margin-top: 10px;
}

.compare-chart-container > button {
  width: 45%;
  height: 30px;
}

.layer-group-case {
  overflow: hidden;

  .layer-group-header {
    background: #333;
    margin-top: 4px;
    border: 1px solid #444;

    &:hover {
      border-color: #aaa;
    }
  }

  .layer-group-title {
    display: inline-block;
    margin: 4px 0;
    font-size: 12px;
    max-width: 232px;
    line-height: 15px;

    @media screen and (max-width: variables.$desktop-min-width) and (max-height: variables.$mobile-max-width) and (orientation: landscape),
      (max-width: variables.$mobile-max-width) {
      font-size: 16px;
    }
  }

  .dropdown {
    border: 1px solid rgb(250 250 250 / 50%);
    border: none;

    .dropdown-toggle {
      background-color: #333;
      border: none;
      font-size: 14px;
      border-radius: 0;
      padding: 4px;

      &:hover {
        background-color: #555;
        color: #fff;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }

  .layer-group-more-options {
    display: inline;
    top: -2px;

    > button {
      background: transparent;
      border: none;

      &:active,
      &:focus {
        border: none;
        box-shadow: none;
        color: #ddd;
      }
    }
  }

  .layer-group-icons {
    position: absolute;
    right: 0;
    display: inline;
  }

  .layer-group-more {
    font-size: 16px;
  }

  .layer-group-collapse {
    font-size: 22px;
    width: 15px;
    margin-right: 8px;
    color: #fff;
    cursor: pointer;
    display: inline;
  }

  .layer-group-visibility {
    margin: 0 5px;
  }
}

/* override bootstrap 5 dropdown menu */
.layer-options-dropdown-menu {
  margin: 0;
  background-color: #3a3a3a;
  color: #eee;
  border-radius: 0;
  box-shadow: 1px 1px 20px rgb(0 0 0 / 75%);
}

.layer-options-dropdown-item {
  color: #eee;
  font-size: 14px;
  padding: 6px 12px;

  @media (max-width: variables.$mobile-max-width) {
    font-size: 18px;
    padding: 12px 14px;
  }

  &:hover {
    color: #fff;
    background-color: #d54e21;
  }

  &:active,
  &.active {
    background: #d54e21;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
  }
}

@media (max-width: variables.$mobile-max-width) {
  .layer-group-case .layer-group-header {
    min-height: 32px;
    margin-top: 10px;

    .layer-group-title {
      font-size: 16px;
      margin: 6px 0 2px 3px;
      max-width: 304px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .layer-group-icons {
      margin-top: 2px;
    }

    .layer-group-more-options {
      top: 0;
    }

    .layer-group-collapse {
      font-size: 32px;
      width: 21px;
      vertical-align: top;
      position: relative;
      top: -5px;
      margin: 0 10px 0 4px;
      color: #fff;
      cursor: pointer;
      display: inline;
    }
  }

  .layer-group-case .layer-group-more-options {
    top: 10px;
  }

  #products-holder footer .product-buttons {
    height: 70px;
  }
}

.tab-pane > .product-buttons {
  display: flex;
  margin: 10px;

  #group-overlays-checkbox-case {
    margin: 2px;
    display: flex;
    align-items: center;
    font-size: 12px;
    position: absolute;
    right: 10px;
  }
}

.group-overlays-checkbox {
  margin: 4px 0 0 4px;
}

@media (max-width: 739px) {
  .group-overlays-checkbox {
    margin: 4px 0 0 10px;
  }
}

.wv-ab-mode-selection-case,
.wv-charting-mode-container {
  margin: 10px;
  color: #fff;
  position: relative;
}

.charting-title {
  font-size: 16px;
  font-weight: bold;
}

#charting-info-container {
  position: absolute;
  top: 0;
  right: 0;

  #charting-info-icon svg {
    height: 16px;
    cursor: pointer;
  }
}

.charting-subtitle {
  display: flex;
  margin-top: 15px;
}

.charting-subtitle h3 {
  font-size: 13px;
  font-weight: bold;
}

.charting-subtitle span {
  margin-left: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.wv-ab-mode-selection-case .compare-button {
  background: #222;
}

.wv-ab-mode-selection-case .compare-button.disabled {
  background-color: #01457b;
  opacity: 1;
}

.compare-title {
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0;
}

.compare-button-row {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  position: relative;

  .btn-group {
    position: absolute;
    right: 0;

    .compare-button {
      padding: 3px 18px;
    }
  }

  .compare-subtitle {
    display: inline-block;
  }
}

.charting-aoi-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  h3 {
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .edit-coordinates span {
    padding: 3px 9px;
  }

  .wv-image-input-case {
    width: 78%;
  }
}

.charting-aoi-container .btn-group {
  margin-left: auto;
}

.charting-timespan-container, .charting-aoi-container {
  align-items: center;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

  h3 {
    font-size: 13px;
    font-weight: bold;
  }

  button {
    padding: 4px 11px;
    background: #222;
    border-color: #5c6369;
  }

  div > .btn-active {
    background: #01457b;
  }

  .btn-group {
    width: 78%;
  }
}

.charting-date-row {
  text-align: right;
  margin-top: 6px;

  .charting-date-button {
    width: 78%;

    span {
      padding: 3px 9px;
      font-weight: normal;
    }
  }
}

#map-view-checkbox-case {
  margin-left: 58px;
}

.charting-info-container,
.charting-calendar-container {
  text-align: center;
  font-size: 1.4em;
  margin-right: 10px;
}

.charting-icons {
  display: flex;
}

.modal-dialog.chart-dialog {
  top: 80px;
}

.modal-dialog.chart-error {
  position: absolute;
  width: 25%;
  left: 37.5%;
  top: 160px;
}

#charting-date-modal {
  top: var(--charting-date-modal-offset);
  left: 305px;
  right: unset;
  width: 325px;

  .thru-label {
    bottom: 22px !important;
  }
}

#charting-stats-modal {
  width: 300px;

  .modal-title {
    margin-right: 10px;
  }

  .modal-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  }
}

.charting-simple.charting-statistics-container {
  padding: 0 18px;
  margin: auto;
}

.charting-statistics-row {
  margin: 0 0 1em;
  padding: 0.25em 0;
}

.charting-statistics-value {
  float: right;
  font-weight: bold;
}

.recharts-legend-item {
  font-weight: bold;
}

.charting-chart-container .charting-disclaimer {
  padding: 18px;
}

.charting-disclaimer {
  line-height: 1.3em;
  text-align: left;
}

.charting-disclaimer-pre {
  margin-right: 8px;
}

.charting-disclaimer-lower {
  margin-top: 10px;
}

.wv-alert-icon {
  color: #d54e21;
  font-size: 1.4em;
  margin: 10px 18px 0 8px;
  float: left;
}

.charting-disclaimer-block {
  line-height: 20px;
}

.charting-buttons {
  position: absolute;
  right: -10px;
  bottom: -37.5px;
  width: calc(100% + 20px);

  #charting-create-button {
    float: right;
    margin-right: 10px;
    width: 138px;
    height: 27.5px;

    .button-text {
      display: block;
      font-size: 13px;
      padding: 3px 0;
    }
  }
}

.charting-indicator {
  font-size: 1.25em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#charting-chart {
  max-width: 850px;
}

button#charting-simple-stats-button {
  border-right: 3px solid black;
}

.charting-info {
  text-align: left;
  margin-bottom: 12px;
}

.charting-feedback {
  color: #7bf !important;
  cursor: pointer;
}

.charting-feedback:hover {
  text-decoration: underline !important;
}

.charting-chart-inner {
  display: flex;
  justify-content: space-between;
}

.charting-stat-text {
  float: left;
  margin-left: 20px;
  padding: 18px;
  width: 100%;
}

p.recharts-tooltip-label {
  color: black;
  font-weight: bold;
}

#products-holder footer p {
  color: #ccc;
  margin: 3px 0 8px;
  line-height: 1.4em;
}

.custom-tooltip {
  background-color: #fff;
  border: 1px solid #666;
  padding: 12px;

  .label {
    line-height: 20px;

    b {
      float: right;
      margin-left: 5px;
    }
  }
}

.custom-data-rect {
  width: 10px;
  display: inline-block;
  height: 11px;
  margin-bottom: -1px;
  margin-right: 6px;
}

#products-holder footer .action {
  display: block;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  border-radius: 0;
  background: #d54e21;
  background-image: none;
  margin-right: 5px;
  font-weight: 700;
  padding: 0.5em 1em;
  line-height: normal;
}

#products-holder footer .action:hover {
  color: #333;
  background: #ccc;
}

#products-holder footer .action.ui-button-disabled {
  background-color: #000;
  color: #bebebe;
  opacity: 1;
  border: 1px solid #666;
}

#products-holder footer .action.ui-state-hover {
  color: #333;
}

#products-holder footer .action.ui-state-focus {
  background: #d54e21;
  background-image: none;
}

/* Layers Info */
.sidebar-panel li.item a.wv-layers-info {
  color: #333;
  text-align: center;
}

.sidebar-panel li.item a.wv-layers-info .wv-layers-info-icon {
  border-color: #333;
}

.sidebar-panel li.item a.wv-layers-info.disabled {
  color: #aaa;
}

.sidebar-panel li.item a.wv-layers-info.disabled .wv-layers-info-icon {
  border-color: #aaa;
}

.sidebar-panel li.item a.wv-layers-info.disabled:hover {
  cursor: no-drop;
  background-color: transparent;
}

.sidebar-panel li.layer-hidden a.wv-layers-info {
  color: #999;
}

.sidebar-panel li.layer-hidden a.wv-layers-info .wv-layers-info-icon {
  border-color: #999;
}

.sidebar-panel li.layer-hidden a.wv-layers-info.disabled {
  color: #666;
}

.sidebar-panel li.layer-hidden a.wv-layers-info.disabled .wv-layers-info-icon {
  border-color: #666;
}

.sidebar-panel li.item a {
  color: #22a;
}

/* Sidear Modal Styles */
.sidebar-modal {
  margin-left: auto;
  margin-right: auto;
  inset: 0 auto auto 298px;
  border-radius: 6px;
  position: absolute;
  max-width: 100vw;

  @media (max-width: variables.$mobile-max-width) {
    left: 0;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0;
    border-radius: 0;

    .modal-content,
    .modal-body,
    .modal-header,
    .modal-footer {
      border-radius: 0;
    }

    .modal-content {
      height: 100%;

      > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-height: calc(var(--vh, 1vh) * 100 - 2px);
        height: 100%;
      }
    }

    .modal-body {
      overflow-y: scroll;
    }
  }

  .wv-label {
    color: #fff;
    width: 100%;
    position: relative;
  }

  .wv-header {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .wv-header.wv-color-palette-label {
    margin-bottom: 0.5em;
  }
}

.layer-info-modal {
  width: 510px;

  .modal-body {
    overflow-y: scroll;
    max-height: calc(100vh - 200px);
  }

  @media (max-width: variables.$mobile-max-width) {
    width: 100%;

    .modal-body {
      overflow-y: scroll;
      max-height: 100%;
    }
  }
}

.layer-settings-modal {
  width: 300px;

  @media (max-width: variables.$mobile-max-width) {
    width: 100%;
  }

  .nav-tabs {
    border-bottom: none;
  }

  .nav-item {
    width: 100%;
    border: 1px solid #111;
    border-bottom-color: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    background: #333;

    &.dual {
      width: 136px;
    }

    &:hover {
      border: 1px solid #eee;
    }

    a.nav-link {
      border: 1px solid transparent;
      color: #fff;
    }

    &.active {
      background: #484848;
      border-color: transparent;
      color: #000;

      &:hover {
        cursor: default;
        border: 1px solid transparent;
      }

      a.nav-link {
        color: #eee;
      }
    }
  }

  .tab-content {
    padding: 5px;
    background: #484848;

    .noUi-target {
      margin: 10px 18px;
    }

    .layer-threshold-select {
      margin-top: 10px;
    }

    .wv-palette-selector {
      width: 266px;
    }

    .wv-palette-selector-row label {
      margin-left: 3px;
    }
  }

  .settings-component {
    margin-bottom: 14px;
    padding: 0 4px;
  }

  .classification-list {
    padding-top: 3px;
    padding-left: 2px;
  }

  .layer-threshold-select {
    margin-bottom: 3rem;
  }

  .wv-label-opacity,
  .wv-label-granule.count {
    text-align: right;
  }

  .wv-label-range {
    color: #fff;
  }

  .wv-label-range-min {
    float: left;
  }

  .wv-label-range-max {
    float: right;
  }

  .wv-palette-squash {
    float: right;
    margin-top: -26px;

    .wv-checkbox.gray span {
      color: #eee;
    }
  }

  /** inline-block extra spacing */
  .wv-palette-selector .wv-checkbox input {
    margin-left: 6px;
  }

  .layer-opacity-select .wv-header {
    margin-top: 0;
  }

  .layer-orbit-tracks .wv-checkbox {
    margin: 10px 0 10px 10px;
    display: flex;
    align-items: center;

    .check {
      top: unset;
    }

    & label {
      display: inline;
      text-transform: capitalize;
      margin-left: 5px;
      color: inherit;
    }
  }
}

.ReactCrop {
  z-index: 0 !important;
}