.vector-modal {
  width: 445px;
  height: 300px;
  position: absolute;
  border: none;
  box-shadow: none;
}

.vector-modal .close {
  opacity: 1;
}

.vector-modal .modal-title {
  font-weight: 800;
  padding: 0;
}

.vector-modal .modal-body {
  overflow-x: scroll;
  overflow-y: visible;
  padding: 0;
}

.vector-modal .modal-body table {
  margin: 0;
}

.vector-modal table th,
.vector-modal table .vector-feature-name-cell {
  text-transform: capitalize;
}

.vector-modal .modal-body table th {
  position: relative;
}

.vector-modal .modal-header {
  padding-bottom: 0;
  cursor: move;
  border-bottom: 1px solid #bbb;
}

.vector-modal .nav-item.active {
  background: #f8f9fa;
}

.vector-modal .active .nav-link {
  border: 1px solid #a5a6a7;
  border-bottom: none;
  color: #666;
  cursor: default;
}

.vector-modal .nav-link {
  border: 1px solid #fff;
  border-bottom: none;
  color: #333;
  cursor: pointer;
}

.vector-modal .vector-feature-name-cell {
  margin-left: 20px;
}

.vector-info-tooltip-case {
  position: relative;
}

.vector-info-tooltip-case .sub-case {
  position: absolute;
  width: 15px;
  height: 10px;
}

.vector-modal .vector-info-icon {
  position: absolute;
  font-size: 8px;
  border: 1px solid #666;
  width: 12px;
  height: 10px;
  text-align: center;
  border-radius: 50%;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-right: 10px;
  display: inline-block;
  color: #666;
}

.vector-modal .vector-info-icon:hover {
  cursor: pointer;
}
