/*a.accordionToggler { float:left; display:block; width:28px; height:36px;  border-radius: 0 10px 10px 0; -moz-border-radius: 0 10px 10px 0; -webkit-border-radius: 0 10px 10px 0; text-decoration:none; background: none no-repeat scroll center rgba(0, 0, 0, 0.88); color:#fff; position:relative; top:30px; letter-spacing:2px; font-family:"Gill Sans","Helvetica",sans-serif;}
a.atcollapse {background-image: url("../images/expandIn.png"); }
a.atexpand {background-image: url("../images/expandOut.png");}*/
.accordion {position:relative;}
.ui-accordion { float:left; display:block; width:230px; /* background:rgba(50,50,60,0.89); */color:#fff; font: 1.05em "Gill Sans",sans-serif; text-shadow:none; font-weight:120;}
.ui-accordion{ border-radius: 0 20px 20px 0; -moz-border-radius: 0 20px 20px 0; -webkit-border-radius: 0 20px 20px 0; background: none repeat scroll 0 0 rgba(0,0,0,0.8); border:rgba(0,0,0,0.35) 10px solid; border-width:10px 10px 10px 0;}
.ui-accordion a{ display: block; text-decoration:none;}


.ui-accordion label span.accordionLabel {display:inline-block; font-weight:250;}
.ui-accordion label span.accordionSub {display:block; font-weight:200; margin-left:21px;}

a.ui-accordion-header { border-radius: 0 0 0 0; border: rgba(30,30,30,0.2) 1px solid; border-width: 0 0 1px 0; color:#fff;  padding:2px 5px;}
ul.ui-accordion-content {
	list-style-type:none; background: rgba(10,10,10,0.1); border-radius: 0 0 0 0; color:#fff; font-size:.85em; display:block; overflow-y:auto !important; overflow-x:hidden !important; height:150px !important;}
ul.ui-accordion-content li{border:rgba(30,30,30,0.2) 1px solid; background: rgba(228,108,10,0.1); border-width: 1px 0 1px 0; width:100%; padding: 2px 0px 2px 10px; }
a.ui-accordion-header span { margin-left:5px;}
a.ui-accordion-header span.ui-icon { }
a.ui-accordion-header span.ui-icon-triangle-1-e { margin: 2px 0 0 0; float:left; width:14px; height:12px; display:block; background:transparent url("../images/collapsed.png");}
a.ui-accordion-header span.ui-icon-triangle-1-s { margin: 2px 0 0 0;float:left; width:14px; height:12px; display:block; background:transparent url("../images/expanded.png"); } 