#dataDownload {
    padding-top: 10px;
    display: inline-block; 
    float: left;  
    width: 100%; 
    height: 100%; 
    font-size: 1em; 
    color: #222; 
    text-shadow: none; 
}

#dataDownload div.ui-button {
    margin-left: 20px;
    margin-right: 20px;
}

#DataDownload_DownloadListPanel .bd {
    background-color: rgb(25, 28, 32);
    overflow: auto;
    padding: 10px; 
    color: #FFFBE7;
}

#DataDownload_DownloadListPanel ul {
    display: list; 
    margin: 0 5px;
}

#DataDownload_DownloadListPanel li {
    margin-top: 3px;
    display: list-item;
    list-style-type: none;  
}

#DataDownload_DownloadListPanel h3 {
    font-size: 12pt;
    font-weight: bold;
    color: #FFFBE7;
}

#DataDownload_DownloadListPanel h5 {
    font-size: 10pt;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #FFFBE7;
}

#DataDownload_DownloadListPanel a {
    text-decoration: none;
}

#DataDownload_DownloadListPanel a:link {
    color: #82cdfa;
}

#DataDownload_DownloadListPanel a:visited {
    color: #82cdfa;
}

#DataDownload_DownloadListPanel hr {
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #404040;
    margin: 1em 0; 
    padding: 0;
}

#DataDownload_DownloadListPanel td {
    border-bottom: 1px solid #303030;
    padding: 5px;
    vertical-align: top;
}

#DataDownload_Notice {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccccff;
    border-radius: 5px;
    background-color: #ddddff;
    padding: 5px;
}

#DataDownload_Notice .icon {
    width: 32px;
    height: 32px;
    float: left;
}

#DataDownload_Notice .text {
    padding-left: 42px;
    color: #000000;
}

#DataDownload_Notice .text a {
    color: #202070;
}

#DataDownload_DownloadListPanel div.wget {
    float: right;
}

#DataDownload_SelectionListPanel .bd {
    background-color: rgb(25, 28, 32);
    overflow: auto;
    padding: 10px; 
    color: #FFFBE7;
}

#DataDownload_GranuleList .button {
    width: 16px;
    height: 16px;
}

#DataDownload_GranuleList td {
    padding: 3px;
}