#dataDownload {
    padding-top: 10px;
    display: inline-block; 
    float: left;  
    width: 100%; 
    height: 100%; 
    font-size: 1em; 
    color: #222; 
    text-shadow: none; 
}

#dataDownload div.ui-button {
    margin-left: 20px;
    margin-right: 20px;
}

#DataDownload_SelectionListPanel .bd {
    overflow: auto;
    padding: 10px; 
}

#DataDownload_SelectionListPanel ul {
    display: block; 
    margin: 0 1.12em;
}

#DataDownload_SelectionListPanel li {
    display: list-item;  
}


