/* primary containers */
#eventsContainer { 
	display:block; 
	float:right; 
	z-index:200; 
	width:238px; 
	height:300px; 
	position:absolute; 
	right:0; 
	top:30%;
	font: 10px/12px "Gill Sans","helvetica",sans-serif; 
	text-shadow:none;
	color: #141b4c;
}

#eventsHolder { 
	display:block; 
	float:right; 
	z-index:200; 
	width:238px; 
	height:300px; 
	position:absolute; 
	right:0; 
	top:30%;
	font: 10px/12px "Gill Sans","helvetica",sans-serif; 
	text-shadow:none;
	color: #141b4c;
}

#events {
    display: block;
    float: right;
    right: 0;
    position: relative;
}

.events { 
	display:block; 
	position:relative; 
	float:right; 
	width: 210px; 
	min-height:275px; 
	max-height:300px; 
	background: none repeat scroll 0 0 rgba(38, 43, 49, 0.65); 
	border-radius: 10px 0 0 10px;
	overflow:hidden;
}

.events .jspContainer {
	height:240px;
}

/* toggling */
a.evaccordionToggler { 
	float:right; 
	display:inline-block; 
	width:28px; 
	height:36px; 
	border-radius: 10px 0 0 10px; 
	-moz-border-radius: 10px 0 0 10px; 
	-webkit-border-radius: 10px 0 0 10px; 
	text-decoration:none; 
	background: none no-repeat scroll center rgba(45,50,55,0.65); 
	color:#fff; 
	position:relative; 
	top:30px; 
	letter-spacing:2px; 
	font-family:"Gill Sans","Helvetica",sans-serif;
}

a.evcollapse {
	display:inline-block; 
	background-image:url("../images/expandOut.png"); 
}

a.evexpand {
	display:inline-block; 
	background-image: url("../images/expandIn.png");
}

.events h1, .events h2, .events h3, .events h4 {margin:0px; padding:0px; position:relative; }
.events h2 {display:block; color:#fffbe7; font-size: 14px; font-weight:100; border:none; padding:6px 0;}
.events h3 {display:block; color:#fffb27; font-size: 12px; font-weight:100; border:none; text-decoration:none; }
.events h4 { color: #ffffff; }
.events div,.events ul {display:block; overflow:hidden; width:100%; margin:0 auto;}
.events ul h3 {}

/* blue header bar */
.events div.header {margin: auto; text-align: center; position:relative;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.7) 0%, rgba(11,95,160,0.7) 23%, rgba(0,88,156,0.7) 24%, rgba(0,81,144,0.7) 99%, rgba(0,81,144,0.7) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(23%,rgba(11,95,160,0.7)), color-stop(24%,rgba(0,88,156,0.7)), color-stop(99%,rgba(0,81,144,0.7)), color-stop(100%,rgba(0,81,144,0.7))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(11,95,160,0.7) 23%,rgba(0,88,156,0.7) 24%,rgba(0,81,144,0.7) 99%,rgba(0,81,144,0.7) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(11,95,160,0.7) 23%,rgba(0,88,156,0.7) 24%,rgba(0,81,144,0.7) 99%,rgba(0,81,144,0.7) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(11,95,160,0.7) 23%,rgba(0,88,156,0.7) 24%,rgba(0,81,144,0.7) 99%,rgba(0,81,144,0.7) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.7) 0%,rgba(11,95,160,0.7) 23%,rgba(0,88,156,0.7) 24%,rgba(0,81,144,0.7) 99%,rgba(0,81,144,0.7) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#b3005190',GradientType=0 ); /* IE6-9 */
}

.events div.header h2{margin: auto; text-align: center; float: none}

/* entry list */
.events ul {max-height:240px; height:240px;}
.events ul.entry { min-height:50px; }
.events ul.entry li h3 {display:block; clear:both; float:none;}


/* entry list items */
.events li.item {
	border:solid; border-width:3px; border-color:transparent;
	padding:0; display:block; width:188px; max-width:188px; padding:8px 9px 8px 3px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.54) 0%, rgba(2,2,2,0.54) 1%, rgba(78,78,78,0.54) 50%, rgba(0,0,0,0.54) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.24)), color-stop(1%,rgba(2,2,2,0.24)), color-stop(50%,rgba(78,78,78,0.24)), color-stop(100%,rgba(0,0,0,0.24))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.24) 0%,rgba(2,2,2,0.24) 1%,rgba(78,78,78,0.24) 50%,rgba(0,0,0,0.24) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.24) 0%,rgba(2,2,2,0.24) 1%,rgba(78,78,78,0.24) 50%,rgba(0,0,0,0.24) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.24) 0%,rgba(2,2,2,0.24) 1%,rgba(78,78,78,0.24) 50%,rgba(0,0,0,0.24) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.24) 0%,rgba(2,2,2,0.24) 1%,rgba(78,78,78,0.24) 50%,rgba(0,0,0,0.24) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d000000', endColorstr='#3d000000',GradientType=0 ); /* IE6-9 */
}


.events li.item a {float:none; position:relative; top:-8px; right:-8px;color:#fff; font-size:0.78em;}
.events li.item a.hdanchor {display:inline-block;  overflow:hidden;}
.events li.item h4 {font-size:0.85em; padding:0 3px;}
.events li.item p {padding:0 3px; color:#fff; font-size:0.78em;}
.events li.item span.palette {display:block; overflow:hidden; margin-top:5px; margin-left:5px;}
.events li.item ul.palette li {float:left;}
.events ul.category {  overflow:auto; }
.events ul.category li h3 {display:block; clear:both; float:none;}
/*.events li.item p {color:#fffbe7;}
.events li.item a {float:none; position:relative; top:-8px; right:-8px;}
.events li.item h4 {font-size:9px; font-weight:bold; }
.events li.item span.palette {display:block; width:185px; overflow:hidden; margin-top:5px;}
.events li.item ul.palette li {float:left;}*/
.events li.sel {border-color:rgba(0,81,144,0.7);}
.events img.thumb {float:left; width:10}
 
