@font-face {
    font-family: 'Ubuntu Condensed';
    font-style: normal;
    font-weight: 400;
    src: url(../font/UbuntuCondensed-Regular.ttf) format('ttf');
}
*:focus {
    outline: 0;
}


/************************Timeline!****************************/
#timeline{
    position:absolute;
    bottom:10px;
    left:10px;
}
#timeline footer text{
    font-size:16px;
    font-weight:normal;
    font-family:'Arial Narrow';
    font-style:normal;
    font-variant:normal;
    font-stretch:normal;
    text-align:start;
    line-height:125%;
    letter-spacing:0px;
    word-spacing:0px;
    writing-mode:lr-tb;
    text-anchor:start;
    fill-opacity:1;
    stroke:none;
}
.x.axis .tick text{
    fill:#ccc;
}
#timeline header{
    background:url("../images/bg-not-front.gif") transparent 20% 50% no-repeat;
}
#timeline header input{
    
    height:60px;
    background:transparent;
    border:1px solid transparent;
    color:#ccc;
    font-size:33px;
    font-family:'Arial Narrow', sans-serif;
    vertical-align:middle;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
@media all{
    #timeline header input::selection{
        background:#2059a6;
    }
    #timeline header input::-moz-selection{
        background:#2059a6;
    }
    #timeline header input::-webkit-selection{
        background:#2059a6;
    }
}

/* Temporary sizing of inputs until something more dynamic can be made */
#timeline header input:nth-child(1){width:2em;padding:3px;}
#timeline header input:nth-child(2){width:1.8em;padding:3px;}
#timeline header input:nth-child(3){width:1.1em;padding:3px;}


#timeline header input:hover{
    border-color:#fff;
}
#timeline header .button-input-group-selected{
    border-color:#fff;
}
#timeline header input::-webkit-selection {color:#1a1a1a;background:#fff;}
#timeline header div{
display:inline-block;}
#timeline header svg {
    width:40px;
    height:60px;
    vertical-align:middle;
}
#timeline header>div:hover {
    background-color:#ffffff;
    cursor:pointer;
}
#timeline header>div:hover .arrow{
    fill:#1a1a1a;
}
#timeline header svg .arrow{
    -webkit-transform: translate(8px,0px);
    fill:#cccccc;
    fill-opacity:1;
    stroke:none;
    
}
#timeline header, #timeline footer{
    display:inline-block;
    vertical-align:middle;
}
#timeline footer{
    height:60px;
    margin-left:-5px;
    background:rgba(0,0,0,0.8);
}



/* Timeline svg classes */
.plot {
    fill: rgba(250, 250, 255, 0);
}
.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}
.axis path, .axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}
.x.axis path {
    display: none;
}
.line {
    fill: none;
    stroke: none;
    
}
.line2 {
    fill: steelblue;
    stroke: transparent;
    stroke-width: 1px;
    cursor:pointer;
}

.hoverkill{
    fill: steelblue;
    stroke-width:1px;
    stroke:transparent;
}
.hover-line{
    fill:none;
    stroke:#ff2a2a;
    stroke-width: 3px;
}
.hover-text{
    fill:red;
    font-weight:normal;
    font-size:12px;
}
#timeline-text{
    color:black;
    font-size:14px;
    font-weight:bold;
    position:absolute;
    bottom:75px;
    left:0;
    display:none;
    background-color:#ff2a2a;
    border:2px solid #ff7070;
    padding:5px;
    border-radius:5px;
}
svg#now-line{
    position:absolute;
    bottom:0px;
    left:0;
    width:18px;
    height:79px;
    cursor:pointer;
}

.arrow-outer {
    fill:#548edd;
    fill-opacity:1;
    stroke:#222222;
    stroke-width:0.5;
    stroke-opacity:1;
}
svg#now-line rect.arrow-inner{
    stroke-width:0.5;
    stroke:transparent;
}
svg#now-line:hover .arrow-outer{
    stroke:#fff;
}
svg#now-line:hover rect.arrow-inner{
    stroke:#fff;
}
.arrow-inner{
    fill:#2059a6;
    fill-opacity:1;
}

.arrow-inner-line{
    fill:#222222;
    fill-opacity:1;
}
