.wv-checkbox {
  position: relative;

  & input[type="checkbox"] {
    margin: 3px 1px;
    vertical-align: middle;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 24px;
    width: 24px;
    left: 0;
  }

  .check {
    position: absolute;
    color: #fff;
    left: 1px;
    top: 4px;
    pointer-events: none;
  }

  label {
    color: #fff;
    cursor: pointer;

    span {
      line-height: 22px;
    }
  }
}

.wv-checkbox::before {
  border: 1px solid #b5b5b7;
  content: "\00a0";
  display: inline-block;
  font-size: 12px;
  height: 16px;
  line-height: 14px;
  margin-right: 5px;
  min-width: 16px;
  text-align: center;
  border-radius: 2px;
  margin-top: 3px;
}

.wv-checkbox.gray label {
  color: #666;
}

.wv-checkbox.gray::before {
  border: 1px solid #b5b5b7;
}

.wv-checkbox.checked::before {
  color: #fff;
  background-color: #1d67e3;
  border: 1px solid #1b50a6;
}

.wv-checkbox.gray.checked::before {
  background-color: #1d67e3;
  border: 1px solid #1b50a6;
}

.wv-checkbox.wv-checkbox-round::before {
  border-radius: 50%;
}
