.wv-date-selector-widget .input-wrapper,
.date-arrow-wrapper {
  background: transparent;
  border: 1px solid transparent;
  vertical-align: middle;
  box-sizing: border-box;
}

.wv-date-selector-widget .input-wrapper:nth-child(2) {
  max-width: 60px;
}

.wv-date-selector-widget .input-wrapper:nth-child(3) {
  max-width: 50px;
}

.wv-date-selector-widget .input-wrapper:nth-child(4) {
  max-width: 35px;
}

.disabled .wv-date-selector-widget .input-wrapper {
  &:hover {
    border: 1px solid transparent;
  }

  input {
    cursor: default;
  }
}

.disabled .wv-date-selector-widget {
  .date-arrows:hover {
    background-color: transparent;
    cursor: default;
  }

  .date-arrows svg path {
    visibility: hidden;
  }
}

.wv-date-selector-widget {
  div {
    display: inline-block;
  }

  input {
    color: #fff;
    background: transparent;
    border: 0;
    font-family: $wv-monospace-font;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0;
    height: inherit;
    text-align: center;
    width: 100%;
  }

  .input-wrapper:hover {
    border-color: #666;

    &.disabled {
      border-color: transparent;
    }

    .date-arrows {
      visibility: visible;

      &.disabled {
        visibility: hidden;
      }
    }

    .date-arrows svg path {
      fill: #888;

      &.disabled {
        fill: trasparent;
      }
    }
  }

  .input-wrapper.selected {
    border-color: #fff;

    .date-arrows svg path {
      fill: #fff;
    }
  }
}

.button-action-group {
  height: 40px;
  width: 40px;
  vertical-align: middle;
  position: relative;
}

.wv-date-selector-widget .button-action-group svg path {
  fill: #fff;
}

.wv-date-selector-widget .date-arrows-wrapper {
  vertical-align: middle;
  visibility: hidden;
  display: inline-block;
}

.wv-date-selector-widget .date-arrows,
.date-arrows {
  display: block;
  height: 10px;
}

.zoom-level-change-arrows .date-arrows {
  height: 13px;
}

.wv-date-selector-widget .date-arrows svg,
.date-arrows svg {
  vertical-align: top;
  display: block;
  margin: 0 auto;
}

.wv-date-selector-widget .date-arrows svg path,
.date-arrows svg path {
  fill: #666;
}

.wv-date-selector-widget .input-wrapper:hover .date-arrows:hover svg path,
.date-arrows:hover svg path {
  fill: #1a1a1a;
}

.wv-date-selector-widget .date-arrow-down,
.date-arrow-down {
  transform: scaleY(-1);
  filter: flipv;
  filter: "FlipV";
}

.wv-date-selector-widget .date-arrows:hover,
.wv-date-selector-widget > .button-action-group:hover,
.zoom-level-change-arrows .date-arrows:hover {
  background-color: #fff;
  cursor: pointer;
}

.wv-date-selector-widget > .button-action-group.button-disabled:hover {
  background-color: transparent;
  cursor: default;
}

.wv-date-selector-widget .button-action-group svg {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 50%;
  margin-left: -12px;
}

.wv-date-selector-widget #left-arrow-group {
  transform: scaleX(-1);
}

.wv-date-selector-widget #left-arrow-group svg {
  filter: fliph;
  filter: "FlipH";
}

.wv-date-selector-widget > .button-action-group:hover .arrow {
  fill: #1a1a1a;
  fill-opacity: 1;
  stroke: none;
}

.wv-date-selector-widget > .button-action-group.button-disabled .arrow {
  fill: #333;
}

.wv-date-selector-widget > .button-action-group.button-disabled:hover .arrow {
  fill: #333;
}

#timeline-footer,
#timeline-hide,
.wv-date-selector-widget {
  float: left;
}

.wv-date-selector-widget .wv-animate {
  color: #fff;
  font-size: 2.5em;
  margin: 12px 0 0 2px;
}

.wv-date-selector-widget .wv-animate:hover {
  color: #1a1a1a;
}

.wv-date-range-selector {
  height: 48px;
  width: 100%;
  position: relative;
  margin: 0;

  .wv-date-selector-widget {
    position: absolute;

    .input-wrapper {
      z-index: 99;
      text-align: center;
      margin: 0 1px;
    }

    .input-wrapper-month {
      width: 34px;
    }

    .input-wrapper-year {
      width: 44px;
    }

    .input-wrapper-day,
    .input-wrapper-hour,
    .input-wrapper-minute {
      width: 32px;
    }

    .input-wrapper-hour {
      margin-left: 8px;
    }

    .input-time-divider {
      font-family: $wv-monospace-font;
      font-size: 15px;
      vertical-align: middle;
      width: 5px;
      margin-left: -5px;
    }

    .input-time-zmark {
      font-family: $wv-monospace-font;
      font-size: 15px;
      vertical-align: middle;
      margin-top: 2px;
      margin-left: -2px;
    }

    svg {
      margin: 0 auto;
    }

    input {
      height: inherit;
      text-align: center;
      width: 100%;
    }
  }

  .wv-date-selector-widget:nth-child(1) {
    left: 5px;
  }

  .wv-date-selector-widget:nth-child(3) {
    right: 5px;
  }

  .thru-label {
    position: absolute;
    transform: translate(-50%, 0);
    color: #fff;
    left: 50%;
    text-align: center;
    bottom: 16px;
    z-index: 0;
  }
}
