/* universal/default modal styles */
.modal-dialog {
  @include wv-modal-dialog;

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 17px;
  }

  p {
    line-height: 16px;
  }

  a {
    color: #7bf;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .modal-header {
    padding: 8px 10px;
    border-bottom: 1px solid #666;
    background-color: #333;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;

    .close {
      opacity: 1;
      font-size: 26px;
      font-weight: 400;
      padding: 10px 12px;
      color: #cacaca;
      text-shadow: 1px 1px 1px #000;

      &:hover {
        color: #fff;
        opacity: 1;
        text-shadow: 0 0 3px #000;
      }
    }
  }

  .modal-body {
    background-color: #222;
    border-radius: $wv-menu-border-radius;

    & .modal-footer {
      padding-bottom: 0;
      margin: 14px -13px 0;
    }
  }

  .modal-footer {
    border-top: 1px solid #666;
  }
}

.modal-body .basic-modal {
  h1 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 15px;
  }

  p,
  li {
    line-height: 18px;
    margin-bottom: 10px;
    margin-left: 5px;
  }

  ol li {
    margin-left: 20px;
    margin-top: 10px;
    line-height: 18px;
  }
}

.modal-content {
  border: none;
  border-radius: 6px;
}

.modal-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  padding: 4px;
}

.modal-dialog .default-modal,
.modal-dialog .modal-content {
  background: #282828;
  color: #eee;

  @include wv-modal-content;
}

.modal-body pre {
  color: #eee;
}

.modal-close-btn {
  color: #ddd;
  background: transparent;
  border: none;
  font-size: 26px;
  font-weight: 400;
  padding-bottom: 4px;
  text-shadow: 1px 1px 1px #000;
}

.modal-close-btn:hover {
  color: #fff;
}

.vector-close-btn {
  color: #777;
  background: transparent;
  border: none;
  font-size: 24px;
}

.vector-close-btn:hover {
  color: #333;
}

.clickable-behind-modal .modal {
  position: inherit;
}

.draggable-modal .modal {
  position: fixed;
}

.react-draggable.modal-dialog {
  position: absolute;
}

.template-modal.modal-dialog {
  max-width: 625px;
}

.template-modal .modal-content {
  width: 625px;
}

.template-modal .modal-body ul {
  margin: 10px 0;
  padding-left: 20px;
}

.template-modal .modal-body li {
  display: list-item;
  list-style-type: disc;
  margin: 2px 0 2px 20px;
}

.dynamic-modal.modal-dialog {
  position: absolute;
}

.notify .modal-footer {
  border: none;
}

/* light modal styling */
.modal-dialog.light .modal-content {
  background-color: #dcdcdc;
  color: #000;
}

.modal-dialog.light .modal-header {
  color: #343a40;
  background: #ddd;
}

.modal-dialog.light .modal-header .close {
  color: #777;
  text-shadow: 1px 1px #eee;

  &:hover {
    color: #333;
  }
}

.modal-dialog.light .modal-body {
  background: #eee;
}

.modal-backdrop.show {
  opacity: 0 !important;
  background-color: transparent !important;
}
