.wv-radio {
  & input[type="radio"] {
    margin: 3px 1px;
    vertical-align: middle;
  }

  input {
    appearance: none !important;
    width: 16px;
    height: 16px;
    border: 1px solid #eee;
    border-radius: 50%;
    background: none;
    position: relative;
  }


  label {
    color: #fff;
    cursor: pointer;

    span {
      line-height: 22px;
    }
  }
}

.wv-radio.checked input {
  appearance: none !important;
  width: 16px;
  height: 16px;
  border: 2px solid #eee;
  border-radius: 50%;
  background: #1d67e3;
  box-shadow: 0 0 0 1px #1d67e3;
  position: relative;
}

.wv-radio.gray label {
  color: #666;
}