.react-switch {
  display: flex;
  margin-bottom: 7px;
}

.classification-switch-header {
  display: flex;
  justify-content: space-between;

  .react-switch {
    flex-direction: row-reverse;
  }

  .react-switch-case {
    width: 30px;
  }

  .react-switch-label-case {
    width: 20px;
  }
}

.react-switch .switch-col {
  align-items: flex-start;
  display: flex;
}

.switch-col {
  width: 100%;
  margin-left: 5px;
}

.react-switch-case {
  width: 40px;
  align-items: flex-start;
}

.react-switch-label-case {
  svg.svg-inline--fa {
    margin-left: 5px;
  }
}

.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  width: 30px;
  height: 15px;
  background: rgb(128 128 128);
  border-radius: 30px;
  position: relative;
  transition: background-color 0.2s;

  &:focus {
    box-shadow: 0 0 3px 2px rgb(255 255 255 / 75%);
  }
}

.react-switch-label .react-switch-button {
  content: "";
  position: absolute;
  left: 2px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  transition: transform 0.2s linear;
  background: #fff;
  box-shadow: 0 0 2px 0 rgb(10 10 10 / 29%);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  transform: translateX(75%);
}

.switch-thin-border .react-switch-label {
  border: thin solid rgb(97 97 97);
  height: 17px;
  width: 32px;
}

.switch-label-text {
  cursor: pointer;
  color: #fff;
}
