/* Bootstrap override */
.tooltip {
  z-index: 1050;

  /* Fixes issue with flicker but, breaks autohide=false */
  pointer-events: none;

  a {
    color: #7bf;
  }

  &.tooltip-inner:not(.zot-tooltip) {
    user-select: none;
  }
}

.tooltip-icon {
  cursor: help;
}

.wv-tooltip-case {
  display: inline-block;
  position: relative;
}

.wv-tooltip-case span {
  z-index: 2;
  cursor: pointer;
  font-weight: 700;
  color: #ce4c21;
}

.wv-tooltip-case .wv-tooltip {
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  border-bottom: 10px solid transparent;
}

.wv-tooltip-case .wv-tooltip::after {
  position: absolute;
  top: 100%;
  left: 15%;
  content: "";
  border-top: 5px solid #000;
  border-top: 5px solid hsl(0deg 0% 20% / 90%);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.wv-tooltip-case .wv-tooltip ul {
  background-color: #000;
  background-color: hsl(0deg 0% 20% / 90%);
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px;
  list-style: none;
}

.wv-tooltip-case .wv-tooltip ul li:hover {
  cursor: pointer;
  color: #ce4c21;
  opacity: 0.9;
}

.wv-tooltip-case .wv-tooltip ul li + li {
  margin-top: 5px;
}

/* Timeline Tooltip */
.date-tooltip {
  background: #212121;
  color: #fff;
  border: thin solid #666;
  font-size: 17px;
  font-family: $wv-monospace-font;
  border-radius: 5px;
  height: 25px;
  line-height: 23px;
  white-space: nowrap;
  user-select: none;
  padding-left: 8px;
  position: relative;
  z-index: 101;
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms ease;
}

.date-tooltip-fade {
  opacity: 1;
}

.date-tooltip-day {
  position: relative;
  bottom: 1px;
  font-size: 14px;
  font-family: $wv-monospace-font;
  font-weight: 300;
}

/* Tooltip Custom - Measurement Tool, Location Search Coordinates */
.tooltip-custom-black {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  font-family: $wv-monospace-font;
  background: #000;
  border-radius: 4px;
  color: #fff;
  padding: 5px 8px;
  white-space: nowrap;
  box-shadow: $wv-tooltip-shadow;
  border: 1px solid rgb(255 255 255 / 50%);

  &.tooltip-active {
    opacity: 0.85;
    color: #ddd;
    background-color: #333;
  }

  &.tooltip-static {
    color: #fff;
    background-color: #000;
  }

  &.tooltip-active::before,
  &.tooltip-static::before {
    border-top: 6px solid rgb(0 0 0 / 100%);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
  }

  &.tooltip-static::before {
    border-top-color: #000;
  }

  &.tooltip-coordinates-container {
    max-width: 420px;
    bottom: 6px;

    & svg.svg-inline--fa.fa-copy {
      position: absolute;
      right: 6px;
      bottom: 6px;
    }

    & .copy-coordinates-to-clipboard-button {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 20px;
      width: 23px;
    }
  }

  .tooltip-coordinates-title {
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 17px;
    font-size: 16px;
    padding-right: 50px;
  }

  .tooltip-coordinates {
    margin-top: 6px;
    padding-right: 26px;
  }

  .close-tooltip,
  .minimize-tooltip {
    padding-left: 6px;
    margin-left: 8px;
    border-left: 1px solid #777;

    &.close-coordinates-tooltip,
    &.minimize-coordinates-tooltip {
      position: absolute;
      padding: 3px 0 3px 6px;
      top: 0;
    }

    &.close-coordinates-tooltip {
      right: 6px;
    }

    &.minimize-coordinates-tooltip {
      right: 30px;
    }
  }

  .svg-inline--fa {
    width: 12px;
    color: #ccc;

    &:hover {
      cursor: pointer;
      color: #fff;
    }
  }
}

/* bootstrap overrides */
#center-align-tooltip {
  padding: 7px !important;
  border-radius: 5px !important;
}

#coordinate-setting-tooltip {
  width: 80%;
  position: relative;
  right: -40px;
  top: 10px;
}

#kiosk-setting-tooltip {
  width: 70%;
  padding: 4px;
  position: relative;
  top: 10px;
}

#temperature-setting-tooltip {
  width: 70%;
  padding: 4px;
  position: relative;
  top: 10px;
}

@media (max-width: $mobile-max-width) {
  .tooltip-custom-black {
    &.tooltip-coordinates-container {
      max-width: 320px;
    }
  }
}
