# Requires mod_expires to be enabled.
<IfModule mod_expires.c>
  # Enable expirations.
  ExpiresActive On

  #Dont cache html files or php
  <FilesMatch \.(html|php|txt)$>
     ExpiresDefault A0
  </FilesMatch>
  #cache for one hour
  <FilesMatch \.(css|javascript|jsp)$>
     ExpiresDefault A3600
  </FilesMatch>
  #cache for one day
  <FilesMatch \.(jpg|png|gif|jpeg|icon|wav|mpeg|mp4|fla)$>
     ExpiresDefault A86400
  </FilesMatch>
</IfModule>

Header set Cache-Control "no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
