body {
    padding: 20px;
    background: #eeeeee;
}

.layer {
    padding: 10px;
    margin: 10px;
    width: 250px;
    background: white;
    border: 1px solid black;
    text-align: center;
}

.layer .name {
    text-align: center;
}

.name {
    font-size: 9pt;
}

.palette {
    margin: 5px;
    width: 200px;
    height: 30px;
    border: 1px solid black;
}
