/** React-Swipe-To-Delete Overrides */
.swipe-to-delete .js-content :first-child {
    position: relative !important;
    border: 3px solid red !important;
  }

  .layers-all .swipe-to-delete .js-delete {
    margin-top: 5px;
  }
