# Requires mod_expires to be enabled.
<IfModule mod_exipres.c>
  # Enable expirations.
  ExpiresActive On
  ExpiresDefault A0
</IfModule>

<IfModule mod_headers.c>
  Header set Cache-Control "no-cache, must-revalidate"
</IfModule>

Options +ExecCGI
AddHandler cgi-script .cgi

