# Template for layer PRs
name: Layer PR Checklist

on:
  push:
    paths:
      - 'config/default/common/config/wv.json/layers/**'

jobs:
  layer-pr-template:
    name: 'Create PR with Layers Template'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: pull-request
        uses: repo-sync/pull-request@v2
        with:
          destination_branch: "develop"
          pr_title: "Add/modify layers ${{ github.ref }}"
          pr_label: "layer"
          pr_template: ".github/LAYER_PULL_REQUEST_TEMPLATE.md"
          pr_draft: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
